<div layout-align='center center' layout-gt-xs='row' layout-margin *ngIf='done'>
  <div layout='row' flex-gt-xs='80' layout-margin>
    <div flex layout-margin>

      <!--cabeçalho div-->
      <div layout='column' layout-margin header>
        <div layout='row' layout-align='start center'>

          <div layout='column' layout-margin>
            <h1 class='mat-headline tc-grey-500' flex>Configurações</h1>
          </div>
        </div>
      </div>

      <mat-card class='bgc-grey-50'>
        <form [formGroup]='form' (ngSubmit)='save(form)' novalidate>
          <mat-card-content>

            <div layout='column' layout-margin>
              <div layout='row' layout-align='start center'>
                <div layout='column' layout-margin>
                  <h2 class='mat-subheading-2 tc-grey-500' flex>Configurações gerais do sistema</h2>
                </div>
              </div>

              <div layout-align='center center' layout-gt-xs='row' layout-xs='column' layout-margin>
                <div layout='column' layout-align='center center' flex>
                  <button mat-button type='button'>
                    <div layout='column' layout-align='center center'>
                      <mat-icon style='fill: #c21c1f' svgIcon='assets:pessimo'></mat-icon>
                    </div>
                  </button>
                  <mat-form-field flex>
                    <input formControlName='um'
                           matInput name='um' id='um'
                           [(ngModel)]='configuracao.um'
                           placeholder='Péssimo' maxlength='144'>
                    <mat-error>
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>

                <div layout='column' layout-align='center center' flex>
                  <button mat-button type='button'>
                    <div layout='column' layout-align='center center'>
                      <mat-icon style='fill: #e96d01' svgIcon='assets:ruim'></mat-icon>
                    </div>
                  </button>
                  <mat-form-field flex>
                    <input formControlName='dois'
                           matInput name='dois' id='dois'
                           [(ngModel)]='configuracao.dois'
                           placeholder='Ruim' maxlength='144'>
                    <mat-error>
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>

                <div layout='column' layout-align='center center' flex>
                  <button mat-button type='button'>
                    <div layout='column' layout-align='center center'>
                      <mat-icon style='fill: #d4c40d' svgIcon='assets:meia-boca'></mat-icon>
                    </div>
                  </button>
                  <mat-form-field flex>
                    <input formControlName='tres'
                           matInput name='tres' id='tres'
                           [(ngModel)]='configuracao.tres'
                           placeholder='Regular' maxlength='144'>
                    <mat-error>
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>

                <div layout='column' layout-align='center center' flex>
                  <button mat-button type='button'>
                    <div layout='column' layout-align='center center'>
                      <mat-icon style='fill: #8fc82c' svgIcon='assets:bacana'></mat-icon>
                    </div>
                  </button>
                  <mat-form-field flex>
                    <input formControlName='quatro'
                           placeholder='Bom' maxlength='144'
                           [(ngModel)]='configuracao.quatro'
                           matInput name='quatro' id='quatro'>
                    <mat-error>
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>

                <div layout='column' layout-align='center center' flex>
                  <button mat-button type='button'>
                    <div layout='column' layout-align='center center'>
                      <mat-icon style='fill: #5ee924' svgIcon='assets:top-da-balada'></mat-icon>
                    </div>
                  </button>
                  <mat-form-field flex>
                    <input formControlName='cinco'
                           [(ngModel)]='configuracao.cinco'
                           matInput name='cinco' id='cinco'
                           placeholder='Ótimo' maxlength='144'>
                    <mat-error>
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <mat-divider></mat-divider>

            <div layout='column' layout-margin style='margin-top: 20px; padding-bottom: 25px'>
              <div layout='row' layout-align='start center'>

                <div layout='column' flex>
                  <div layout='column' layout-margin>
                    <h2 flex [matTooltipPosition]="'below'"
                        class='mat-subheading-2 tc-grey-500'
                        matTooltip='Logomarca e mensagem de agradecimento exibido ao término da avaliação'>
                      Logomarca e mensagem de agradecimento
                    </h2>
                  </div>
                  <div layout-xl='row' layout-lg='row' layout-align='center center' class='push-left'>

                    <div layout='column' flex='50' layout-align='center center'>
                      <div flex>
                        <brand [configuracao]="{'id': configuracao.id , 'logoPath': logoPath}"></brand>
                      </div>
                      <div flex *ngIf='logoPath'>
                        <button class='tc-grey-500' mat-button
                                type='button' (click)='removeFile()'>
                          REMOVER FOTO
                        </button>
                      </div>
                      <div flex *ngIf='!logoPath'>
                        <td-file-upload defaultColor='primary'
                                        (change)='fileChange($event)'
                                        name='file' #singleFileUpload
                                        accept='.png, .gif, .jpg, .jpeg'>
                          <span>{{ singleFileUpload?.files?.name }}</span>
                          <ng-template td-file-input-label>
                            <mat-icon>attach_file</mat-icon>
                            <span>Adicionar logomarca</span>
                          </ng-template>
                        </td-file-upload>
                      </div>
                    </div>

                    <div layout='column' layout-xl='50' layout-lg='50' flex class='push-right' layout-margin>

                      <div layout='row' flex>
                        <mat-form-field flex>
                          <input formControlName='agradecimento'
                                 [(ngModel)]='configuracao.agradecimento'
                                 matInput name='agradecimento' id='agradecimento'
                                 placeholder='Mensagem de agradecimento' maxlength='144'>
                          <mat-error>
                            Campo obrigatório
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div layout='row' flex>
                        <mat-checkbox [ngModelOptions]='{standalone: true}'
                                      style='padding: 15px; padding-left: 0'
                                      [(ngModel)]='configuracao.feedback' flex
                                      name='feedback' flex-xl='30' flex-lg='40'>
                          Solicitar feedback
                        </mat-checkbox>

                        <mat-form-field *ngIf='configuracao.feedback' flex style='margin-top: -3px'>
                          <input formControlName='feedbackEnunciado' matInput
                                 [(ngModel)]='configuracao.feedbackEnunciado'
                                 name='feedbackEnunciado' id='feedbackEnunciado'
                                 placeholder='Enunciado para o feedback' maxlength='144'>
                          <mat-error>
                            Campo obrigatório
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div layout='row' flex>
                        <mat-checkbox flex-xl='30' flex-lg='40' flex
                                      [ngModelOptions]='{standalone: true}'
                                      style='padding: 15px; padding-left: 0'
                                      [(ngModel)]='configuracao.quebrarLinhaNaSelecaoDeItenAvaliavel'>
                          Quebrar linha durante a seleção de ítens avaliáveis (no aplicativo móvel).
                        </mat-checkbox>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>

            <mat-divider></mat-divider>

            <div layout='column' layout-margin style='margin-top: 20px; padding-bottom: 25px'>
              <div layout='row' layout-align='start center'>
                <div layout='column' layout-margin>
                  <h2 flex [matTooltipPosition]="'below'"
                      class='mat-subheading-2 tc-grey-500'
                      matTooltip='Plano de fundo da tela de login e do aplicativo móvel'>
                    Plano de fundo do sistema
                  </h2>
                </div>
              </div>
              <div layout='row' layout-align='center center' class='push-left'>
                <div layout='column' flex='50' layout-align='center center'>
                  <div flex>
                    <brand [background]='true'
                           [configuracao]="{'id': configuracao.id , 'logoPath': backgroundPath}">
                    </brand>
                  </div>
                  <div flex *ngIf='backgroundPath'>
                    <button type='button' (click)='removeBackgroundFile()' class='tc-grey-500'
                            mat-button>
                      REMOVER FOTO
                    </button>
                  </div>
                  <div flex *ngIf='!backgroundPath'>
                    <td-file-upload #backgroundFileUpload
                                    accept='.png, .gif, .jpg, .jpeg'
                                    defaultColor='primary' name='file'
                                    (change)='backgroundChange($event)'>
                      <span>{{ backgroundFileUpload?.files?.name }}</span>
                      <ng-template td-file-input-label>
                        <mat-icon>attach_file</mat-icon>
                        <span>Adicionar background</span>
                      </ng-template>
                    </td-file-upload>
                  </div>
                </div>
                <span flex='50'></span>
              </div>
            </div>

            <mat-divider *ngIf='contaAutenticada?.root'></mat-divider>

            <div style='margin-top: 20px; padding-bottom: 25px'
                 *ngIf='contaAutenticada?.root' layout='column' layout-margin>
              <div layout='row' layout-align='start center'>
                <div layout='column' layout-margin>
                  <h2 flex [matTooltipPosition]="'below'"
                      class='mat-subheading-2 tc-grey-500'
                      matTooltip='Importação de dados do antigo sistema'>
                    Importação de dados
                  </h2>
                </div>
              </div>
              <div layout='row' layout-align='center center' class='push-left'>
                <div style='margin-left: 30px' layout='column' flex='50' layout-align='center start'>
                  <div flex *ngIf='importFilePath'>
                    <button class='tc-grey-500' type='button' mat-button (click)='removeImportFile()'>
                      REMOVER ARQUIVO
                    </button>
                  </div>
                  <div flex *ngIf='!importFilePath'>
                    <td-file-upload #importFileUpload
                                    defaultColor='primary'
                                    accept='.json' name='file'
                                    (change)='importFileChange($event)'>
                      <span>{{ importFileUpload?.files?.name }}</span>
                      <ng-template td-file-input-label>
                        <mat-icon>attach_file</mat-icon>
                        <span>Adicionar arquivo</span>
                      </ng-template>
                    </td-file-upload>
                  </div>
                </div>
                <button flex type='button' color='accent' mat-raised-button (click)='importt()'>
                  Enviar
                </button>
              </div>
            </div>

            <!--actions div-->
            <div flex layout-margin actions>
              <div layout-gt-xs='row' flex layout-margin>

                <span flex='70'></span>

                <button flex color='accent' mat-raised-button>
                  Salvar
                </button>
              </div>
            </div>

          </mat-card-content>
        </form>
      </mat-card>

    </div>
  </div>
</div>
