<mat-card class="push-none bgc-grey-50 filters-card">
  <div layout="row" layout-align="center center">
    <div layout-gt-sm='row' layout-sm='column' flex='90' layout-align-gt-sm='start center' layout-margin>

      <td-chips placeholder="Pesquisar por nome, CPF/CNPJ ou e-mail"
                flex-md="40" flex-gt-md="45" flex-gt-lg="50"
                [(ngModel)]="filter" (add)="onChangeFilters()" (remove)="onChangeFilters()"></td-chips>

      <td-chips placeholder="Pesquisar por endereço"
                flex="30"
                [(ngModel)]="cidadesFiltro" (add)="onChangeFilters()" (remove)="onChangeFilters()"></td-chips>

      <div flex-gt-md></div>

      <button mat-raised-button class="bgc-blue-grey-50 push-right" (click)="toggleShowPesquisaAvancada()">
        Pesquisa avançada
      </button>

      <add-button routerLink="inserir"></add-button>


    </div>
  </div>
</mat-card>

<!--Pesquisa avançada-->
<mat-card class="push-none bgc-grey-50 filters-card-avanced" *ngIf="showPesquisaAvancada">
  <div layout="row" layout-align="center center">
    <div layout-gt-sm='row' layout-sm='column' flex='90' layout-align-gt-sm='start center' layout-margin>

      <mat-form-field flex style="padding-top: 10px;margin-bottom: -5px;">
        <mat-select placeholder="Perfil de usuario"
                    [(ngModel)]="filtro.perfil"
                    (change)="onChangeFilters()">
          <mat-option [value]="'COOPERADOR'">Cooperador</mat-option>
          <mat-option [value]="'ADMINISTRADOR'">Administrador</mat-option>
          <mat-option>Ambos</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field flex style="padding-top: 10px;margin-bottom: -5px;">
        <mat-select placeholder="Tipo de usuario"
                    [(ngModel)]="filtro.souEmpresa"
                    (change)="onChangeFilters()">
          <mat-option [value]="false">Pessoa física</mat-option>
          <mat-option [value]="true">Pessoa Jurídica</mat-option>
          <mat-option>Ambos</mat-option>
        </mat-select>
      </mat-form-field>

      <div hide-sm hide-xs flex='12'></div>

      <close-button (click)="hidePesquisaAvancada()" hide-sm hide-xs></close-button>

    </div>
  </div>
</mat-card>

<!--Listagem-->
<div layout="row" layout-align="center start">

  <div layout="column" flex="90">

    <div class="tc-grey-500 size-height-50" layout="row" layout-align="start center">
      <span> Resultado da pesquisa </span>
      <div flex></div>
      <span> {{ page?.totalElements}} resultados </span>
    </div>

    <mat-card class="push-none bgc-grey-50">
      <mat-nav-list>

        <div *ngFor="let usuario of usuarios" routerLink="{{usuario.id}}">
          <mat-list-item>
            <h3 matLine> {{usuario.nome}} </h3>
            <h4 matLine> {{usuario.email}} </h4>
            <p matLine *ngIf="usuario?.endereco?.id"> {{usuario?.endereco?.cidade?.nome}} -
              {{usuario?.endereco?.cidade?.estado?.uf}} </p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-nav-list>
    </mat-card>

    <div layout="row" class="push-top push-bottom">
      <button mat-raised-button class="tc-grey-500" (click)="showMore()" flex *ngIf="!page?.last">
        VER MAIS
      </button>
    </div>

  </div>
</div>