<search-bar>

  <mat-form-field [ngStyle]="{'margin-top': (pageRequest?.defaultFilter?.length ? '16px' : '32px')}"
                  style='margin-left:0; margin-top: 32px' flex-sm='90' flex-md='90' flex-gt-md='90' flex-gt-lg='90'>

    <mat-chip-list #defaultFilterChipList aria-label='Pesquisar pelo código do cupom ou e-mail do cliente'>

      <mat-chip *ngFor='let defaultFilter of pageRequest.defaultFilter'
                (removed)='removeDefaultFilter(defaultFilter)' style='max-width: 100%'>
        {{defaultFilter}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

      <input (ngModelChange)='defaultFilterChanged($event)'
             (matChipInputTokenEnd)='addDefaultFilter($event)'
             placeholder='Pesquisar pelo código do cupom ou e-mail do cliente'
             [(ngModel)]='defaultFilter' [ngModelOptions]='{standalone: true}'
             [matChipInputFor]='defaultFilterChipList' [matChipInputAddOnBlur]='true'/>

    </mat-chip-list>

  </mat-form-field>

  <div flex-gt-md></div>

  <add-button routerLink='inserir'
              [matTooltipPosition]="'below'"
              matTooltip='Inserir novo cupom'>
  </add-button>

</search-bar>

<!--Listagem-->
<div layout='row' layout-align='center start'>
  <div layout='column' flex='90'>

    <div class='tc-grey-500 size-height-50'
         layout='row' layout-align='start center'>
      <span> Resultado da pesquisa </span>
      <div flex></div>
      <span> {{ page?.totalElements}} resultados </span>
    </div>

    <div class='mat-elevation-z4'>

      <mat-table #table matSort class='bgc-grey-50'
                 matSortDisableClear matSortActive='data'
                 matSortDirection='asc' [dataSource]='dataSource'>

        <ng-container matColumnDef='codigo'>
          <mat-header-cell flex-xl='30' flex-gt-md='30' flex-md='20' flex-sm='30'
                           layout-align='start center' *matHeaderCellDef mat-sort-header>
            <div layout-margin layout='column'>
              Código
            </div>
          </mat-header-cell>
          <mat-cell layout-align='start center' *matCellDef='let cupom'
                    flex-xl='30' flex-gt-md='30' flex-md='30' flex-sm='30'>
            <div layout-margin layout='column'>
              {{cupom?.codigo}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='percentualDesconto'>
          <mat-header-cell flex-xl='30' flex-gt-md='30' flex-md='20' flex-sm='30'
                           layout-align='start center' *matHeaderCellDef mat-sort-header>
            <div layout-margin layout='column'>
              Percentual de Desconto
            </div>
          </mat-header-cell>
          <mat-cell layout-align='start center' *matCellDef='let cupom'
                    flex-xl='30' flex-gt-md='30' flex-md='30' flex-sm='30'>
            <div layout-margin layout='column'>
              {{cupom?.percentualDesconto}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='tenant'>
          <mat-header-cell flex-xl='30' flex-gt-md='30' flex-md='20' flex-sm='30'
                           layout-align='start center' *matHeaderCellDef mat-sort-header>
            <div layout-margin layout='column'>
              Cliente
            </div>
          </mat-header-cell>
          <mat-cell layout-align='start center' *matCellDef='let cupom'
                    flex-xl='30' flex-gt-md='30' flex-md='30' flex-sm='30'>
            <div layout-margin layout='column'>
              {{cupom?.tenant}}
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef='displayedColumns'>
        </mat-header-row>

        <mat-row *matRowDef='let cupom; columns: displayedColumns'
                 routerLink='{{cupom.id}}' style='cursor: pointer'>
        </mat-row>
      </mat-table>
      <no-records-found [dataSource]='dataSource?.data'></no-records-found>
      <mat-paginator [pageSizeOptions]='[5, 20, 50, 100]'
                     [length]='page.totalElements' style='border-radius: 2px'
                     (page)='listCupomsByFilters(pageRequest)' class='bgc-grey-50'>
      </mat-paginator>
    </div>
  </div>
</div>
