<div layout-align='center center' layout-gt-xs='row' layout-margin>
  <div layout='row' flex-gt-xs='80' layout-margin>
    <div flex layout-margin>
      <div layout-margin style='max-width: 1200px'>
        <!--cabeçalho div-->
        <div layout='column' layout-margin flex>

          <div layout='row' layout-align='start center'>
            <ng-content></ng-content>
          </div>

          <div layout='row' layout-margin>
            <h1 class='mat-subheading-2 ing-2 tc-grey-500' flex>INFORMAÇÕES SOBRE A ENTRADA</h1>
          </div>
        </div>
        <form [formGroup]='form' (ngSubmit)='saveEntrada(form)' novalidate>
          <mat-vertical-stepper [linear]='true' class='bgc-white'>

            <mat-step [stepControl]='informacoesGeraisForm'>
              <form [formGroup]='informacoesGeraisForm'>
                <ng-template matStepLabel>Informações gerais</ng-template>
                <div layout='row'>
                  <div layout='column' flex layout-margin layout-align='start start'>

                    <mat-form-field flex
                                    style='width: 100%; max-width: 600px'>
                      <mat-chip-list #chipListView [disabled]='!loggedUser.isAdministrador'>
                        <mat-chip *ngIf='entrada?.pontoColeta?.id' style="margin-top: -9px"
                                  (remove)='removePontoColeta(); findPontosColeta(pontoColetaInput.value)'
                                  [selectable]='loggedUser.isAdministrador' [removable]='loggedUser.isAdministrador'>
                          {{entrada?.pontoColeta?.nome}}
                          <mat-icon *ngIf='loggedUser.isAdministrador' matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input #pontoColetaInput matInput
                               [matAutocomplete]='auto'
                               placeholder='Ponto de coleta'
                               [matChipInputFor]='chipListView'
                               [disabled]="entrada?.pontoColeta?.id"/>
                        <mat-autocomplete #auto='matAutocomplete'>
                          <mat-option [value]='pontoColeta.nome'
                                      *ngFor='let pontoColeta of pontosColetaList'
                                      (click)='addPontoColeta(pontoColeta); pontoColetaInput.value = ""'>
                            {{pontoColeta?.nome}} - {{pontoColeta?.endereco?.numero}},
                            {{pontoColeta?.endereco?.logradouro}},
                            {{pontoColeta?.endereco?.bairro}},
                            {{pontoColeta?.endereco?.cidade?.nome}}/{{pontoColeta?.endereco?.cidade?.estado?.uf}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-chip-list>
                    </mat-form-field>

                    <mat-form-field flex style='width: 100%; max-width: 600px'>
                      <input matInput required min='1'
                             id='ficha' name='ficha' type='number'
                             placeholder='Código da ficha' formControlName='ficha'
                             [(ngModel)]='ficha.id' (ngModelChange)='findFicha(ficha.id)'>
                      <mat-error *ngIf="informacoesGeraisForm.controls['ficha'].hasError('min')">
                        Código inválido
                      </mat-error>
                      <mat-error *ngIf="informacoesGeraisForm.controls['ficha'].hasError('required')">
                        Esse campo é obrigatório
                      </mat-error>
                      <mat-error *ngIf="informacoesGeraisForm.controls['ficha'].hasError('notfound')">
                        Ficha não encontrada
                      </mat-error>
                    </mat-form-field>

                    <visualizar-dados-ficha [ficha]='entrada.ficha'
                                            *ngIf='entrada?.ficha?.id'
                                            flex style='width: 100%; max-width: 600px'>
                    </visualizar-dados-ficha>

                    <mat-form-field flex style='width: 100%; max-width: 600px'>
                      <input matInput required min='1'
                             [(ngModel)]='entrada.peso'
                             id='peso' name='peso' type='number'
                             placeholder='Peso' formControlName='peso'>
                      <span matSuffix>kg</span>
                      <mat-error *ngIf="informacoesGeraisForm.controls['peso'].hasError('min')">
                        Peso inválido
                      </mat-error>
                      <mat-error *ngIf="informacoesGeraisForm.controls['peso'].hasError('required')">
                        Esse campo é obrigatório
                      </mat-error>
                    </mat-form-field>

                  </div>
                </div>
                <div>
                  <button mat-raised-button color='accent' matStepperNext>Próximo</button>
                </div>
              </form>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Contaminação</ng-template>
              <form>
                <div layout-gt-xs='column' flex>
                  <div layout='column' layout-margin flex>
                    <div layout='column' flex>
                      <mat-checkbox
                          flex name='contaminado'
                          [(ngModel)]='contaminado'
                          [ngModelOptions]='{standalone: true}'
                          (change)='changeContaminado(contaminado)'>
                        Contaminado
                      </mat-checkbox>
                    </div>

                    <div flex style='margin-left: 0'
                         layout-margin *ngIf='contaminado'
                         layout='column' layout-gt-xs='row'>
                      <div flex='20'>
                        <h1 class='mat-subheading-2 ing-2 tc-grey-500' flex>Nível de contaminação</h1>
                      </div>
                      <div flex='80'>
                        <mat-slider flex
                                    id='qualidade'
                                    name='qualidade'
                                    [max]='5' [min]='1'
                                    [thumb-label]='true'
                                    [tick-interval]='true'
                                    style='margin-top: -10px'
                                    [ngModelOptions]='{standalone: true}'
                                    [(ngModel)]='entrada.nivelContaminacao'>
                        </mat-slider>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <button mat-button matStepperPrevious>Voltar</button>
                  <button mat-raised-button color='accent' matStepperNext>Próximo</button>
                </div>
              </form>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Concluir</ng-template>
              <div layout='row' flex>
                <div layout='row' layout-margin flex>
                  <mat-form-field flex>
<textarea matInput
          placeholder='Observações'
          [(ngModel)]='entrada.observacao'
          [ngModelOptions]='{standalone: true}'>
</textarea>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <button mat-button matStepperPrevious type="button">Voltar</button>
                <button mat-raised-button color='accent' matStepperNext>Concluir</button>
              </div>
            </mat-step>

          </mat-vertical-stepper>

          <!--actions div-->
          <div flex layout-margin>

            <div layout-gt-xs='row' flex layout-margin>

              <span flex='70'></span>

              <button type='button' flex
                      mat-raised-button
                      routerLink='../'>
                Cancelar
              </button>
              <button mat-raised-button
                      color='accent'
                      flex>
                Salvar
              </button>

            </div>

          </div>


        </form>
      </div>
    </div>
  </div>
</div>

