<search-bar>
  <div layout='column'
       class='push-right'
       style='min-width: 17px'>
    <button type='button' routerLink='../'
            color='primary' mat-icon-button
            class='mat-headline tc-grey-500'>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div layout='row' style='margin-top: 3px'
       class='tc-grey-600 push-left'>
    {{ rankeavel?.nome }}
  </div>

  <div layout='row' layout-margin
       style='margin-left: 41px; margin-top: 15px'>

    <ev-datepicker #dataInicio layout='row'
                   (dataInputChange)='listByDates()'
                   flex style='margin-left: -2px'
                   [(dataInput)]='pageRequest.dataInicioFilter'>
      <mat-form-field style='width: 225px'>
        <input placeholder='Data da avaliação - Início'
               [(ngModel)]='pageRequest.dataInicioFilter'
               matInput name='dataInicio' id='dataInicio'
               [textMask]='{mask: masks.date, guide: false}'>
      </mat-form-field>
    </ev-datepicker>

    <ev-datepicker #dataTermino layout='row' flex
                   (dataInputChange)='listByDates()'
                   [(dataInput)]='pageRequest.dataTerminoFilter'>
      <mat-form-field style='width: 235px'>
        <input placeholder='Data da avaliação - Término'
               [(ngModel)]='pageRequest.dataTerminoFilter'
               matInput name='dataTermino' id='dataTermino'
               [textMask]='{mask: masks.date, guide: false}'>
      </mat-form-field>
    </ev-datepicker>

  </div>

  <div flex-gt-md></div>
  <div layout='row' style='margin-top: 3px'
       class='tc-grey-600 push-left'>
    Média: {{rankeavel?.media > 0 ? (rankeavel?.media | number:'1.0-2' :'pt-BR').replace(',','.') : 0}}
  </div>
  <mat-slide-toggle [(ngModel)]='pizza' layout-margin
                    *ngIf="(rankeavel?.avaliacoes1+rankeavel?.avaliacoes2+rankeavel?.avaliacoes3+rankeavel?.avaliacoes4+rankeavel?.avaliacoes5) != 0">
    <span class='tc-grey-600'>{{pizza ? 'Pizza' : 'Em barras' }}</span>
  </mat-slide-toggle>

  <button mat-raised-button
          (click)='pageRequest.dataInicioFilter = null; pageRequest.dataTerminoFilter = null; resetDates(); listByDates()'>
    Limpar filtros
  </button>

</search-bar>

<div layout-gt-xs='row'>
  <div flex-gt-xs='100'>
    <div layout='row' layout-align='center start'>
      <div layout='column' flex='90'>

        <div class='tc-grey-500 size-height-50'
             layout='row' layout-align='start center'>
          <div flex></div>
          <span> {{(rankeavel?.avaliacoes1 + rankeavel?.avaliacoes2 + rankeavel?.avaliacoes3 + rankeavel?.avaliacoes4 + rankeavel?.avaliacoes5) === 0 ? '' : (rankeavel?.avaliacoes1 + rankeavel?.avaliacoes2 + rankeavel?.avaliacoes3 + rankeavel?.avaliacoes4 + rankeavel?.avaliacoes5) + ' avaliações'}} </span>
        </div>

        <mat-card>
          <div
              *ngIf="(rankeavel?.avaliacoes1+rankeavel?.avaliacoes2+rankeavel?.avaliacoes3+rankeavel?.avaliacoes4+rankeavel?.avaliacoes5) != 0">

            <div style='height:500px;' *ngIf='!pizza'>
              <ngx-charts-bar-vertical [xAxis]="true"
                                       [yAxis]="true"
                                       [results]="single"
                                       [showXAxisLabel]="true"
                                       [showYAxisLabel]="true"
                                       [xAxisLabel]="'Avaliações'"
                                       (select)="onSelect($event)"
                                       [scheme]="{ domain: [ '#c21c1f', '#e96d01', '#d4c40d', '#8fc82c', '#5ee924' ]}">
              </ngx-charts-bar-vertical>
            </div>

            <ngx-charts-advanced-pie-chart
                [results]="single" *ngIf='pizza'
                [scheme]="{ domain: [ '#c21c1f', '#e96d01', '#d4c40d', '#8fc82c', '#5ee924' ]}">
            </ngx-charts-advanced-pie-chart>
          </div>
        </mat-card>

        <div class='tc-grey-500 size-height-50'
             layout='row' layout-align='center center'
             *ngIf='(rankeavel?.avaliacoes1+rankeavel?.avaliacoes2+rankeavel?.avaliacoes3+rankeavel?.avaliacoes4+rankeavel?.avaliacoes5) === 0'>
          <span> Sem estatísticas por aqui =( </span>
        </div>

      </div>
    </div>
  </div>
</div>
