<mat-card>
  <div layout='row' flex>
    <div flex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start start">

      <div layout='row' flex>
        <div flex>
          <span *ngIf="plano.nome === 'Starter'" class="iconify" data-icon="si-glyph:paper-plane" data-inline="false"
                style='font-size: 60px; color: rgb(204, 204, 204)'></span>

          <span *ngIf="plano.nome === 'Pro'" class="iconify" data-icon="fa:plane" data-inline="false"
                style='font-size: 60px; color: rgb(204, 204, 204)'></span>

          <span *ngIf="plano.nome === 'Enterprise'" class="iconify" data-icon="mdi-rocket" data-inline="false"
                style='font-size: 75px; color: rgb(204, 204, 204)'></span>
        </div>

        <div style='color:#4a2174' flex>
          <p style='font-size: 12px; text-transform: uppercase; margin-bottom: 0;'>
            Valor
          </p>
          <p style='font-size: 16px; font-weight: bold; margin-top: 8px !important;'>
            {{plano.valorMensal | currency:'BRL':true}}
          </p>
        </div>
      </div>

      <div style='color:#4a2174' flex>
        <p style='font-size: 12px; text-transform: uppercase; margin-bottom: 0;'>
          Avaliações por mês
        </p>
        <p style='font-size: 16px; font-weight: bold; margin-top: 8px !important;'>
          {{plano.quantidadeAvaliacoes}}
        </p>
      </div>

      <div style='color:#4a2174' flex>
        <p style='font-size: 12px; text-transform: uppercase; margin-bottom: 0;'>
          Valor por avaliação excedente
        </p>
        <p style='font-size: 16px; font-weight: bold; margin-top: 8px !important;'>
          {{plano.valorAvaliacoesExcedentes | currency:'BRL':true}}
        </p>
      </div>

      <span flex hide-xs hide-sm></span>
    </div>


    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-flat-button class="btn-cyan" (click)='openSimulator(plano)'>Simule</button>
    </div>
  </div>
</mat-card>

