<div layout-align="center center" layout-gt-xs="row" layout-margin>
  <div layout="row" flex-gt-xs="80" layout-margin>
    <div flex layout-margin>
      <mat-card class="bgc-grey-50" layout-margin style="max-width: 1200px">
        <form [formGroup]="form" (ngSubmit)="saveFicha(form)" novalidate>
          <mat-card-content>
            <div layout-margin>
              <!--cabeçalho div-->
              <div layout="column" layout-margin flex>

                <div layout="row" layout-align="start center">
                  <ng-content></ng-content>
                </div>

              </div>

              <div layout-gt-xs="column" flex>
                <div layout="row" flex>

                  <td-chips (inputChange)="findFornecedores($event)"
                            [disabled]="loggedUser?.perfil === 'FORNECEDOR'"
                            (add)="addFornecedor($event)" (remove)="removeFornecedor()"
                            requireMatch [chipAddition]="fornecedorSelected.length < 1"
                            [items]="fornecedoresList" [(ngModel)]="fornecedorSelected"
                            [ngModelOptions]="{standalone: true}" style="margin-left: 0"
                            placeholder="Fornecedor" flex name="fornecedor" id="fornecedor">
                    <ng-template td-chip let-chip="chip">
                      {{chip?.nome}} - {{chip?.documento | documento}}
                    </ng-template>
                    <ng-template td-autocomplete-option let-option="option">
                      {{option?.nome}} - {{option?.documento | documento}}
                    </ng-template>
                  </td-chips>
                </div>

                <div layout="column" flex *ngIf="fornecedor?.areasAtuacao">
                  <div layout="row">
                    <mat-radio-group [(ngModel)]="ficha.areaAtuacao" required
                                     layout-margin flex layout-align="center center"
                                     id="tipoResiduo" name="tipoResiduo" formControlName="tipoResiduo">
                      <mat-radio-button flex [checked]="areaAtuacao.checked" [value]="areaAtuacao"
                                        *ngFor='let areaAtuacao of getAreasAtuacao( fornecedor.areasAtuacao)'>
                        {{
                        areaAtuacao.tipoResiduo === 'VIDRO' ? 'Vidro' :
                        areaAtuacao.tipoResiduo === 'PAPEL' ? 'Papel' :
                        areaAtuacao.tipoResiduo === 'METAL' ? 'Metal':
                        areaAtuacao.tipoResiduo === 'PLASTICO' ? 'Plástico' :
                        areaAtuacao.tipoResiduo === 'ORGANICO' ? 'Orgânico' : 'Orgânico'
                        }}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>

              <!--actions div-->
              <div flex layout-margin>

                <div layout-gt-xs="row" flex layout-margin>

                  <span flex="70"></span>

                  <button mat-raised-button
                          routerLink="../"
                          type="button" flex>
                    Cancelar
                  </button>
                  <button
                      mat-raised-button
                      color="accent"
                      flex>
                    Salvar
                  </button>

                </div>

              </div>
            </div>

          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>

