<unidade-form [unidade]='unidade' (save)='save($event)'>
  <!--cabeçalho div-->
  <button class='mat-headline tc-grey-500' type='button' color='primary' routerLink='../' mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div layout='row' layout-margin>
    <h1 class='mat-headline tc-grey-500' flex> Inserir unidade</h1>
  </div>

  <mat-divider *ngIf='tiposAvaliacoes && tiposAvaliacoes.length && tiposAvaliacoes.length > 1' [inset]='true' divider
               style='margin-bottom: 8px; margin-left: -25px; margin-right: -25px; margin-top: 40px; position: inherit;width: auto'>
  </mat-divider>

  <mat-divider *ngIf='tiposAvaliacoes && tiposAvaliacoes.length && tiposAvaliacoes.length > 1' [inset]='true' divider2
               style='margin-top: 8px; margin-left: -25px; margin-right: -25px; margin-bottom: 40px; position: inherit;width: auto'>
  </mat-divider>

  <vincular-tipo-avaliacao (saveUnidadeTipoAvaliacao)='saveUnidadeTipoAvaliacao($event)'
                           [matTooltipPosition]="'above'" [(tiposAvaliacoes)]='tiposAvaliacoes'
                           *ngIf='tiposAvaliacoes && tiposAvaliacoes.length && tiposAvaliacoes.length > 1'
                           matTooltip='Vincule a unidade á ao menos uma avaliação' unidadesTiposAvaliacoes>
  </vincular-tipo-avaliacao>

</unidade-form>
