<div layout-align="center center" layout-gt-xs="row" layout-margin>
  <div layout="row" flex-gt-xs="80" layout-margin>
    <div flex layout-margin>

      <mat-card class="bgc-grey-50">
        <form [formGroup]='form' (ngSubmit)='saveForm(form)' novalidate>
          <mat-card-content>

            <div layout='column' layout-margin style='/*margin-top: 20px; padding-bottom: 25px*/'>

              <!--cabeçalho div-->
              <ng-content select="[header]"></ng-content>

              <div layout='row' layout-align='start center'>
                <div layout='row' flex class='push-left'>

                  <mat-form-field flex layout-margin>
                    <input [(ngModel)]='dispositivo.codigo'
                           matInput name='codigo' id='codigo'
                           placeholder='Código do dispositivo'
                           formControlName='codigo' maxlength='144'>
                    <mat-error>
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>

                </div>

              </div>

              <!--divider-->
              <ng-content select="[divider]"></ng-content>

              <ng-content select="[configurarUnidadesTiposAvaliacoes]"></ng-content>

              <ng-content select="[divider2]"></ng-content>

            </div>

            <!-- actions -->
            <ng-content select="[actions]"></ng-content>

          </mat-card-content>
        </form>
      </mat-card>

    </div>
  </div>
</div>
