<div class="inprogress-div">
  <mat-card class="inprogress-card" style='box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);'>
    <div layout-align='start start' layout='row'>
      <img hide-xs src='../../../assets/images/logo.png' style='border-radius: 6px; height: 160px; margin-right: 25px' alt=''>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div style='color: #4a2174'>
          <p style='text-align: justify' class='bottom'><b>Você se preocupa com a opinião do seu cliente?</b></p>
          <p style='text-align: justify'>Você deve ter lido <b>MEAvalia</b> a luz da língua portuguêsa não é? O que você não sabe é que esse nome vem da língua <b>romena</b>, e significa especificamente <b>"Meu Valor"</b>. E é exatamente isso que queremos te provar, através desta ferramenta repleta de recursos queremos te mostrar qual é o seu valor, e o valor dos seus funcionários perante seus clientes.</p>
          <p hide-sm style='text-align: justify'>Com a nossa ferramenta, nossos clientes têm solucionado diversos problemas, desde mau-atendimento á maior produtividade dos funcionários. Há um caso, em que um programa de recompensas do RH foi criado e calcado emcima dos resultados do MEAvalia.</p>
        </div>
      </div>
    </div>
    <div style='color: #4a2174'>
      <p hide-gt-sm style='text-align: justify'>Com a nossa ferramenta, nossos clientes têm solucionado diversos problemas, desde mau-atendimento á maior produtividade dos funcionários. Há um caso, em que um programa de recompensas do RH foi criado e calcado emcima dos resultados do MEAvalia.</p>
      <br>
      <p style='text-align: end' class='bottom'><b>Avalie outros quesitos, não apenas o atendimento?</b></p>
      <p style='text-align: justify'>Além do atendimento de seus funcionários você pode avaliar outros quesitos também. Tais quesitos ficam á seu critério definir. Se sua organização for um restaurante você pode verificar o que estão achando do sabor de seu <i>buffet</i>, ou da cordialidade de seus garçons. Se for uma escola, você pode avaliar a didática de seus instrutores/professores.</p>
      <p style='text-align: justify'>Os exemplos tendem ao infinito, mas, como se não bastasse, além dos quesitos você pode também avaliar suas unidades. Por exemplo: Se você tiver dois restaurantes, ou duas escolas, você pode comparar qual das duas está melhor e em quais quesitos. </p>
      <p style='text-align: justify'>A escola <b>x</b> pode ter melhores professores, porém a escola <b>y</b> tem uma infra-estrutura melhor. Ou, a cozinha do restaurante <b>x</b> esta agradando mais ao paladar dos clientes do que a cozinha do restaurante <b>y</b>.</p>
    </div>

    <div style='color: #4a2174'>
      <br>
      <p style='text-align: start' class='bottom'><b>Como funciona?</b></p>
      <p style='text-align: justify'>Nós lhe auxiliaremos em tudo que for necessário, nossa equipe funciona 24horas por dia, para prestar o melhor auxílio possível. Se necessário for, nós mesmos configuraremos as avaliações no sistema para você.</p>
      <p style='text-align: justify'>
        A aplicação funciona através de uma plataforma WEB localizada nesse site, e um aplicativo móvel encontrado na <i>playstore</i> para <i>download</i>. Basicamente você tem que configurar suas avaliações na plataforma WEB e utiliza-las no aplicativo móvel, só isso.
        O aplicativo pode ser utilizado em qualquer dispositivo com Sistema Operacional Android, você só tem que baixar e utilizar. Vale salientar também, que quando for criada sua conta, uma avaliação padrão para o quesito 'Atendimento' será cadastrada, está avaliação padrão pode ser alterada posteriormente.
        Outra vez, pra reforçar, vamos te auxiliar em todo esse processo e no que for necessário!
      </p>
      <p style='text-align: justify'>O dispotivo Android é de sua inteira responsabilidade, você utilizar aquele tablet velho do seu filho por exemplo. Se for necessário intermediamos a compra do suporte para tablet e do tablet em si para você.</p>
    </div>

    <div style='color: #4a2174'>
      <br>
      <p style='text-align: end' class='bottom'><b>E agora?</b></p>
      <p style='text-align: justify'>Agora que você está municiado de todas as informações básicas necessárias, o que você está esperando para adquirir nossos serviços? Vamos lá, entre em contato conosco atravez do telefone (45) 9 9826-1750 ou do e-mail contato@meavalia.online, ou apenas crie sua conta e começe a gerenciar suas avaliações ;)</p>
    </div>
  </mat-card>
</div>
