<div class="inprogress-div">
  <mat-card class="inprogress-card" style='box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);'>
    <div fxLayout="row" fxLayoutAlign="start center">
      <img src="http://placehold.it/60x60" style="border-radius: 6px" alt="">

      <span class="opening-text text-center">
        <p class="top">SELEÇÃO</p>
        <p class="bottom">005.20</p>
      </span>

      <span class="opening-text two">
        <p class="top">CARGO</p>
        <p class="bottom">Analista de sistemas jr.</p>
      </span>

      <span class="opening-text four">
        <p class="top">PERÍODO DE INSCRIÇÃO</p>
        <p class="bottom">01/06/2019 até 12/06/2019</p>
      </span>

      <span class="opening-text four">
        <p class="top">TIPO DE CONTRATO</p>
        <p class="bottom">Indeterminado</p>
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
      <button mat-flat-button class="btn-cyan">Ver detalhes</button>
    </div>
  </mat-card>
</div>
