<mat-nav-list *ngIf='unidades?.length'>
  <div *ngFor="let unidade of unidades">
    <mat-list-item layout='row' disableRipple layout-margin *ngIf='(unidade.avaliavelValue || unidade.operadorValue)'>
      <h3 matLine *ngIf="unidade.avaliavelValue && !unidade.operadorValue">
        <strong style='color: rgb(94, 124, 139)'> Atendente</strong>
        {{'em: ' + unidade?.nome}}
      </h3>
      <h3 matLine *ngIf="!unidade.avaliavelValue && unidade.operadorValue">
        <strong style='color: #c00'> Operador</strong>
        {{'em: ' + unidade?.nome}}
      </h3>
      <h3 matLine *ngIf="unidade.avaliavelValue && unidade.operadorValue">
        <strong style='color: #c00'> Operador </strong> e <strong style='color: rgb(94, 124, 139)'> atendente </strong>
        {{'em: ' + unidade?.nome}}
      </h3>
      <p matLine *ngIf="unidade?.endereco?.cidade?.nome">
        {{unidade?.endereco?.logradouro ? unidade?.endereco?.logradouro + ', ' : ''}}
        {{unidade?.endereco?.numero ? unidade?.endereco?.numero + ', ' : ''}}
        {{unidade?.endereco?.bairro ? unidade?.endereco?.bairro + ', ' : ''}}
        {{unidade?.endereco?.cidade?.nome + ' - '}}{{unidade?.endereco?.cidade?.estado?.uf}}
      </p>
    </mat-list-item>

    <mat-accordion>
      <mat-expansion-panel class='bgc-grey-100'
                           [expanded]='unidade.avaliavelValue'
                           (opened)='changeAvaliavel(unidade)'>

        <mat-card-content>
          <section class="example-section"
                   *ngIf='unidade?.unidadesTiposAvaliacoes?.length'>
            <mat-checkbox class='example-margin'
                          [(ngModel)]='unidadeTipoAvaliacao.checked' [disabled]="true"
                          (ngModelChange)='changeUnidadeTipoAvaliacao(unidadeTipoAvaliacao)'
                          *ngFor="let unidadeTipoAvaliacao of unidade.unidadesTiposAvaliacoes">
              {{unidadeTipoAvaliacao?.tipoAvaliacao?.nome}}
            </mat-checkbox>
          </section>
        </mat-card-content>

      </mat-expansion-panel>
    </mat-accordion>

  </div>
</mat-nav-list>
