<div class="parallax-container valign-wrapper" style="height: 100%">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 style='font-size: 60px; padding: 30px'>Pastor Valdir Maia</h1>
        <!--<div class="tagline">Estabelecendo o reino dos céus</div>-->

        <div class="row center">
          <div class="icon-block">

            <h2 class="center white-text">
              <a style="cursor: pointer" [ngx-scroll-to]="'#message'">
                <i class="material-icons arrow-down" style='transform: scale(2); color: white'>keyboard_arrow_down</i>
              </a>
            </h2>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="parallax" materialize="parallax" style="background-color: #0D47A1">
    <img style="opacity: .8"
         src="https://firebasestorage.googleapis.com/v0/b/ad-redencao.appspot.com/o/images%2Fpastores%2Fvaldir-maia.jpg?alt=media&token=033a1779-60d7-4a3b-ae98-6e24b7015f8a"
         alt="Unsplashed background img 2">
  </div>
</div>

<div class="container" id='message'>
  <div class="section">

    <div class="row">
      <div class="col s12 center">

        <h3><i class="mdi-content-send brown-text"></i></h3>
        <p class="center-align darken-2" style="font-size: 16px">
          Graça, misericórdia e paz da parte de Deus Pai e de Cristo Jesus, nosso Senhor.
        </p>

        <p class="left-align light" style="text-indent:2.5em;text-align: justify; font-size: 16px">
          Com essa palavra do apóstolo Paulo a seu filho na fé Timóteo, quero cumprimentar, você que lê esse texto agora, desejando sinceramente que tudo isso venha sobre sua vida e sua família. A Bíblia diz que os que são de Deus ouvem a palavra de Deus. Você será sempre muito bem vindo a nossa casa, à Família Redenção. Somos uma igreja gerada na comunhão de famílias, por isso não apenas pregamos, mas buscamos viver sob o entendimento bíblico de investir em pessoas e famílias. Entendemos que uma pessoa sarada sara sua família, uma família sarada pode sarar sua igreja local e, uma igreja sarada pode sarar uma cidade e até uma nação.
        </p>
        <p class="left-align light" style="text-indent:2.5em;text-align: justify; font-size: 16px">
          Investimos em vidas através da comunhão e através dos ministérios que tem a função de servir ao corpo de Cristo para sua edificação e também servir à cidade para que o Cristianismo verdadeiro, como vida de filhos, possa, de fato atrair as pessoas ao amor de Deus manifestado em nossas atitudes. João, o apóstolo do amor escreve em sua primeira epístola, no capítulo 1 e versículo 7: “Se andarmos na Luz como Ele na luz está, temos comunhão uns com os outros e o sangue de Jesus, seu filho, nos purifica de todo pecado”. Cremos realmente nessa verdade apostólica, por isso buscamos desenvolver sempre a comunhão entre todos os irmãos que caminham conosco e todos os demais que queiram desfrutar da vida de Jesus. Cremos que Deus se manifesta para libertar e curar em ambientes onde ele é desejado, por isso buscamos sempre gerar um ambiente de busca e quebrantamento de coração para que a manifestação da presença de Deus seja constante e todos possam desfrutar dessa glória.
        </p>
        <p class="left-align light" style="text-indent:2.5em;text-align: justify; font-size: 16px">
          Buscamos sempre em oração, pois somos uma casa de oração, viver cada dia mais o amor uns para com os outros, sabendo que essa é a premissa da nossa Salvação, conforme o Ev. de João 3.16.<i>“Porque Deus amou o mundo de tal maneira que deu o seu Filho unigênito para que todo aquele que nEle crê não pereça, mas tenha a vida eterna.”</i> Com essas palavras queremos dizer que desejamos ter você conosco para que Deus possa cumprir em sua vida aquilo que já tem cumprido em nossas vidas e em nossas famílias, conforme Ele diz em Jeremias 29.11 <i>“Pois bem sei os planos que estou projetando para vós, Diz o Senhor; planos de paz e não de mal, para vos dar um futuro e uma esperança”.</i> Em outra versão o texto diz: <i>“Eu é que sei os pensamentos que penso sobre vocês, pensamentos de bem e não de mal, para vos dar o fim que desejais”.</i>
        </p>
        <p class="left-align light" style="text-indent:2.5em;text-align: justify; font-size: 16px">
          Creia que Deus tem um tempo novo para sua vida, um tempo novo para sua casa, um tempo novo para sua família e um tempo novo para sua história. Estamos aqui para ajudá-lo a viver esse tempo e nos alegrar com a sua alegria.
        </p>
        <p class="right-align darken-1; font-size: 16px">
          Venha viver conosco essa esperança viva e seja feliz como nós somos.
        </p>
      </div>
    </div>
  </div>
</div>

<rodape></rodape>
