<div layout-align='center center' layout-gt-xs='row' layout-margin>
  <div flex-gt-xs='80' layout='row' layout-margin>
    <div flex layout-margin>
      <mat-card class='bgc-grey-50' layout-margin>
        <form (ngSubmit)='saveCliente(form)'
              *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'"
              [formGroup]='form'
              novalidate>
          <mat-card-content>
            <div layout-margin>

              <!--cabeçalho div-->
              <ng-content select="[header]"></ng-content>

              <!--dados e foto div-->
              <div flex layout-gt-sm='row'>
                <!--<div flex>-->
                <div flex layout='column' layout-align='center center'>
                  <div flex>
                    <avatar [usuario]="{'id': cliente.id , 'foto': fotoPath}"></avatar>
                  </div>
                  <div *ngIf='fotoPath' flex>
                    <button (click)='removeFile()' class='tc-grey-500' mat-button type='button'>
                      REMOVER FOTO
                    </button>
                  </div>
                  <div *ngIf='!fotoPath' flex>
                    <input type='file' accept='.png, .gif, .jpg, .jpeg' #fileUpload
                           id='fileUpload' (change)='fileChange($event)' style='display:none'>

                    <button mat-raised-button (click)='choosePhoto()' type='button'  color='accent'>
                      <mat-icon>attach_file</mat-icon>
                      <span>Adicionar foto</span>
                    </button>
                  </div>
                </div>

                <!--dados div-->
                <div flex-gt-sm='70' layout='column'>
                  <div layout='row' layout-margin>
                    <mat-form-field flex>
                      <input id='nome' matInput
                             formControlName='nome'
                             required maxlength='200'
                             [(ngModel)]='cliente.nome'
                             name='nome' placeholder='Nome'>
                      <mat-error>
                        Nome é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div layout='row' layout-margin>
                    <mat-form-field flex>
                      <input [(ngModel)]='cliente.conta.email'
                             formControlName='email' id='email'
                             required name='email' type='email'
                             matInput maxlength='144' placeholder='E-mail'
                             pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$'>
                      <mat-error *ngIf="form.controls['email'].hasError('pattern')">
                        E-mail inválido, utilize o formato 'email@email.com'
                      </mat-error>
                      <mat-error *ngIf="form.controls['email'].hasError('required')">
                        E-mail é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div layout="row">
                    <div flex>
                      <usuario-pessoa-juridica-form [form]='form' flex
                                                    *ngIf='cliente.souEmpresa'
                                                    [(documento)]='cliente.documento'>
                      </usuario-pessoa-juridica-form>

                      <usuario-pessoa-fisica-form [form]='form' flex
                                                  *ngIf='!cliente.souEmpresa'
                                                  [(documento)]='cliente.documento'>
                      </usuario-pessoa-fisica-form>
                    </div>

                    <div layout='column'>
                      <mat-checkbox flex name='isEmpresa'
                                    style='margin-top: 35px; margin-right: 20px;'
                                    [(ngModel)]='cliente.souEmpresa' [ngModelOptions]='{standalone: true}'>
                        Sou empresa
                      </mat-checkbox>
                    </div>
                  </div>
                  <div layout='row' layout-margin>
                    <mat-form-field flex>
                      <input formControlName='password' id='password'
                             required type='password' matInput name='password'
                             [(ngModel)]='cliente.conta.password' placeholder='Senha da conta'>
                      <mat-error *ngIf="form?.controls['password'].hasError('exception')">
                        {{form?.controls['password']?.errors.exception}}
                      </mat-error>
                      <mat-error *ngIf="form.controls['password'].hasError('required')">
                        A senha é obrigatória
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field flex>
                      <input required name='confirmacaoPassword'
                             formControlName='confirmacaoPassword'
                             type='password' id='confirmacaoPassword'
                             matInput [(ngModel)]='confirmacaoPassword'
                             matTooltip='Confirmação de senha da conta'
                             placeholder='Confirmação de senha da conta'>
                      <mat-error *ngIf="form?.controls['confirmacaoPassword'].hasError('exception')">
                        {{form?.controls['confirmacaoPassword']?.errors.exception}}
                      </mat-error>
                      <mat-error *ngIf="form.controls['confirmacaoPassword'].hasError('required')">
                        A confirmação de senha é obrigatória
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div flex layout='row' layout-align='end center' layout-margin>
                    <re-captcha required siteKey='{{cliente?.siteKey}}'
                                #reCaptcha (resolved)='resolved($event)'
                                style='margin-right: 6px; margin-top: -12px'
                                id='recaptchaReactive' layout-align='end center'>
                    </re-captcha>
                  </div>
                </div>
              </div>

              <!-- actions -->
              <ng-content select="[actions]"></ng-content>

            </div>

          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>
