<!--  <img src='../../../../assets/images/banner-1920x720.svg'-->
<!--       class='flex-img cyan-border-bottom' alt=''>-->

<object class='cyan-border-bottom'
        type="image/svg+xml" data='../../../../assets/images/banner-1920x720.svg'
        style="background-image: url('../../../../assets/images/banner-1920x720.svg'); width: 100%; background-size: cover;">
</object>
<!--<img src='http://placehold.it/1920x720' class='flex-img cyan-border-bottom' alt=''>-->
<div class='container'>
  <sistema-listing-nav class='listing-nav'></sistema-listing-nav>
</div>
