<!--<div class='container'>-->
<!--  <div-->
<!--      style='    /* margin-top: 210px; */-->
<!--    width: 600px;-->
<!--    color: white;-->
<!--    /*position: absolute;*/-->
<!--    /* z-index: 1000000; */-->
<!--    /* margin-bottom: -100px; */-->
<!--    /* margin-left: calc(382px);'-->
<!--  >-->
<!--    <h1>-->
<!--      Cria avaliações incríveis-->
<!--    </h1>-->
<!--    <h2>-->
<!--      , verifique o que está acontecendo em sua organização e tenha o devido feedback de seus clienes.-->
<!--    </h2>-->
<!--  </div>-->
<!--</div>-->

<!--<object class='cyan-border-bottom'-->
<!--        type="image/svg+xml" data='../../../../assets/images/banner-1920x720.svg'-->
<!--        style="background-image: url('../../../../assets/images/banner-1920x720.svg'); width: 100%; background-size: cover;">-->
<!--</object>-->

<div class='cyan-border-bottom'
     style='background-image: url(../../../../assets/images/banner-1920x720.svg);
    width: 100%;
    background-size: cover;
    height: 715px'>

  <div class='container' style='padding-top: 267px'>
    <div style='width: 600px; color: white'>
      <h1>
        Crie avaliações incríveis
      </h1>
      <h2>
        Verifique o que está acontecendo em sua organização e tenha o devido feedback de seus clienes.
      </h2>
    </div>
  </div>

</div>

<!--<img src='http://placehold.it/1920x720' class='flex-img cyan-border-bottom' alt=''>-->
<div class='container'>
  <sistema-listing-nav class='listing-nav'></sistema-listing-nav>
</div>
