# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/front-end/dist/**
/front-end/deploy
/front-end/tmp
/.idea/**

# dependencies
/front-end/node_modules
/front-end/functions/node_modules
/bower_components

# IDEs and editors
/front-end/.idea
/back-end/.idea
/back-end/back-end.iml
/back-end/target/**
/.vscode
/front-end/package-lock.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/.vagrant

# e2e
/e2e/*.js
/e2e/*.map

yarn.lock

#System Files
.DS_Store

functions
node_modules
front-end/front-end.iml
