<mat-nav-list *ngIf='unidades?.length'>
  <div *ngFor='let unidade of unidades | filter:filter.unidade'
       [ngStyle]="{'background-color': unidade.unidadeTipoAvaliacaoDispositivoValue ? 'aliceblue' : '#fafafa' }">
    <mat-list-item disableRipple layout='row' layout-margin
                   (click)='unidade.unidadeTipoAvaliacaoDispositivoValue = !unidade.unidadeTipoAvaliacaoDispositivoValue'>

      <h3 matLine>{{unidade?.nome}}</h3>
      <p matLine>
        {{unidade?.endereco?.logradouro ? unidade?.endereco?.logradouro + ', ' : ''}}
        {{unidade?.endereco?.numero ? unidade?.endereco?.numero + ', ' : ''}}
        {{unidade?.endereco?.bairro ? unidade?.endereco?.bairro + ', ' : ''}}
        {{unidade?.endereco?.cidade ? (unidade?.endereco?.cidade?.nome + ' - ' + unidade?.endereco?.cidade?.estado?.uf) : ''}}
      </p>

      <mat-slide-toggle style='opacity: 1 !important; cursor: pointer' flex
                        [(ngModel)]='unidade.unidadeTipoAvaliacaoDispositivoValue' [disabled]='true'>
      </mat-slide-toggle>

    </mat-list-item>

    <mat-accordion>
      <mat-expansion-panel style='background-color: aliceblue'
                           (opened)='changeUnidadeTipoAvaliacao(unidade)'
                           (closed)='changeUnidadeTipoAvaliacao(unidade)'
                           [expanded]='unidade.unidadeTipoAvaliacaoDispositivoValue'>

        <section style='padding: 16px'
                 layout='column' layout-align='start start'
                 *ngIf='unidade?.unidadesTiposAvaliacoes?.length'>
          <mat-checkbox [(ngModel)]='unidadeTipoAvaliacao.unidadeTipoAvaliacaoDispositivo.ativo'
                        style='margin-left: 10px; padding: 5px; background-color: aliceblue'
                        (ngModelChange)='changeUnidadeTipoAvaliacaoDispositivo(unidadeTipoAvaliacao, unidade)'
                        *ngFor="let unidadeTipoAvaliacao of unidade.unidadesTiposAvaliacoes | orderBy:'unidadeTipoAvaliacaoDispositivo.ordem'">
            <!--{{unidadeTipoAvaliacao?.unidadeTipoAvaliacaoDispositivo?.id}} - -->
            {{unidadeTipoAvaliacao?.unidadeTipoAvaliacaoDispositivo?.ordem ? unidadeTipoAvaliacao?.unidadeTipoAvaliacaoDispositivo?.ordem + ' - ' : ''}}
            {{unidadeTipoAvaliacao?.ordem ? unidadeTipoAvaliacao?.ordem + ' - ' : ''}}
            {{ unidadeTipoAvaliacao?.tipoAvaliacao?.nome + ': ' + unidadeTipoAvaliacao?.tipoAvaliacao?.enunciado }}
          </mat-checkbox>
        </section>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

</mat-nav-list>
