<div layout-align="center center" layout-gt-xs="row" layout-margin>
  <div layout="row" flex-gt-xs="80" layout-margin>
    <div flex layout-margin>

      <mat-card class="bgc-grey-50" layout-margin style="max-width: 1200px">

        <!--card informações-->
        <mat-card-content>

          <visualizar-dados-ficha [ficha]="ficha" *ngIf="ficha?.id" flex>

            <!--options-->
            <div layout="column" layout-align="start end" flex>
              <div layout="row">
                <button mat-icon-button routerLink="alterar" class="tc-blue-grey-900">
                  <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="tc-blue-grey-900">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item class="tc-blue-grey-900" (click)="delete(ficha?.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Excluir</span>
                  </button>
                  <button mat-menu-item class="tc-blue-grey-900" (click)="openFicha()">
                    <mat-icon>print</mat-icon>
                    <span>Imprimir</span>
                  </button>
                </mat-menu>
              </div>
            </div>

          </visualizar-dados-ficha>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>