<div class="parallax-container valign-wrapper" style="height: 100%">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">

        <div class="container valign-wrapper">
          <br><br>
          <h1 class="header center white-text">Família Redenção</h1>
          <div class="row center">
            <h5 class="header col s12 light">Manifestando o reino dos céus através da adoração</h5>
          </div>
          <div class="row center">
            <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/AHWWl8tjkBE" frameborder="0"-->
            <!--allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
            <!--todo colocar no ozeias -->


            <a id="assistir-online-button" target="_blank"
               class="btn-large waves-effect waves-light blue darken-2"
               href="https://www.youtube.com/channel/UCo7-pMI2Sk_tQGLp7ROM4uA">
              Assistir online
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="parallax" materialize="parallax" style="background-color: #0D47A1">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/ad-redencao.appspot.com/o/images%2Fbackground1.jpg?alt=media&token=d3688b76-8e3d-4333-98d1-a554a182fdd1"
      alt="Unsplashed background img 2">
  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m3">
        <div class="icon-block">
          <div class="center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/ad-redencao.appspot.com/o/images%2Faguia.png?alt=media&token=d31956bb-6fe0-49b3-b303-354bf3a3db1e">
          </div>
          <!--<h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>-->
          <h5 class="center">Adoração</h5>

          <p class="left-align light" style="text-indent:2.5em;text-align: justify; font-size: 16px">Uma santa convocação pautada no Evangelho de João onde Jesus é simbolizado pela
            águia, surgem as proclamações coletivas. Os cultos são criados para Deus onde nos derramamos a
            oferecer o melhor de nossa expressão de amor.</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <div class="center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/ad-redencao.appspot.com/o/images%2Fservico.png?alt=media&token=180ba30c-c9cf-4e38-80b1-9ac86abdcbce">
          </div>
          <!--<h2 class="center brown-text"><i class="material-icons">group</i></h2>-->
          <h5 class="center">Serviço</h5>
          <p class="left-align light" style="text-indent:2.5em;text-align: justify; font-size: 16px">Tem como base no Evangelho de Marcos, onde Jesus se personifica como o Novilho
            representando o serviço do Reino. A Multiforme graça de Deus sendo impartida por meio de
            encargos espirituais, dons, talentos, habilidades, funções e ofícios.</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <!--<h2 class="center brown-text"><i class="material-icons">settings</i></h2>-->
          <div class="center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/ad-redencao.appspot.com/o/images%2FRelacionamento.png?alt=media&token=d099a268-75bd-422b-8d6a-7d07f46ba722">
          </div>
          <h5 class="center">Relacionamento</h5>

          <p class="left-align light" style="text-indent:2.5em;text-align: justify; font-size: 16px">Iluminado pelo Evangelho de Lucas onde Jesus assume sua forma humana, nasce a
            comunhão. Através de núcleos de relacionamento, a igreja respira o compartilhar, a aproximação e
            o desenvolvimento coletivo.</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <!--<h2 class="center brown-text"><i class="material-icons">settings</i></h2>-->
          <div class="center">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/ad-redencao.appspot.com/o/images%2FConhecimento.png?alt=media&token=7cb2e878-8916-4536-83ca-3ff3d7184658">
          </div>
          <h5 class="center">Conhecimento</h5>

          <p class="left-align light" style="text-indent:2.5em;text-align: justify; font-size: 16px">Inspirado no Evangelho de Mateus, onde Cristo de Revela como Leão surge nossa área
            de discipulado. Temos como prioridade construir uma base de treinamento para o Reino pautada no
            ensino bíblico genuíno.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h3 class="header col s12 light"> Um coração quebrantado tu não despresarás!</h3>
        <h5 class="header col s12 light"> Salmos 51:17</h5>
      </div>
    </div>
  </div>

  <div class="parallax" materialize="parallax">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/ad-redencao.appspot.com/o/images%2Fozeias.jpg?alt=media&token=8a25c4a4-3bf8-42c5-a12f-546f53cc3b95"
      alt="Unsplashed background img 2">
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">

      <div class="col s12 center">
        <p class="center-align darken-2" style="font-size: 16px"> “Eu que sei que pensamentos tenho
          sobre vos. Pensamentos de Paz e não de mal, para vos dar o fim que desejais” Jer. 29.11. </p>
        <p class="left-align light" style="text-indent:2.5em;text-align: justify; font-size: 16px">
          Ao completar cinco anos de Família Redenção, entendemos bem o significado desse versículo para o
          povo de Deus. Sabemos que temos muito que comemorar. Olhamos para os dias que passaram e vemos o agir de
          Deus de forma tão linda e tão sobrenatural em cada momento. Muitas famílias foram restauradas, muitos
          casamentos reconciliados e harmonizados, filhos voltaram a viver com seus pais, muitas pessoas foram curadas
          de enfermidades e o que é mais gratificante, muitas vidas se converteram se rendendo ao Senhor Jesus. </p>
        <p class="left-align light" style="text-indent:2.5em; text-align: justify; font-size: 16px">
          Somos imensamente gratos ao Senhor por tudo que ele tem nos proporcionado durante esses anos. Em meio a um
          tempo de muita entrega e rendição ao Senhor, com jejuns e orações sem cessar, tendo o privilégio no Senhor
          de viver alianças firmadas e estabelecidas com grandes homens de Deus como os pastores Adalberto Silva,
          Claudivan Pasinatto, Ademir Milliavaca, entre outros, o Senhor nos deu um crescimento espantoso. </p>
        <p class="left-align light" style="text-indent:2.5em;text-align: justify; font-size: 16px">
          Crescemos em graça e conhecimento, crescemos em experiência como igreja, em número de ministérios e
          crescemos muito em comunhão, além disso recebemos do Senhor um crescimento numérico considerável. Iniciamos
          a igreja há quatro anos com aproximadamente 70 pessoas e Deus nos multiplicou pelo menos por seis. Hoje
          somos mais de 400 pessoas congregando em cultos nos quais a presença de Deus se manifesta poderosamente,
          muito além daquilo que poderíamos merecer. </p>
        <p class="left-align light" style="text-indent:2.5em;text-align: justify; font-size: 16px">
          Ao olhar para os cinco anos que se passaram podemos descansar no Senhor e saber que o que vem pela frente é
          algo que não podemos controlar, só podemos desfrutar e nos consagrar a cada dia mais para não atrapalhar
          Deus naquilo que Ele quer fazer. E cremos que Ele vai fazer. Pedimos ao Senhor que Ele faça mesmo, que Ele
          cumpra seu propósito e não nos deixe de fora do seu mover. Muito mais está por vir. </p>
        <p class="right-align darken-1; font-size: 16px"> Pastor Valdir Maia de Oliveira </p></div>

    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Há 5 anos vivendo em família!</h5>
      </div>
    </div>
  </div>
  <div class="parallax" materialize="parallax">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/ad-redencao.appspot.com/o/images%2Fbackground3.jpg?alt=media&token=0a05c2ed-91e2-41b7-b09a-1f0b52d8ba1f"
      alt="Unsplashed background img 3">
  </div>
</div>

<!--google maps iframe-->
<div class="google-maps" id='localizacao'>
  <iframe allowfullscreen frameborder="0"
          style="position: absolute;
    top: 0;
    left: 0;
    width: 100% !important; height: 100%"
          src="https://www.google.com/maps/embed/v1/place?q=place_id:EkhBdi4gU2lsdmlvIEFtw6lyaWNvIFNhc2RlbGxpLCAzNjY0IC0gVmlsYSBBLCBGb3ogZG8gSWd1YcOndSAtIFBSLCBCcmFzaWw&key=AIzaSyBHON2JAqk27vIE7rzrNUYM_Ht4du_cNl0"></iframe>
</div>

<rodape></rodape>
