<div [style.background-image]='getBackground(backgroundPath)'
     class='login' layout='column' layout-align='center center'>

  <div layout='column' layout-align='center center'>

    <mat-card style='width: 600px'>
      <mat-card-content>

        <div layout='column' layout-margin>

          <div layout='column' layout-align='center center' layout-margin>
            <div flex layout='row' layout-margin>
              <img class='logo' src='{{logoImage}}'>
            </div>
          </div>

          <div flex layout='row' layout-margin style='margin-top: 34px'>

            <mat-form-field flex>
              <input (ngModelChange)='inputCodigoChanged($event)'
                     [(ngModel)]='mobileService.dispositivo.codigo'
                     [ngModelOptions]='{standalone: true}' matInput
                     name='codigo' type='number' placeholder='Código'/>
            </mat-form-field>

          </div>

        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>
