<div layout-align='center center' layout-gt-xs='row' layout-margin >
  <div layout='row' flex-gt-xs='80' layout-margin>
    <div flex layout-margin layout='column' layout-align='center center'>
      <mat-card class='bgc-grey-50' layout-margin style='width: calc(100% - 15px)' *ngIf='licenca?.numero' [@fadeInOut]>
        <mat-card-content>

          <div layout='row'>
            <div layout='column' style='min-width: 17px'>
              <button class='mat-headline tc-grey-500' type='button'
                      *ngIf='activatedRoute?.snapshot?.params?.numero'
                      routerLink='../' color='primary' mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>

            <div layout='column' layout-gt-xs="row"
                 layout-align="start center" flex-gt-xs="100">

              <div layout='row'
                   layout-margin
                   flex flex-gt-xs='80'
                   style='margin-top: 0'
                   layout-align='start center'>

                <div layout='column' flex>
                  <div layout='row' layout-align='start center'>
                    <div layout='column'>
                      <h1 flex='100' class='mat-headline tc-blue-grey-800 no-margin'>
                        {{licenca?.nome}}
                      </h1>
                      <h2 flex='100' class='mat-subheading-2 tc-blue-grey-500 no-margin'>
                        {{licenca?.interna ? 'Licença interna' : 'Licença externa'}}
                      </h2>
                      <h2 *ngIf='licenca?.interna' flex class="mat-subheading-2 tc-blue-grey-500 no-margin">Modo quiosque: {{licenca?.modoQuiosque ? 'Sim' : 'Não'}}</h2>
                      <h2 *ngIf='licenca?.interna' flex class="mat-subheading-2 tc-blue-grey-500 no-margin">Modo insônia: {{licenca?.modoInsonia ? 'Sim' : 'Não'}}</h2>
                      <h2 flex class="mat-subheading-2 tc-blue-grey-500 no-margin">Tempo de espera entre as avaliações (Em segundos): {{licenca?.time}}</h2>
                      <h2 flex class="mat-subheading-2 tc-blue-grey-500 no-margin">Quebrar linha durante a seleção de itens avaliáveis: {{licenca?.quebrarLinhaNaSelecaoDeItemAvaliavel ? 'Sim' : 'Não'}}</h2>
                      <h2 flex class="mat-subheading-2 tc-blue-grey-500 no-margin">Número da licença: {{licenca?.numero}}</h2>
                      <h2 *ngIf='licenca?.senha' flex class="mat-subheading-2 tc-blue-grey-500 no-margin">Senha: {{licenca?.senha}}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <span flex></span>

            <!--div opções-->
            <div layout='row' flex='40'>
              <!--options-->
              <div layout='column' layout-align='start end' flex>
                <div layout='row'>
                  <button mat-icon-button routerLink='alterar' class='tc-blue-grey-900'>
                    <mat-icon>mode_edit</mat-icon>
                  </button>
                  <button mat-icon-button [matMenuTriggerFor]='menu' class='tc-blue-grey-900'>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu='matMenu'>
                    <button (click)='remove()'
                            mat-menu-item color='primary'>
                      <mat-icon>delete</mat-icon>
                      <span>Remover</span>
                    </button>
                    <!--<button (click)='publish()'-->
                    <!--mat-menu-item color='primary'>-->
                    <!--<mat-icon>delete</mat-icon>-->
                    <!--<span>Publicar</span>-->
                    <!--</button>-->
                  </mat-menu>
                </div>
              </div>
            </div>

          </div>

        </mat-card-content>
      </mat-card>

      <div layout='row' flex [@fadeInOut]
           *ngIf='vincularUnidadeTipoSvaliacao'
           style='width: 100%' layout-align='center center'>

        <mat-form-field flex style='margin-bottom: 0'>
          <input [ngModelOptions]='{standalone: true}'
                 id='filter' name='filter' maxlength='200'
                 placeholder='Filtre as unidades por nome'
                 [(ngModel)]='filter.unidade.nome' matInput>
        </mat-form-field>
      </div>

      <mat-card  class='bgc-grey-50' style='width: 100%' *ngIf='vincularUnidadeTipoSvaliacao'>

        <vincular-unidade-tipo-avaliacao *ngIf='licenca?.numero' [(unidades)]='unidades' [filter]='filter'
                                         [(unidadesTiposAvaliacoesLicenca)]='licenca.unidadesTiposAvaliacoesLicenca'
                                         (unidadesTiposAvaliacoesLicencaChange)='unidadesTiposAvaliacoesLicencaChange($event)'>
        </vincular-unidade-tipo-avaliacao>

      </mat-card>

    </div>
  </div>
</div>
