<div layout-align="center center" layout-gt-xs="row" layout-margin>
  <div layout="row" flex-gt-xs="80" layout-margin>
    <div flex layout-margin>

      <mat-card class="bgc-grey-50" layout-margin style="max-width: 1200px">

        <!--card informações-->
        <mat-card-content>

          <div layout="row">

            <div layout="column" style="min-width: 17px">
              <button *ngIf="activatedRoute?.snapshot?.params?.key"
                      class="mat-headline tc-grey-500" type="button"
                      routerLink="../" color="primary" mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>

            <!--div foto e informações-->
            <div layout-gt-xs="row" layout-align="start center" flex-gt-xs="80">

              <div layout="row" layout-align="start center" layout-margin flex>
                <div layout="column">
                  <h1 flex class="mat-headline tc-blue-grey-800 no-margin">{{unidade?.nome}}</h1>

                  <h2 flex class="mat-subheading-2 tc-blue-grey-500 no-margin" *ngIf="unidade?.endereco?.cidade?.nome">
                    Número {{unidade?.endereco?.numero}},
                    {{unidade?.endereco?.logradouro}}, {{unidade?.endereco?.bairro}} -
                    {{unidade?.endereco?.cidade?.nome}} - {{unidade?.endereco?.cidade?.estado?.sigla}}
                  </h2>
                </div>
              </div>
            </div>
            <!--div opções-->
            <div layout="row" flex="40">
              <div layout="column" layout-align="start end" flex>
                <div layout="row">
                  <button mat-icon-button routerLink="alterar" class="tc-blue-grey-900">
                    <mat-icon>mode_edit</mat-icon>
                  </button>
                  <button mat-icon-button [matMenuTriggerFor]="menu" class="tc-blue-grey-900">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item color="primary" (click)="remove(unidade?.key)">
                      <mat-icon>delete</mat-icon>
                      <span>Remover</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>