<mat-nav-list *ngIf='unidades?.length'>
  <div *ngFor="let unidade of unidades | filter:filter.unidade">
    <mat-list-item disableRipple layout='row' layout-margin>

      <h3 matLine>{{unidade?.nome}}</h3>
      <p matLine>
        {{unidade?.endereco?.logradouro}}, {{unidade?.endereco?.numero}},
        {{unidade?.endereco?.bairro}} -
        {{unidade?.endereco?.cidade?.nome}} - {{unidade?.endereco?.cidade?.estado?.uf}}
      </p>

      <mat-slide-toggle layout-margin
                        [(ngModel)]='unidade.operadorValue' flex
                        (ngModelChange)='saveOperadorInner(unidade)'>
        Operador
      </mat-slide-toggle>
      <mat-slide-toggle layout-margin flex
                        [(ngModel)]='unidade.avaliavelValue'>
        Avaliável
      </mat-slide-toggle>

    </mat-list-item>

    <mat-accordion>
      <mat-expansion-panel class='bgc-grey-100'
                           [expanded]='unidade.avaliavelValue'
                           (opened)='changeAvaliavel(unidade)'>

        <mat-card-content>
          <section class="example-section"
                   *ngIf='unidade?.unidadesTiposAvaliacoes?.length'>
            <mat-checkbox class='example-margin'
                          [(ngModel)]='unidadeTipoAvaliacao.checked'
                          (ngModelChange)='changeUnidadeTipoAvaliacao(unidadeTipoAvaliacao)'
                          *ngFor="let unidadeTipoAvaliacao of unidade.unidadesTiposAvaliacoes">
              {{unidadeTipoAvaliacao?.tipoAvaliacao?.nome}}
            </mat-checkbox>
          </section>
        </mat-card-content>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

</mat-nav-list>
