<mat-nav-list *ngIf='unidades?.length'>
    <div *ngFor="let unidade of unidades | filter:filter.unidade">
        <mat-list-item disableRipple layout='row' layout-margin>

            <h3 matLine>{{unidade?.nome}}</h3>
            <p matLine>
                {{unidade?.endereco?.logradouro ? unidade?.endereco?.logradouro + ', ' : ''}}
                {{unidade?.endereco?.numero ? unidade?.endereco?.numero + ', ' : ''}}
                {{unidade?.endereco?.bairro ? unidade?.endereco?.bairro + ', ' : ''}}
                {{unidade?.endereco?.cidade ? (unidade?.endereco?.cidade?.nome + ' - ' + unidade?.endereco?.cidade?.estado?.uf) : ''}}
            </p>

            <mat-slide-toggle layout-margin flex
                              [(ngModel)]='unidade.operadorValue'
                              (ngModelChange)='saveOperadorInner(unidade)'>
                Operador
            </mat-slide-toggle>
            <mat-slide-toggle layout-margin flex
                              [(ngModel)]='unidade.avaliavelValue'
                              (ngModelChange)='changeAvaliavel(unidade)'>
                Avaliável
            </mat-slide-toggle>

        </mat-list-item>
        <mat-accordion>
            <mat-expansion-panel
                    [expanded]='unidade.avaliavelValue && ((unidade?.unidadesTiposAvaliacoes?.length > 1) || unidade?.unidadesTiposAvaliacoes[0]?.unidadesTiposAvaliacoesLicenca?.length > 1)'>

                <div *ngIf='unidade?.unidadesTiposAvaliacoes?.length' flex
                     layout-align='center start' layout='column' style='width: 100%'>
                    <div *ngFor='let unidadeTipoAvaliacao of unidade.unidadesTiposAvaliacoes' style='width: 100%'
                         layout='row'>

                        <mat-list-item disableRipple layout='column' layout-margin
                                       (click)='emit(clickUnidadeTipoAvaliacao(unidadeTipoAvaliacao)); verifyUnidade(unidade)'
                                       [ngStyle]="{'background-color': unidadeTipoAvaliacao.unidadeTipoAvaliacaoValue ? 'aliceblue' : '#fafafa' }">
                            <h3 style='margin-left: 25px!important' matLine>
                                {{unidadeTipoAvaliacao?.tipoAvaliacao?.nome}}
                            </h3>
                        </mat-list-item>
                        <div layout='row' flex
                             *ngIf='unidadeTipoAvaliacao?.unidadesTiposAvaliacoesLicenca?.length > 1'
                             [ngStyle]="{'background-color': unidadeTipoAvaliacao.unidadeTipoAvaliacaoValue ? 'aliceblue' : '#fafafa' }">
                            <mat-checkbox flex layout-margin
                                          [(ngModel)]='unidadeTipoAvaliacaoLicenca.unidadeTipoAvaliacaoLicencaValue'
                                          *ngFor='let unidadeTipoAvaliacaoLicenca of unidadeTipoAvaliacao.unidadesTiposAvaliacoesLicenca'
                                          (change)='emit(changeUnidadeTipoAvaliacaoLicencaUnidadeTipoAvaliacaoLicencaValue(unidadeTipoAvaliacaoLicenca, unidadeTipoAvaliacaoLicenca.unidadeTipoAvaliacaoLicencaValue)); verifyUnidadeTipoAvaliacao(unidadeTipoAvaliacao); verifyUnidade(unidade)'>
                                {{unidadeTipoAvaliacaoLicenca?.licenca?.nome}}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>
    </div>

</mat-nav-list>
