<usuario-form (save)="save()" [usuario]="atendente">

  <!--cabeçalho div-->
  <div header layout='column' layout-margin>
    <div layout='row' layout-align='start center'>

      <button class="mat-headline tc-grey-500"
              color="primary" mat-icon-button
              routerLink="../" type="button">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div layout="row" layout-margin>
        <h1 class="mat-headline tc-grey-500" flex> {{'Inserir'}}</h1>
      </div>
    </div>
  </div>

  <mat-divider [inset]='true' divider
               style='margin-left: -25px; margin-right: -25px; margin-bottom: 40px; margin-top: 40px; position: inherit;width: auto'>
  </mat-divider>

  <vincular-unidade (removeOperador)='removeOperador($event)'
                    (saveOperador)='saveOperador($event)'
                    (unidadesTiposAvaliacoesDispositivoChange)='unidadesTiposAvaliacoesDispositivoChange($event)'
                    *ngIf='vincularUnidadeTipoAvaliacaoDispositivo'
                    [avaliaveis]='avaliaveis'
                    [operadores]='operadores'
                    [unidades]='unidades'
                    [usuario]='atendente'
                    unidades>
  </vincular-unidade>

  <!--actions div-->
  <div actions flex layout-margin>

    <div flex layout-gt-xs='row' layout-margin>

      <span flex='70'></span>

      <button routerLink='../'
              flex type='button'
              mat-raised-button>
        Cancelar
      </button>
      <button mat-raised-button
              flex color='accent'>
        Salvar
      </button>

    </div>
  </div>
</usuario-form>
