<mat-checkbox matTooltip='O tablet não sai do aplicativo' flex='20' [@fadeInOut] *ngIf='licenca'
              (change)="licenca.modoQuiosque ? licenca.modoInsonia = true : ''"
              [(ngModel)]='licenca.modoQuiosque' [ngModelOptions]='{standalone: true}'>
  Modo Quiosque
</mat-checkbox>

<mat-checkbox matTooltip='Enquanto estiver no aplicativo, a tela não adormece' flex='10' flex-sm='30'
              (change)="!licenca.modoInsonia ? licenca.modoQuiosque = false : ''" [@fadeInOut] *ngIf='licenca'
              [(ngModel)]='licenca.modoInsonia' [ngModelOptions]='{standalone: true}'>
  Modo Insônia
</mat-checkbox>
