<div [formGroup]='form.controls.password' layout='column'>
  <div layout="row" layout-margin>
    <mat-form-field flex>
      <input placeholder="Senha da conta"
             [(ngModel)]="conta.password"
             matInput name="password" id="password"
             type="password" formControlName="password"
             (keyup)="form.controls['password'].get('confirmacaoPassword')?.updateValueAndValidity()">
      <mat-error *ngIf="form.controls.password.controls['password'].hasError('exception')">
        {{form.controls.password?.controls['password']?.errors.exception}}
      </mat-error>
    </mat-form-field>

    <mat-form-field flex>
      <input [(ngModel)]="confirmacaoPassword"
             matTooltip="Confirmação de senha da conta"
             placeholder="Confirmação de senha da conta"
             type="password" formControlName="confirmacaoPassword"
             matInput name="confirmacaoPassword" id="confirmacaoPassword">
      <mat-error *ngIf="form.controls.password.controls['confirmacaoPassword'].hasError('exception')">
        {{form.controls.password?.controls['confirmacaoPassword']?.errors.exception}}
      </mat-error>
    </mat-form-field>
  </div>
</div>
