<!-- Cartão de crédito -->
<div [formGroup]='form.controls.cartao'>
  <div layout="row" layout-margin>
    <b class="pagamento-title" flex>Informações do cartão</b>
  </div>

  <div layout-align="start center" layout-gt-xs="row" layout-margin>
    <mat-form-field flex>
      <input [(ngModel)]="assinatura.numeroCartao" [textMask]="{mask: masks.cardNumber, guide: false}"
             formControlName='numeroCartao'
             matInput
             name="numeroCartao" placeholder="Número do cartão"
             required>
      <mat-error *ngIf="form?.controls?.cartao?.controls['numeroCartao']?.hasError('exception')">
        {{form?.controls?.cartao?.controls['numeroCartao']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <!--    <div flex>-->
    <!--      <img *ngIf="imagemBandeiraCartao" [src]="imagemBandeiraCartao" alt="logo cartao">-->
    <!--    </div>-->
  </div>

  <div layout-gt-xs="row" layout-margin>
    <mat-form-field flex>
      <input (keyup)="form?.controls?.cartao?.get('numeroCartao')?.updateValueAndValidity()"
             [(ngModel)]="assinatura.mesValidade"
             [textMask]="{mask: masks.month, guide: false}"
             formControlName='mesValidade' matInput name="mesValidade"
             placeholder="Mês de validade"
             required>
      <mat-error *ngIf="form?.controls?.cartao?.controls['mesValidade']?.hasError('exception')">
        {{form?.controls?.cartao?.controls['mesValidade']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <mat-form-field flex>
      <input (keyup)="form?.controls?.cartao?.get('numeroCartao')?.updateValueAndValidity()"
             [(ngModel)]="assinatura.anoValidade"
             [textMask]="{mask: masks.year, guide: false}" formControlName='anoValidade' matInput
             name="anoValidade"
             placeholder="Ano de validade"
             required>
      <mat-error *ngIf="form?.controls?.cartao?.controls['anoValidade']?.hasError('exception')">
        {{form?.controls?.cartao?.controls['anoValidade']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <mat-form-field flex>
      <input (keyup)="form?.controls?.cartao?.get('numeroCartao')?.updateValueAndValidity()"
             [(ngModel)]="assinatura.codigoSeguranca"
             formControlName='codigoSeguranca'
             matInput maxLength="10" name="codigoSeguranca"
             placeholder="Código de segurança">
      <mat-error *ngIf="form?.controls?.cartao?.controls['codigoSeguranca']?.hasError('exception')">
        {{form?.controls?.cartao?.controls['codigoSeguranca']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
  </div>

  <div layout="row" layout-margin>
    <b class="pagamento-title" flex>Dados do titular do cartão</b>
  </div>

</div>
