@import '../../../../application/theming/mobile-theme';

.login {
  height: 100%;
  background-size: cover;
  background-image: url("../../../../../assets/images/banner.png");
}

.logo {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 28px;
}
