<cliente-form [cliente]="cliente" *ngIf='cliente?.siteKey' (save)="save()">

  <!--cabeçalho div-->
  <div layout='column' layout-margin header>
    <div layout='row' layout-align='start center'>

      <button class="mat-headline tc-grey-500"
              type="button" routerLink="../authentication"
              color="primary" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div layout="row" layout-margin>
        <h1 class="mat-headline tc-grey-500" flex> Cadastre-se</h1>
      </div>
    </div>
  </div>

  <mat-divider style='margin-left: -25px; margin-right: -25px; margin-bottom: 40px; margin-top: 40px;' divider>
  </mat-divider>

  <!--actions div-->
  <div flex layout-margin actions>

    <div layout-gt-xs='row' flex layout-margin>

      <span flex='70'></span>

      <button mat-raised-button
              routerLink='../authentication'
              type='button'
              flex>
        Cancelar
      </button>
      <button mat-raised-button
              color='accent'
              flex>
        Salvar
      </button>

    </div>
  </div>
</cliente-form>
