<search-bar>

  <mat-form-field flex>
    <input id="filter" name="filter"
           placeholder="Pesquisar unidade" matInput
           [(ngModel)]="filter.nome" maxlength="200">
  </mat-form-field>

  <mat-form-field flex>
    <input id="cidade" name="cidade"
           placeholder="Pesquisar por cidade" matInput
           [(ngModel)]="filter.endereco.cidade.nome" maxlength="200">
  </mat-form-field>

  <div flex-gt-md></div>

  <add-button routerLink="inserir"
              [matTooltipPosition]="'below'"
              matTooltip="Inserir uma nova unidade">
  </add-button>

</search-bar>


<lista-unidades [(filter)]="filter">
  <div class="tc-grey-500 size-height-50"
       layout="row" layout-align="start center"
       style="min-width: 17px; margin-top: 6px">
    <span> Resultado da pesquisa </span>
    <div flex></div>
    <span> {{ unidades?.length}} resultados </span>
  </div>
</lista-unidades>