<search-bar>

  <mat-form-field flex style="margin-left:0">
    <input id="filter" name="filter" autofocus
           placeholder="Filtre por nome" matInput
           [(ngModel)]="filter.nome" maxlength="200">
  </mat-form-field>

  <div flex-gt-md></div>

  <add-button routerLink="inserir"
              [matTooltipPosition]="'below'"
              matTooltip="Inserir uma nova unidade">
  </add-button>

</search-bar>


<lista-unidades [(filter)]="filter">
  <div class="tc-grey-500 size-height-50"
       layout="row" layout-align="start center">
    <span> Resultado da pesquisa </span>
    <div flex></div>
    <span> {{ unidades?.length}} resultados </span>
  </div>
</lista-unidades>