.background-avaliacao {
  height: 100%;
  background-size: cover;

  background: url('https://firebasestorage.googleapis.com/v0/b/sodupe-online.appspot.com/o/3.png?alt=media&token=951ab64f-3a2e-4d69-9ae1-0d6c8d3420e7');
  background-position: bottom right;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
