<div layout-align='center center' layout-gt-xs='row' layout-margin>
  <div layout='row' flex-gt-xs='80' layout-margin>
    <div flex layout-margin>
      <mat-card class='bgc-grey-50' layout-margin>

        <!--card informações-->
        <mat-card-content>

          <div layout='row'>
            <div layout='column' style='min-width: 17px'>
              <button *ngIf='activatedRoute?.snapshot?.params?.id'
                      class='mat-headline tc-grey-500' type='button'
                      routerLink='../' color='primary' mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>

            <visualizar-dados-usuario [usuario]='atendente' *ngIf='atendente?.id' flex>

              <!--options-->
              <div layout='column' layout-align='start end' flex
                   *ngIf="authenticatedUser?.isAdministrador || !atendente?.isAdministrador">
                <div layout='row'>
                  <button mat-button hide-sm hide-xs class='tc-blue-grey-900' routerLink='estatisticas'>
                    <mat-icon>show_chart</mat-icon>
                    <span>Estatísticas</span>
                  </button>

                  <button mat-icon-button routerLink='alterar' class='tc-blue-grey-900'>
                    <mat-icon>mode_edit</mat-icon>
                  </button>
                  <button mat-icon-button [matMenuTriggerFor]='menu' class='tc-blue-grey-900'>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu='matMenu'>
                    <button mat-menu-item hide-gt-sm color='primary' routerLink='estatisticas'>
                      <mat-icon>show_chart</mat-icon>
                      <span>Estatísticas</span>
                    </button>
                    <button mat-menu-item color='primary' (click)='alteraSenha()'>
                      <mat-icon>vpn_key</mat-icon>
                      <span>Alterar senha</span>
                    </button>
                    <button mat-menu-item color='primary' (click)='remove(atendente?.id)'>
                      <mat-icon>delete</mat-icon>
                      <span>Remover</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </visualizar-dados-usuario>
          </div>
        </mat-card-content>
      </mat-card>

      <div layout='row' flex layout-align='center center'>
        <mat-form-field flex
                        style='margin-bottom: 0'>
          <input placeholder="Filtre as unidades por nome"
                 id="filter" name="filter" matInput
                 [ngModelOptions]='{standalone: true}'
                 [(ngModel)]="filter.unidade.nome" maxlength="200">
        </mat-form-field>
      </div>

      <mat-accordion>
        <mat-expansion-panel class='bgc-grey-50' [expanded]='true'>

          <vincular-unidade [filter]='filter'
                            [usuario]='atendente'
                            *ngIf='atendente?.id'
                            (save)='saveColaborador($event)'>
          </vincular-unidade>

        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>
</div>