<div layout-align='center center' layout-gt-xs='row' layout-margin>
  <div layout='row' flex-gt-xs='80' layout-margin>
    <div flex layout-margin layout='column' layout-align='center center'>
      <mat-card class='bgc-grey-50' layout-margin style='width: calc(100% - 15px)'>

        <!--card informações-->
        <mat-card-content>

          <div layout='row'>
            <div layout='column' style='min-width: 17px'>
              <button [@fadeInOut]
                      *ngIf='activatedRoute?.snapshot?.params?.id'
                      class='mat-headline tc-grey-500' type='button'
                      routerLink='../' color='primary' mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>
            <visualizar-dados-usuario [usuario]='atendente' *ngIf='atendente?.id' [@fadeInOut] flex>

              <!--options-->
              <div layout='column' layout-align='start end' flex [@fadeInOut]
                   *ngIf='authenticatedUser?.isAdministrador || !atendente?.isAdministrador'>
                <div layout='row'>
                  <button *ngIf='!atendente?.conta?.root'
                          mat-button class='tc-blue-grey-900'
                          routerLink='estatisticas' hide-sm hide-xs>
                    <mat-icon>show_chart</mat-icon>
                    <span>Estatísticas</span>
                  </button>

                  <button mat-icon-button routerLink='alterar' class='tc-blue-grey-900'>
                    <mat-icon>mode_edit</mat-icon>
                  </button>
                  <button mat-icon-button [matMenuTriggerFor]='menu' class='tc-blue-grey-900'>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu='matMenu'>
                    <button *ngIf='!atendente?.conta?.root' mat-menu-item
                            hide-gt-sm color='primary' routerLink='estatisticas'>
                      <mat-icon>show_chart</mat-icon>
                      <span>Estatísticas</span>
                    </button>
                    <button mat-menu-item color='primary' [@fadeInOut]
                            *ngIf='atendente?.conta?.email' (click)='alteraSenha()'>
                      <mat-icon>vpn_key</mat-icon>
                      <span>Alterar senha</span>
                    </button>
                    <button mat-menu-item color='primary' (click)='remove(atendente?.id)'>
                      <mat-icon>delete</mat-icon>
                      <span>Remover</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </visualizar-dados-usuario>
          </div>
        </mat-card-content>
      </mat-card>

      <div style='width: 100%'
           *ngIf='unidades?.length'
           layout-align='center center'
           layout='row' flex [@fadeInOut]>

        <mat-form-field flex style='margin-bottom: 0'>
          <input id='filter' name='filter' matInput
                 [ngModelOptions]='{standalone: true}'
                 placeholder='Filtre as unidades por nome'
                 [(ngModel)]='filter.unidade.nome' maxlength='200'>
        </mat-form-field>

      </div>

      <mat-card class='bgc-grey-50' style='width: 100%' *ngIf='unidades?.length'>

        <vincular-unidade [filter]='filter'
                          [usuario]='atendente'
                          *ngIf='atendente?.id'
                          [(unidades)]='unidades'
                          [(operadores)]='operadores'
                          [(avaliaveis)]='avaliaveis'
                          (saveOperador)='saveOperador($event)'
                          (removeOperador)='removeOperador($event)'
                          (saveAvaliavel)='saveAvaliavel($event)'
                          (removeAvaliavel)='removeAvaliavel($event)'>
        </vincular-unidade>

      </mat-card>

    </div>
  </div>
</div>
