<search-bar>

  <mat-form-field flex='30' [ngStyle]="{'margin-top': (pageRequest?.usuariosFilter?.length ? '9.5px' : '23px')}">
    <mat-chip-list #usuariosChipList aria-label='Pesquisar por ítens avaliáveis'>

      <mat-chip *ngFor='let usuario of pageRequest?.usuariosFilter'
                (removed)='removeUsuarioFilter(usuario)' style='max-width: 100%'>
        {{usuario?.nome}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

      <input (keyup)='usuarioFilterAsyncChanged(usuarioFiltro)'
             placeholder='Pesquisar por ítens avaliáveis' #usuariosInput
             [matAutocomplete]='auto' [matChipInputFor]='usuariosChipList'
             [(ngModel)]='usuarioFiltro' [ngModelOptions]='{standalone: true}'>

    </mat-chip-list>

    <mat-autocomplete #auto='matAutocomplete' (optionSelected)='addUsuarioFilter($event)'>
      <mat-option [value]='option' *ngFor='let option of usuariosFilteredAsync'>
        {{option?.nome}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  feedback


  <!--  <td-chips requireMatch-->
  <!--            [items]="usuariosFilteredAsync"-->
  <!--            [(ngModel)]='asyncModelUsuario'-->
  <!--            placeholder="Pesquisar por atendentes"-->
  <!--            (inputChange)="filterAsyncUsuario($event)"-->
  <!--            (add)="onChangeFilters()" (remove)="onChangeFilters()"-->
  <!--            [debounce]="500" flex="30" style='margin-left:0; margin-top: 0px;'>-->
  <!--    <ng-template td-chip let-chip="chip">-->
  <!--      {{chip?.nome}}-->
  <!--    </ng-template>-->
  <!--    <ng-template td-autocomplete-option let-option="option">-->
  <!--      <div layout="row" layout-align="start center">-->
  <!--        {{option?.nome}}-->
  <!--      </div>-->
  <!--    </ng-template>-->
  <!--  </td-chips>-->


  <td-chips requireMatch
            [items]="filteredAsync"
            [(ngModel)]='asyncModel'
            (inputChange)="filterAsync($event)"
            placeholder="Pesquisar por unidades"
            [debounce]="500" flex="30" style="margin-top: 0px;"
            (add)="onChangeFilters()" (remove)="onChangeFilters()">
    <ng-template td-chip let-chip="chip">
      {{chip?.nome}} ({{chip?.endereco?.cidade?.nome }} - {{chip?.endereco?.cidade?.estado?.uf}})
    </ng-template>
    <ng-template td-autocomplete-option let-option="option">
      <div layout="row" layout-align="start center">
        {{option?.nome}} ({{option?.endereco?.cidade?.nome }} - {{option?.endereco?.cidade?.estado?.uf}})
      </div>
    </ng-template>
  </td-chips>

  <div flex-gt-md></div>

  <button mat-raised-button
          class="bgc-blue-grey-50 push-right"
          (click)="toggleShowPesquisaAvancada()">
    Pesquisa avançada
  </button>

</search-bar>

<!--Pesquisa avançada-->
<mat-card style='height: 95px'
          *ngIf='showPesquisaAvancada'
          class='push-none bgc-grey-50 filters-card-avanced'>
  <div layout='row'
       layout-align='center center'>
    <div layout-align-gt-sm='start center'
         layout-gt-sm='row' layout-sm='column' flex='90'>

      <div layout='row' layout-margin style='margin-top: 15px'>

        <ev-datepicker style='margin-left: -2px'
                       #dataInicio layout='row' flex
                       (dataInputChange)='listAvaliacoesByDates()'
                       [(dataInput)]='pageRequest.dataInicioFilter'>
          <mat-form-field>
            <input placeholder='Data da avaliação - Início'
                   [(ngModel)]='pageRequest.dataInicioFilter'
                   matInput name='dataInicio' id='dataInicio'
                   [textMask]='{mask: masks.date, guide: false}'>
          </mat-form-field>
        </ev-datepicker>

        <ev-datepicker #dataTermino layout='row' flex
                       (dataInputChange)='listAvaliacoesByDates()'
                       [(dataInput)]='pageRequest.dataTerminoFilter'>
          <mat-form-field>
            <input style='width: 225px'
                   placeholder='Data da avaliação - Término'
                   [(ngModel)]='pageRequest.dataTerminoFilter'
                   matInput name='dataTermino' id='dataTermino'
                   [textMask]='{mask: masks.date, guide: false}'>
          </mat-form-field>
        </ev-datepicker>

      </div>
      tipos de avaliações
      <div hide-sm hide-xs flex='12'></div>

      <close-button (click)='hidePesquisaAvancada()' hide-sm hide-xs></close-button>
    </div>
  </div>
</mat-card>

<!--Listagem-->
<div layout='row'
     layout-align='center start'>
  <div layout='column' flex='90'>

    <div class='tc-grey-500 size-height-50'
         layout='row' layout-align='start center'>
      <span> Resultado da pesquisa </span>
      <div flex></div>
      <span> {{ page?.totalElements}} resultados </span>
    </div>

    <div class='mat-elevation-z4'>

      <mat-table matSortDisableClear
                 matSortActive='data'
                 matSortDirection='asc'
                 [dataSource]='dataSource'
                 #table matSort class='bgc-grey-50'>

        <ng-container matColumnDef='unidade.nome'>
          <mat-header-cell layout-align="start center"
                           *matHeaderCellDef mat-sort-header
                           flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            <div layout-margin layout='column'>
              Unidade
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let avaliacao'
                    layout-align="start center"
                    flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            <div layout-margin layout='column'>
              {{avaliacao?.unidade?.nome}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='nota'>
          <mat-header-cell layout-align="start center"
                           [matTooltipPosition]='"left"'
                           matTooltip='Ordernar pela nota da avaliação'
                           *matHeaderCellDef mat-sort-header
                           flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            <div layout-margin layout='column'>
              Nota e ítens avaliáveis
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let avaliacao'
                    layout-align="start center"
                    flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            <avatar style='margin-left: 0;margin-bottom: 3px;'
                    layout-margin class='image-cover' [size]='0.2'
                    [usuario]="{'id': avaliacao?.id , 'foto': avaliacao?.fotoPath}">
            </avatar>
            <div layout-margin layout='row' layout-align='start center'>
              <div layout='column' layout-align='center center'>
                <mat-icon
                    svgIcon="assets:{{avaliacao?.nota === 5 ? 'otimo' : (avaliacao?.nota === 4 ? 'bom' : (avaliacao?.nota === 3 ? 'regular' : (avaliacao?.nota === 2 ? 'ruim' : 'pessimo')))}}"
                    [ngStyle]="{'fill': avaliacao?.nota === 5 ? '#5ee924' : (avaliacao?.nota === 4 ? '#8fc82c' : (avaliacao?.nota === 3 ? '#d4c40d' : (avaliacao?.nota === 2 ? '#e96d01' : '#c21c1f')))}">
                </mat-icon>
              </div>
              <span>&nbsp;{{avaliacao?.atendentes}}</span>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='agrupador.feedback'>
          <mat-header-cell layout-align="start center"
                           *matHeaderCellDef mat-sort-header
                           flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            <div layout-margin layout='column'>
              Feedback
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let avaliacao'
                    layout-align='start center'
                    flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            <div layout-margin layout='column'>
              {{avaliacao?.agrupador?.feedback}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='data'>
          <mat-header-cell layout-align="start center"
                           *matHeaderCellDef mat-sort-header
                           flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            <div layout-margin layout='column'>
              Data
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let avaliacao'
                    layout-align="start center"
                    flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            <div layout-margin layout='column'>
              {{avaliacao?.data}}
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns">
        </mat-header-row>

        <mat-row *matRowDef="let avaliacao; columns: displayedColumns"
                 routerLink="{{avaliacao.id}}" style="cursor: pointer">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 20, 50, 100]"
                     [length]="page.totalElements" style="border-radius: 2px"
                     (page)="listAvaliacoesByFilters(pageRequest)" class="bgc-grey-50">
      </mat-paginator>
    </div>
  </div>
</div>
