<search-bar>

  <mat-form-field flex flex-sm='25' flex-md='25' flex-gt-md='25' style='margin-left: 0'
                  [ngStyle]="{'margin-top': (pageRequest?.usuariosFilter?.length ? '16px' : '32px')}">
    <mat-chip-list #usuariosChipList aria-label='Pesquisar por Ítens Avaliáveis'>

      <mat-chip *ngFor='let usuario of pageRequest?.usuariosFilter'
                (removed)='removeUsuarioFilter(usuario)' style='max-width: 100%'>
        {{usuario?.nome}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

      <input (keyup)='usuarioFilterAsyncChanged(usuarioFiltro)'
             placeholder='Pesquisar por Ítens Avaliáveis' #usuariosInput
             [matAutocomplete]='auto' [matChipInputFor]='usuariosChipList'
             [(ngModel)]='usuarioFiltro' [ngModelOptions]='{standalone: true}'>

    </mat-chip-list>

    <mat-autocomplete #auto='matAutocomplete' (optionSelected)='addUsuarioFilter($event)'>
      <mat-option [value]='option' *ngFor='let option of usuariosFilteredAsync'>
        {{option?.nome}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <mat-form-field flex flex-sm='25' flex-md='25' flex-gt-md='25'
                  [ngStyle]="{'margin-top': (pageRequest?.unidadesFilter?.length ? '16px' : '32px')}">
    <mat-chip-list #chipList aria-label='Pesquisar por Unidades'>

      <mat-chip *ngFor='let unidade of pageRequest.unidadesFilter'
                (removed)='remove(unidade)' style='max-width: 100%'>
        {{unidade?.nome}}
        <!--({{unidade?.endereco?.cidade?.nome }} - {{unidade?.endereco?.cidade?.estado?.uf}})-->
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

      <input (keyup)='filterUnidadesAsync(filtro)'
             placeholder='Pesquisar por Unidades' #unidadesInput
             [matAutocomplete]='autoCompleteUnidades' [matChipInputFor]='chipList'
             [(ngModel)]='filtro' [ngModelOptions]='{standalone: true}'>

    </mat-chip-list>

    <mat-autocomplete #autoCompleteUnidades='matAutocomplete' (optionSelected)='add($event)'>
      <mat-option [value]='option' *ngFor='let option of unidadesFilteredAsync'>
        {{option?.nome}} ({{option?.endereco?.cidade?.nome }} - {{option?.endereco?.cidade?.estado?.uf}})
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <mat-form-field style='margin-top: 32px'
                  flex flex-sm='15' flex-md='10' flex-gt-md='15'
                  [ngStyle]="{'margin-top': (pageRequest?.defaultFilter?.length ? '16px' : '32px')}">
    <mat-chip-list #defaultFilterChipList aria-label='Pesquisar pelo feedback'>

      <mat-chip *ngFor='let defaultFilter of pageRequest.defaultFilter'
                (removed)='removeDefaultFilter(defaultFilter)' style='max-width: 100%'>
        {{defaultFilter}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

      <input [matChipInputFor]='defaultFilterChipList'
             (ngModelChange)='defaultFilterChanged($event)'
             (matChipInputTokenEnd)='addDefaultFilter($event)'
             [(ngModel)]='defaultFilter' [ngModelOptions]='{standalone: true}'
             placeholder='Pesquisar pelo feedback' [matChipInputAddOnBlur]='true'>

    </mat-chip-list>

  </mat-form-field>

  <mat-slide-toggle hide-sm [(ngModel)]='pageRequest.hasFeedback' (change)='onChangeFilters()' flex layout-margin>
    <span class='tc-grey-600'>Somente com feedback</span>
  </mat-slide-toggle>

  <button (click)='toggleShowPesquisaAvancada()'
          mat-raised-button class='bgc-blue-grey-50'>
    Pesquisa avançada
    <!--<label hide-md>Pesquisa avançada</label>-->
    <!--<mat-icon>filter_list</mat-icon>-->
  </button>

</search-bar>

<!--Pesquisa avançada-->
<mat-card *ngIf='showPesquisaAvancada' [@fadeInOut]
          style='height: 95px; border-top: 0 !important'
          class='push-none bgc-grey-50 filters-card-avanced'>
  <div layout='row'
       layout-align='center center'>
    <div layout-align-gt-sm='start center'
         layout-gt-sm='row' layout-md='column' flex='90'>

      <div layout='row' layout-margin style='margin-top: 15px'>

        <ev-datepicker #dataInicio layout='row'
                       flex style='margin-left: -8px'
                       (dataInputChange)='listAvaliacoesByDates()'
                       [(dataInput)]='pageRequest.dataInicioFilter'>
          <mat-form-field style='width: 225px'>
            <input placeholder='Data da avaliação - Início'
                   [(ngModel)]='pageRequest.dataInicioFilter'
                   matInput name='dataInicio' id='dataInicio'
                   [textMask]='{mask: masks.date, guide: false}'>
          </mat-form-field>
        </ev-datepicker>

        <ev-datepicker #dataTermino layout='row' flex
                       (dataInputChange)='listAvaliacoesByDates()'
                       [(dataInput)]='pageRequest.dataTerminoFilter'>
          <mat-form-field style='width: 235px'>
            <input placeholder='Data da avaliação - Término'
                   [(ngModel)]='pageRequest.dataTerminoFilter'
                   matInput name='dataTermino' id='dataTermino'
                   [textMask]='{mask: masks.date, guide: false}'>
          </mat-form-field>
        </ev-datepicker>

      </div>

      <mat-form-field flex='30'
                      [ngStyle]="{'margin-top': (pageRequest?.tiposAvaliacoesFilter?.length ? '-7px' : '7px')}">
        <mat-chip-list #tiposAvaliacoesFilterChipList aria-label='Pesquisar por Tipos de Avaliações'>

          <mat-chip *ngFor='let tipoAvaliacao of pageRequest.tiposAvaliacoesFilter'
                    (removed)='removeTipoAvaliacaoFilter(tipoAvaliacao)' style='max-width: 100%'>
            {{tipoAvaliacao?.nome}}
            <!--            ({{tipoAvaliacao?.enunciado }} - {{tipoAvaliacao?.selecao}})-->
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

          <input (keyup)='filterTiposAvaliacoesAsync(tiposAvaliacoesFilter)'
                 placeholder='Pesquisar por Tipos de Avaliações' #tiposAvaliacoesInput
                 [(ngModel)]='tiposAvaliacoesFilter' [ngModelOptions]='{standalone: true}'
                 [matAutocomplete]='autoCompleteTiposAvaliacoes' [matChipInputFor]='tiposAvaliacoesFilterChipList'>

        </mat-chip-list>

        <mat-autocomplete #autoCompleteTiposAvaliacoes='matAutocomplete'
                          (optionSelected)='addTipoAvaliacaoFilter($event)'>
          <mat-option [value]='option' *ngFor='let option of filteredTiposAvaliacoesAsync'>
            {{option?.nome}} ({{option?.enunciado }} - {{option?.selecao}})
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <close-button (click)='hidePesquisaAvancada()' hide-sm hide-xs></close-button>
    </div>
  </div>
</mat-card>

<!--Listagem-->
<div layout='row'
     layout-align='center start'>
  <div layout='column' flex='90'>

    <div class='tc-grey-500 size-height-50'
         layout='row' layout-align='start center'>
      <span> Resultado da pesquisa </span>
      <div flex></div>
      <span> {{ page?.totalElements}} resultados </span>
    </div>

    <div class='mat-elevation-z4'>

      <mat-table matSortActive='data'
                 matSortDirection='asc'
                 [dataSource]='dataSource'
                 matSortDisableClear #table
                 matSort class='bgc-grey-50'>

        <ng-container matColumnDef='unidade.nome'>
          <mat-header-cell layout-align="start center"
                           *matHeaderCellDef mat-sort-header
                           flex-xl='35' flex-gt-md='35' flex-md='35' flex-sm='35'>
            <div layout-margin layout='column'>
              Unidade
            </div>
          </mat-header-cell>
          <mat-cell flex-xl='35' flex-gt-md='35' flex-md='35' flex-sm='35'
                    *matCellDef='let avaliacao' layout-align='start center'>
            <div layout-margin layout='column'>
              {{avaliacao?.unidade?.nome}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='nota'>
          <mat-header-cell layout-align="start center"
                           [matTooltipPosition]='"left"'
                           *matHeaderCellDef mat-sort-header
                           matTooltip='Ordernar pela nota da avaliação'
                           flex-xl='50' flex-gt-md='50' flex-md='50' flex-sm='50'>
            <div layout-margin layout='column'>
              Nota e ítens avaliáveis
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let avaliacao'
                    layout-align='start center'
                    flex-xl='50' flex-gt-md='50' flex-md='50' flex-sm='50'>
            <avatar style='margin-left: 0;margin-bottom: 3px;'
                    layout-margin class='image-cover' [size]='0.2'
                    [usuario]="{'id': avaliacao?.id , 'foto': avaliacao?.fotoPath}">
            </avatar>
            <div layout-margin layout='row' layout-align='start center'>
              <div layout='column' layout-align='center center'>
                <mat-icon
                    svgIcon="assets:{{avaliacao?.nota === 5 ? 'otimo' : (avaliacao?.nota === 4 ? 'bom' : (avaliacao?.nota === 3 ? 'regular' : (avaliacao?.nota === 2 ? 'ruim' : 'pessimo')))}}"
                    [ngStyle]="{'fill': avaliacao?.nota === 5 ? '#5ee924' : (avaliacao?.nota === 4 ? '#8fc82c' : (avaliacao?.nota === 3 ? '#d4c40d' : (avaliacao?.nota === 2 ? '#e96d01' : '#c21c1f')))}">
                </mat-icon>
              </div>
              <span>&nbsp;{{avaliacao?.atendentes}}</span>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='agrupador.feedback'>
          <mat-header-cell flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'
                           layout-align='start center' *matHeaderCellDef mat-sort-header>
            <div layout-margin layout='column'>
              Feedback
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let avaliacao'
                    layout-align='start center'
                    flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            <div layout-margin layout='column'>
              {{avaliacao?.agrupador?.feedback}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='data'>
          <mat-header-cell layout-align="start center"
                           *matHeaderCellDef mat-sort-header
                           flex-xl='20' flex-gt-md='20' flex-md='20' flex-sm='20'>
            <div layout-margin layout='column'>
              Data
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let avaliacao'
                    layout-align="start center"
                    flex-xl='20' flex-gt-md='20' flex-md='20' flex-sm='20'>
            <div layout-margin layout='column'>
              {{avaliacao?.data}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='tipoAvaliacao.nome'>
          <mat-header-cell layout-align='start center'
                           *matHeaderCellDef mat-sort-header
                           flex-xl='50' flex-gt-md='50' flex-md='50' flex-sm='50'>
            <div layout-margin layout='column'>
              Tipo de Avaliação
            </div>
          </mat-header-cell>
          <mat-cell flex-md='50' flex-sm='50'
                    *matCellDef='let avaliacao'
                    layout-align='start center'
                    flex-xl='50' flex-gt-md='50'>
            <div layout-margin layout='column'>
              {{avaliacao?.tipoAvaliacao?.nome + ' - ' + avaliacao?.tipoAvaliacao?.enunciado}}
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef='displayedColumns'>
        </mat-header-row>

        <mat-row *matRowDef='let avaliacao; columns: displayedColumns'
                 routerLink='{{avaliacao.id}}' style='cursor: pointer'>
        </mat-row>
      </mat-table>
      <no-records-found [dataSource]='dataSource?.data'></no-records-found>
      <mat-paginator [pageSizeOptions]='[5, 20, 50, 100]'
                     [length]='page.totalElements' style='border-radius: 2px'
                     (page)='listAvaliacoesByFilters(pageRequest)' class='bgc-grey-50'>
      </mat-paginator>
    </div>
  </div>
</div>
