<mat-toolbar class="mat-elevation-z2" style="background-color : white">
  <button mat-icon-button (click)="sidenav.toggle()"
          hide-gt-md *ngIf="conta?.isOperador || conta?.isAdministrador">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="size-height-50 logo-image" *ngIf='configuracao?.logoPath'
       hide-sm hide-xs hide-md routerLink="" src="{{configuracao?.logoPath}}">
  <span flex> </span>
  <label [matMenuTriggerFor]="menu"
         *ngIf="conta" class="mat-body-2 name-user">
    {{conta?.usuario?.nome ? conta?.usuario?.nome : conta?.email}}
  </label>
  <div layout-margin
       *ngIf="conta" class="avatar"
       layout-align="center center" layout="row"
       style="cursor: pointer" [matMenuTriggerFor]="menu">
    <avatar style="margin-top:10px" [size]="0.2"
            [usuario]="{'id': conta?.id , 'foto': conta?.usuario?.thumbnailPath}">
    </avatar>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item color="primary" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" class="mat-elevation-z5"
               style="background-color: #0c3e6f" (click)="sidenav.toggle()">
    <logged-menu></logged-menu>
  </mat-sidenav>

  <!--Tag será substiuída pelo content da tag pai chamada-->
  <ng-content></ng-content>
</mat-sidenav-container>
