.login {
  height: 100%;
  background-size: cover;
  background-image: url('../../../../assets/images/authentication-background.jpg');
  .logo {
    content: url('https://firebasestorage.googleapis.com/v0/b/assessment-online.appspot.com/o/bm-1.png?alt=media&token=707213ac-8763-4320-aa75-18053696107f');
    height: 100px;
  }
}
