<mat-nav-list>
  <div *ngFor="let atendente of atendentes">
    <mat-list-item layout='row'
                   disableRipple
                   layout-margin>
      <h3 matLine *ngIf="atendente.vinculo === 'Atendente'">
        <strong style='color: rgb(94, 124, 139)'> Atendente</strong>
        {{'em: ' + atendente.unidade?.nome}}
      </h3>
      <h3 matLine *ngIf="atendente.vinculo === 'Operador'">
        <strong style='color: rgb(139,73,82)'> Operador</strong>
        {{'em: ' + atendente.unidade?.nome}}
      </h3>
      <h3 matLine *ngIf="atendente.vinculo === 'OperadorAtendente'">
        <strong style='color: rgb(107,176,121)'> Operador e atendente</strong>
        {{'em: ' + atendente.unidade?.nome}}
      </h3>
      <p matLine *ngIf="atendente.unidade?.endereco?.cidade?.nome">Número {{atendente.unidade?.endereco?.numero}},
        {{atendente.unidade?.endereco?.logradouro}}, {{atendente.unidade?.endereco?.bairro}} -
        {{atendente.unidade?.endereco?.cidade?.nome}} - {{atendente.unidade?.endereco?.cidade?.estado?.sigla}}
      </p>
    </mat-list-item>
  </div>
</mat-nav-list>