<usuario-form [usuario]="atendente" *ngIf="atendente?.key" (save)="update(atendente)">
  <!--cabeçalho div-->
  <div layout='column' layout-margin header>
    <div layout='row' layout-align='start center'>

      <button class="mat-headline tc-grey-500"
              type="button" routerLink="../"
              color="primary" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div layout="row" layout-margin>
        <h1 class="mat-headline tc-grey-500" flex> Alterar atendente</h1>
      </div>
    </div>
  </div>

  <!--actions div-->
  <div flex layout-margin actions>
    <div layout-gt-xs='row' flex layout-margin>

      <span flex='70'></span>

      <button mat-raised-button
              routerLink='../'
              type='button'
              flex>
        Cancelar
      </button>

      <button mat-raised-button
              color='accent'
              flex>
        Salvar
      </button>

    </div>
  </div>

</usuario-form>