<!-- Cartão de crédito -->
<div [formGroup]='form.controls.cartao'>
  <div layout="row" layout-margin>
    <b class="pagamento-title" flex>Informações do cartão</b>
  </div>

  <div layout-align="start center" layout-gt-xs="row" layout-margin>
    <mat-form-field flex>
      <input [(ngModel)]="assinatura.numeroCartao" [textMask]="{mask: masks.cardNumber, guide: false}"
             formControlName='numeroCartao'
             matInput
             name="numeroCartao" placeholder="Número do cartão"
             required>
      <mat-error *ngIf="form?.controls?.cartao?.controls['numeroCartao']?.hasError('exception')">
        {{form?.controls?.cartao?.controls['numeroCartao']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <!--    <div flex>-->
    <!--      <img *ngIf="imagemBandeiraCartao" [src]="imagemBandeiraCartao" alt="logo cartao">-->
    <!--    </div>-->
  </div>

  <div layout-gt-xs="row" layout-margin>
    <mat-form-field flex>
      <input (keyup)="form?.controls?.cartao?.get('numeroCartao')?.updateValueAndValidity()"
             [(ngModel)]="assinatura.mesValidade"
             [textMask]="{mask: masks.month, guide: false}"
             formControlName='mesValidade' matInput name="mesValidade"
             placeholder="Mês de validade"
             required>
      <mat-error *ngIf="form?.controls?.cartao?.controls['mesValidade']?.hasError('exception')">
        {{form?.controls?.cartao?.controls['mesValidade']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <mat-form-field flex>
      <input (keyup)="form?.controls?.cartao?.get('numeroCartao')?.updateValueAndValidity()"
             [(ngModel)]="assinatura.anoValidade"
             [textMask]="{mask: masks.year, guide: false}" formControlName='anoValidade' matInput
             name="anoValidade"
             placeholder="Ano de validade"
             required>
      <mat-error *ngIf="form?.controls?.cartao?.controls['anoValidade']?.hasError('exception')">
        {{form?.controls?.cartao?.controls['anoValidade']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <mat-form-field flex>
      <input (keyup)="form?.controls?.cartao?.get('numeroCartao')?.updateValueAndValidity()"
             [(ngModel)]="assinatura.codigoSeguranca"
             formControlName='codigoSeguranca'
             matInput maxLength="10" name="codigoSeguranca"
             placeholder="Código de segurança">
      <mat-error *ngIf="form?.controls?.cartao?.controls['codigoSeguranca']?.hasError('exception')">
        {{form?.controls?.cartao?.controls['codigoSeguranca']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
  </div>

  <div layout="row" layout-margin>
    <b class="pagamento-title" flex>Dados do titular do cartão</b>
  </div>

  <div layout="column">
    <div layout-gt-xs="row" layout-margin>
      <mat-form-field flex>
        <input [(ngModel)]="assinatura.nomeTitularCartao" formControlName='nomeTitularCartao'
               matInput
               maxlength="80" name="nomeTitularCartao" placeholder="Nome (impresso no cartão)"
               required
               somenteLetras>
        <mat-error *ngIf="form?.controls?.cartao?.controls['nomeTitularCartao']?.hasError('exception')">
          {{form?.controls?.cartao?.controls['nomeTitularCartao']?.errors?.exception}}
        </mat-error>
      </mat-form-field>
    </div>

    <div layout="row">
      <div flex layout='row'>
        <usuario-pessoa-juridica-form *ngIf='assinatura.souEmpresa' [(documento)]='assinatura.documentoTitularCartao'
                                      [form]='form'
                                      flex='20'>
        </usuario-pessoa-juridica-form>

        <usuario-pessoa-fisica-form *ngIf='!assinatura.souEmpresa' [(documento)]='assinatura.documentoTitularCartao'
                                    [form]='form'
                                    flex='20'>
        </usuario-pessoa-fisica-form>

        <ev-datepicker [(dataInput)]='assinatura.dataNascimentoTitularCartao' style='margin-top: 13px'>
          <mat-form-field flex>
            <input [(ngModel)]='assinatura.dataNascimentoTitularCartao'
                   [textMask]='{mask: masks.date, guide: false}' flex formControlName='dataNascimentoTitularCartao'
                   id='dataNascimentoTitularCartao'
                   matInput name='dataNascimentoTitularCartao'
                   placeholder='Data de nascimento' required/>
            <mat-error *ngIf="form?.controls?.cartao?.controls['dataNascimentoTitularCartao']?.hasError('exception')">
              {{form?.controls?.cartao?.controls['dataNascimentoTitularCartao']?.errors.exception}}
            </mat-error>
          </mat-form-field>
        </ev-datepicker>

        <mat-checkbox [(ngModel)]='assinatura.souEmpresa'
                      [ngModelOptions]='{standalone: true}' style='margin-top: 35px; margin-right: 20px; margin-left:30px'>
          Sou empresa
        </mat-checkbox>
      </div>

    </div>
  </div>
</div>
