<svg height="210" transform="scale(1)" width="200">
  <defs>
    <pattern height="1" id="person" patternUnits="objectBoundingBox" width="1" x="0" y="0">
      <image height="140" width="140" x="0" xlink:href="./assets/images/person.svg" y="0"></image>
    </pattern>
    <pattern height="200" id="{{identifier}}" patternUnits="userSpaceOnUse" width="200" x="0" y="0">
      <image [attr.xlink:href]="path" height="200" preserveAspectRatio="xMidYMid slice" width="200"></image>
    </pattern>
  </defs>
  <!--todo cor hardcoded-->
  <circle *ngIf="!path || !done" cx="100" cy="100" fill="rgb(223, 229, 231)" r="99"></circle>

  <circle *ngIf="path && done" [style.fill]="'url(#'+identifier+')'" cx="100" cy="100" r="100"></circle>

  <circle *ngIf="!path|| !done" cx="100" cy="100" fill="url(#person)" r="70"></circle>
</svg>
