<mat-nav-list [@fadeInOut]>
  <div *ngFor="let tipoAvaliacao of tiposAvaliacoes | filter:filter"
       [ngStyle]="{'background-color': tipoAvaliacao?.ativo ? 'aliceblue' : '#fafafa' }"
       (click)='tipoAvaliacao.ativo = !tipoAvaliacao.ativo; saveUnidadeTipoAvaliacaoInner(tipoAvaliacao)'>
    <mat-list-item layout='row' layout-margin>

      <h3 matLine>{{tipoAvaliacao?.nome}} </h3>
      <p matLine>{{tipoAvaliacao?.enunciado}}</p>

      <mat-slide-toggle style='opacity: 1 !important;'
                        [(ngModel)]='tipoAvaliacao.ativo' [disabled]='true'
                        (ngModelChange)='saveUnidadeTipoAvaliacaoInner(tipoAvaliacao)'>
        <!--{{tipoAvaliacao?.ativo ? 'Vincular' : 'Desvincular'}}-->
      </mat-slide-toggle>

    </mat-list-item>
  </div>
</mat-nav-list>