<footer class="page-footer blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <a routerLink="/" class="brand-logo">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/ad-redencao.appspot.com/o/images%2Fredencao.png?alt=media&token=3f238398-ca04-4899-81d3-9f21689c4139"
            style="margin-top: 5px;width: 141px;height: 50px;margin-left: -16px;">
        </a>
        <p class="grey-text text-lighten-4" style='margin-bottom: 0'>
          Clama a mim, e responder-te-ei, e anunciar-te-ei coisas grandes e ocultas, que não sabes.
        </p>
        <b>Jeremias 33:3</b>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Fale conosco</h5>
        <ul>

          <div class="row">
            <div class="col s1">
              <div class="material-icons">phone_iphone</div>
            </div>
            <div class="col s11">
              <div href="tel:+45991034372" class="white-text">
                (45) 9 9103-4372
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s1">
              <div class="material-icons">phone_iphone</div>
            </div>
            <div class="col s11">
              <div href="tel:+45999267004" class="white-text">
                (45) 9 9926-7004
              </div>
            </div>
          </div>

          <li>
            <a class="white-text" routerLink='/localizacao'>
              Avenida Silvio Américo Sasdeli, 3664, Jardim Lancaster IV,
            </a>
            <a class="white-text" routerLink='/contato'><b>contato@familiaredencao.org</b></a>
          </li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Siga-nos</h5>
        <ul>
          <li><a class="white-text" href="https://www.facebook.com/familiaredencaoqueroviver/"
                 target="_blank">Facebook</a></li>
          <li><a class="white-text" href='https://www.instagram.com/familiaredencaoqueroviver/'
                 target="_blank">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Criado por
      <a class="brown-text text-lighten-3" target="_blank"
         href="https://www.facebook.com/familiaredencaoqueroviver/">
        Comunicação Redenção
      </a>
    </div>
  </div>
</footer>
