<div [formGroup]='form.controls.endereco'>

  <div layout-gt-xs='row' layout-margin>
    <mat-form-field flex *ngIf='endereco'>
      <input [ngModelOptions]='{standalone: true}'
             noSubmit matInput id='cep' name='cep'
             (blur)='getAdressByCep(endereco?.cep)'
             [textMask]='{mask: masks.cep, guide: false}'
             placeholder='CEP' [(ngModel)]='endereco.cep'>
    </mat-form-field>
    <mat-form-field flex *ngIf='endereco'>
      <input placeholder='Logradouro (rua, avenida, linha, etc ...)'
             [(ngModel)]='endereco.logradouro' matInput maxlength='45'
             formControlName='logradouro' id='logradouro' name='logradouro'>
      <mat-error *ngIf="form?.controls?.endereco?.controls['logradouro']?.hasError('exception')">
        {{form?.controls?.endereco?.controls['logradouro']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <mat-form-field flex *ngIf='endereco'>
      <input [textMask]='{mask: masks.streetNumber, guide: false}'
             [(ngModel)]='endereco.numero' formControlName='numero'
             matInput placeholder='Número' id='numero' name='numero'>
      <mat-error *ngIf="form?.controls?.endereco?.controls['numero']?.hasError('exception')">
        {{form?.controls?.endereco?.controls['numero']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <mat-form-field flex *ngIf='endereco'>
      <input placeholder='Bairro' matInput
             id='bairro' name='bairro' maxlength='45'
             formControlName='bairro' [(ngModel)]='endereco.bairro'>
      <mat-error *ngIf="form?.controls?.endereco?.controls['bairro']?.hasError('exception')">
        {{form?.controls?.endereco?.controls['bairro']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
  </div>

  <div layout-gt-xs='row' layout-margin>
    <mat-form-field flex *ngIf='endereco'>
      <input [(ngModel)]='endereco.complemento'
             [ngModelOptions]='{standalone: true}'
             matInput maxlength='45' id='complemento'
             placeholder='Complemento' name='complemento'>
      <mat-hint align='end'>{{endereco.complemento ? endereco.complemento.length : 0}} / 45</mat-hint>
    </mat-form-field>
  </div>

  <div layout-gt-xs='row' layout-margin>
    <mat-form-field flex='80'>
      <input somenteLetras matInput placeholder='Cidade'
             id='cidade' name='cidade' formControlName='cidade'
             [(ngModel)]='endereco.cidade.nome' (ngModelChange)='validateEstado()'
             (blur)='findCidadeByNomeAndEstadoUf(endereco?.cidade?.nome, endereco?.cidade?.estado?.uf)'>
      <mat-error *ngIf="form?.controls?.endereco?.controls['cidade']?.hasError('exception')">
        {{form?.controls?.endereco?.controls['cidade']?.errors.exception}}
      </mat-error>
    </mat-form-field>
    <mat-form-field flex='20'>
      <input [(ngModel)]='endereco.cidade.estado.uf'
             somenteLetras matInput placeholder='Estado'
             id='estado' name='estado' formControlName='estado'
             (blur)='findCidadeByNomeAndEstadoUf(endereco?.cidade?.nome, endereco?.cidade?.estado?.uf)'>
      <mat-error *ngIf="form.controls.endereco.controls['estado'].hasError('exception')">
        {{form?.controls?.endereco?.controls['estado']?.errors.exception}}
      </mat-error>
    </mat-form-field>
  </div>
</div>
