<div layout-align="center center"
     class="login" layout="column"
     [style.background-image]="getBackground(backgroundPath)">

  <div layout="column"
       layout-align="center center">

    <mat-card style='width: 600px'>
      <mat-card-content>

        <form #signinForm="ngForm"
              (ngSubmit)="login()">
          <div layout="column" layout-margin>

            <div layout="column"
                 layout-align="center center" layout-margin>

              <div flex
                   layout="row" layout-margin>
                <img class="logo" src="{{logoImage}}">
              </div>

              <div flex layout="row" layout-margin>
                <h1 class="mat-title tc-grey-600" flex>
                  <b>Sistema para Avaliação de Atendimentos</b>
                </h1>
              </div>
            </div>


            <div flex layout="row"
                 layout-margin style="margin-top: 34px;">
              <mat-form-field flex>
                <!--<input matInput [matKeyboard]="'Azərbaycanca'"-->
                <!--required name="email"-->
                <!--(ngModelChange)='changed($event)'-->
                <!--placeholder="Acesse com seu email"-->
                <!--[(ngModel)]="conta.email" noWhiteSpace/>-->
                <input (ngModelChange)='changed($event)' [(ngModel)]='conta.email' matInput
                       name='email'
                       noWhiteSpace
                       placeholder='Acesse com seu email' required/>
              </mat-form-field>
            </div>

            <div flex
                 layout="column" layout-margin>

              <div flex
                   layout="row">
                <mat-form-field flex>
                  <input [(ngModel)]="conta.password"
                         matInput name="password"
                         placeholder="Sua senha" required
                         type="password"/>
                </mat-form-field>
              </div>
            </div>

            <div flex
                 layout="row" layout-margin>
              <button [disabled]="!signinForm.form.valid" color="accent"
                      flex mat-raised-button style="height: 55px">
                <b>Entrar</b>
              </button>
            </div>

            <ng-content select="[cadastre-se]"></ng-content>

          </div>
        </form>

      </mat-card-content>
    </mat-card>
  </div>
</div>
