<div class="container">
  <div>
    <img #image alt="Picture"
         id="image" src="{{object?.filePath}}">
  </div>
  <p>
    <button (click)='clicked()'
            id="button" type="button">
      Crop
    </button>
  </p>
</div>


<div flex layout='column'
     layout-align='center center'>
  <div flex>
    <svg height="210" transform="scale(1)" width="200">
      <defs>
        <pattern height="1" id="person" patternUnits="objectBoundingBox" width="1" x="0" y="0">
          <image height="140" width="140" x="0" y="0"
                 xlink:href="https://www.thefullclass.com/static/images/person.svg">
          </image>
        </pattern>
        <pattern height="200" width="200" x="0" y="0"
                 id="{{identifier}}" patternUnits="userSpaceOnUse">
          <image [attr.xlink:href]="object.filePath" height="200" preserveAspectRatio="xMidYMid slice" width="200">
          </image>
        </pattern>
      </defs>
      <!--todo cor hardcoded-->
      <circle *ngIf="!object.filePath" cx="100" cy="100" fill="rgb(223, 229, 231)" r="99"></circle>

      <circle *ngIf="object.filePath" [style.fill]="'url(#'+identifier+')'" cx="100" cy="100" r="100"></circle>

      <circle *ngIf="!object.filePath" cx="100" cy="100" fill="url(#person)" r="70"></circle>
    </svg>
  </div>
  <div *ngIf='object.filePath' flex>
    <button (click)='removeFile()' class='tc-grey-500' mat-button type='button'>
      REMOVER FOTO
    </button>
  </div>
  <div *ngIf='!object.filePath' flex>
    <td-file-upload #singleFileUpload
                    (change)='fileChange($event)'
                    accept='.png, .gif, .jpg, .jpeg'
                    defaultColor='primary'
                    name="file">
      <span>{{ singleFileUpload?.files?.name }}</span>
      <ng-template td-file-input-label>
        <mat-icon>attach_file</mat-icon>
        <span>Adicionar foto</span>
      </ng-template>
    </td-file-upload>
  </div>
</div>
