<search-bar>
  <div layout='column'
       class='push-right'
       style='min-width: 17px'>
    <button type='button' routerLink='../'
            color='primary' mat-icon-button
            class='mat-headline tc-grey-500'>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div layout='row' style='margin-top: 3px'
       class='tc-grey-600 push-left'>
    {{ rankeavel?.nome }}
  </div>

  <div layout='row' layout-margin
       style='margin-left: 41px; margin-top: 15px'>

    <ev-datepicker #dataInicio layout='row'
                   flex style='margin-left: -2px'
                   (dataInputChange)='listByDates()'
                   [(dataInput)]='pageRequest.dataInicioFilter'>
      <mat-form-field>
        <input placeholder='Data da avaliação - Início'
               [(ngModel)]='pageRequest.dataInicioFilter'
               matInput name='dataInicio' id='dataInicio'
               [textMask]='{mask: masks.date, guide: false}'>
      </mat-form-field>
    </ev-datepicker>

    <ev-datepicker #dataTermino layout='row' flex
                   (dataInputChange)='listByDates()'
                   [(dataInput)]='pageRequest.dataTerminoFilter'>
      <mat-form-field>
        <input style='width: 225px'
               placeholder='Data da avaliação - Término'
               [(ngModel)]='pageRequest.dataTerminoFilter'
               matInput name='dataTermino' id='dataTermino'
               [textMask]='{mask: masks.date, guide: false}'>
      </mat-form-field>
    </ev-datepicker>

  </div>

  <div flex-gt-md></div>

  <button mat-raised-button class='push-right'
          (click)='pageRequest.dataInicioFilter = null; pageRequest.dataTerminoFilter = null; resetDates(); listByDates()'>
    Limpar filtros
  </button>

</search-bar>

<div layout-gt-xs='row'>
  <div flex-gt-xs='100'>
    <div layout='row' layout-align='center start'>
      <div layout='column' flex='90'>

        <div class='tc-grey-500 size-height-50'
             layout='row' layout-align='start center'>
          <div flex></div>
          <span> {{(rankeavel?.avaliacoes1+rankeavel?.avaliacoes2+rankeavel?.avaliacoes3+rankeavel?.avaliacoes4+rankeavel?.avaliacoes5) === 0 ? '' : (rankeavel?.avaliacoes1+rankeavel?.avaliacoes2+rankeavel?.avaliacoes3+rankeavel?.avaliacoes4+rankeavel?.avaliacoes5) + ' avaliações'}} </span>
        </div>

        <mat-card class='push-none bgc-grey-50'
                  *ngIf="(rankeavel?.avaliacoes1+rankeavel?.avaliacoes2+rankeavel?.avaliacoes3+rankeavel?.avaliacoes4+rankeavel?.avaliacoes5) != 0">
          <div style='height:500px;'>
            <ngx-charts-bar-vertical-2d
                [xAxis]='true'
                [yAxis]='true'
                [legend]='false'
                [barPadding]='2'
                [results]='multi'
                [groupPadding]='8'
                [gradient]='false'
                [showXAxisLabel]='false'
                [showYAxisLabel]='false'
                [yAxisLabel]="'Avaliações'"
                [scheme]="{ domain: [ '#c21c1f', '#e96d01', '#d4c40d', '#8fc82c', '#5ee924' ]}">
            </ngx-charts-bar-vertical-2d>
          </div>
        </mat-card>

        <div class='tc-grey-500 size-height-50'
             layout='row' layout-align='center center'
             *ngIf='(rankeavel?.avaliacoes1+rankeavel?.avaliacoes2+rankeavel?.avaliacoes3+rankeavel?.avaliacoes4+rankeavel?.avaliacoes5) === 0'>
          <span> Sem estatísticas por aqui =( </span>
        </div>

      </div>
    </div>
  </div>
</div>