<form [formGroup]='form' (ngSubmit)='proximo()' [@fadeInOut]
      layout='column' layout-align='center center' novalidate
      *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
  <mat-card style='width: 600px'>
    <!--<mat-card-title class="push">-->
    <!--{{configuracao?.feedbackEnunciado}}-->
    <!--</mat-card-title>-->
    <mat-card-content style='margin-bottom: 0'>
      <div layout="column" layout-margin>
        <mat-form-field flex>
          <textarea maxlength='250' matInput id='feedback' name='feedback'
                    (keyup)='modelChanged.next()' formControlName='feedback'
                    placeholder='{{configuracao?.feedbackEnunciado}}' style='min-height: 100px'
                    *ngIf='mobileService?.avaliacoes[+this.activatedRoute?.snapshot?.params?.ordem - 1]?.agrupador'
                    [(ngModel)]='mobileService.avaliacoes[+this.activatedRoute.snapshot.params.ordem - 1].agrupador.feedback'>
          </textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions style='margin-top: -30px'>
      <div layout='row' layout-align='center center' flex>
        <div layout='column' layout-margin layout-align='center end' flex>
          <button layout-align='center end' mat-button color='primary'>
            Concluir
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
