<form [formGroup]='form' (ngSubmit)='proximo()' [@fadeInOut] layout='column' layout-align='center center' novalidate>
  <mat-card style='width: 600px' *ngIf='mobileService?.configuracao?.tipoFeedback'>
    <!--<mat-card-title class="push">-->
    <!--{{configuracao?.feedbackEnunciado}}-->
    <!--</mat-card-title>-->
    <mat-card-content style='margin-bottom: 0'>
      <div layout="column" layout-margin>
        <mat-form-field *ngIf="mobileService?.configuracao?.tipoFeedback === 'TEXTO'" flex>
          <textarea [(ngModel)]='mobileService.agrupador.feedback'
                    maxlength='250' matInput id='feedback' name='feedback'
                    (keyup)='modelChanged.next()' formControlName='feedback'
                    *ngIf='mobileService?.agrupador' style='min-height: 100px'
                    placeholder='{{mobileService?.configuracao?.feedbackEnunciado}}'>
          </textarea>
          <mat-error>
            Campo obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="mobileService?.configuracao?.tipoFeedback === 'EMAIL'" flex>
          <input *ngIf='mobileService?.agrupador'
                 [(ngModel)]='mobileService.agrupador.feedback'
                 maxlength='250' matInput id='feedback' name='feedback'
                 pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$'
                 placeholder='{{mobileService?.configuracao?.feedbackEnunciado}}'
                 (keyup)='modelChanged.next()' formControlName='feedback' style='min-height: 100px'>
          <mat-error *ngIf="form.controls['feedback'].hasError('pattern')">
            E-mail inválido, utilize o formato 'email@email.com'
          </mat-error>
          <mat-error *ngIf="form?.controls['feedback']?.hasError('required')">
            Campo obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="mobileService?.configuracao?.tipoFeedback === 'CPF'" flex>
          <input *ngIf='mobileService?.agrupador'
                 [textMask]='{mask: masks.cpf, guide: false}'
                 [(ngModel)]='mobileService.agrupador.feedback'
                 maxlength='250' matInput id='feedback' name='feedback'
                 placeholder='{{mobileService?.configuracao?.feedbackEnunciado}}'
                 (keyup)='modelChanged.next()' formControlName='feedback' style='min-height: 100px'>
          <mat-error *ngIf="form?.controls['feedback']?.hasError('exception')">
            {{form?.controls['feedback']?.errors?.exception}}
          </mat-error>
          <mat-error *ngIf="form?.controls['feedback']?.hasError('required')">
            Campo obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="mobileService?.configuracao?.tipoFeedback === 'TELEFONE'" flex>
          <input *ngIf='mobileService?.agrupador'
                 [(ngModel)]='mobileService.agrupador.feedback'
                 maxlength='250' matInput id='feedback' name='feedback'
                 placeholder='{{mobileService?.configuracao?.feedbackEnunciado}}'
                 (keyup)='modelChanged.next()' formControlName='feedback' style='min-height: 100px'
                 [textMask]='{mask: (this.mobileService.agrupador.feedback && (this.mobileService.agrupador.feedback.length === 15) ?  masks.phone8 : masks.phone9 ), guide: false}'>
          <mat-error>
            Campo obrigatório
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions style='margin-top: -30px'>
      <div layout='row' layout-align='center center' flex>
        <div layout='column' layout-margin layout-align='center end' flex>
          <button layout-align='center end' mat-button color='primary'>
            Concluir
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
