<div layout="column" layout-align="center center">
  <mat-card style="width: 600px"><mat-card-title class='push'
                *ngIf='atendentes?.length'>
  <div layout='column'
       layout-align='center center'>
    Selecione um ou mais atendentes
  </div>
</mat-card-title>
<mat-card-content class="no-margin"
                  *ngIf='atendentes?.length'>

  <mat-grid-list cols="{{atendentes.length > 6 ? 4 : 3}}" rowHeight="100px" *ngIf="atendentes.length">
    <mat-grid-tile
        mat-ripple
        [colspan]="1"
        [rowspan]="2"
        *ngFor="let atendente of atendentes"
        (click)='atendente.selected = !atendente.selected; clearTimeout()'
        [ngStyle]="{'background-color': (atendente.selected ? 'lightblue' : '')}">
      <div layout="column" layout-align="center center">
        <div mat-list-avatar style='width: 120px; height: 120px'>
          <avatar class='image-cover' [size]='0.6'
                  [usuario]="{'id': atendente?.usuario?.id , 'foto': atendente?.usuario?.avatarPath}">
          </avatar>
        </div>
        <div class="text-truncate" style="max-width: 160px">
          {{atendente?.usuario?.nome}}
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</mat-card-content>
<mat-card-actions>
  <div layout-align='center end'
       layout='column'
       layout-margin>
    <button layout-align='center end'
            mat-button
            color='primary'
            (click)='concluir()'>
      Concluir
    </button>
  </div>
</mat-card-actions></mat-card></div>