<mat-card-title class='push'>
  <div layout='column'
       layout-align='center center'>
    Selecione um ou mais atendentes
  </div>
</mat-card-title>
<mat-card-content class="no-margin">

  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile
        mat-ripple
        [colspan]="1"
        [rowspan]="2"
        *ngFor="let atendente of atendentes"
        (click)='atendente.selected = !atendente.selected'
        [ngStyle]="{'background-color': (atendente.selected ? 'lightblue' : '')}">
      <div layout="column" layout-align="center center">
        <div mat-list-avatar style='width: 120px; height: 120px'>
          <avatar class='image-cover' [size]='0.6'
                  [usuario]="{'key': atendente?.usuario?.key , 'foto': atendente?.usuario?.urlFile}">
          </avatar>
        </div>
        <div class="text-truncate" style="max-width: 160px">
          {{atendente?.usuario?.nome}}
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</mat-card-content>
<mat-card-actions>
  <div layout-align='center end'
       layout='column'
       layout-margin>
    <button layout-align='center end'
            mat-button
            color='primary'
            (click)='concluir()'>
      Concluir
    </button>
  </div>
</mat-card-actions>