<div [formGroup]='form.controls.password' layout='column'>
  <div layout="row" layout-margin>
    <mat-form-field flex>
      <input matInput name="password" id="password"
             [(ngModel)]="conta.password"
             type="password" formControlName="password"
             placeholder="Senha da conta">
      <!--<mat-hint *ngIf="!conta?.password && !form.controls.password.controls['password'].dirty">-->
      <!--A senha deve conter no mínimo 6 caracteres-->
      <!--</mat-hint>-->
      <mat-error *ngIf="form.controls.password.controls['password'].hasError('exception')">
        {{form.controls.password?.controls['password']?.errors.exception}}
      </mat-error>
    </mat-form-field>

    <mat-form-field flex>
      <input matInput name="confirmacaoPassword" id="confirmacaoPassword"
             [(ngModel)]="confirmacaoPassword"
             type="password" formControlName="confirmacaoPassword"
             matTooltip="Confirmação de senha da conta"
             placeholder="Confirmação de senha da conta">
      <mat-error *ngIf="form.controls.password.controls['confirmacaoPassword'].hasError('exception')">
        {{form.controls.password?.controls['confirmacaoPassword']?.errors.exception}}
      </mat-error>
    </mat-form-field>
  </div>
</div>
