<form (ngSubmit)='save(form?.controls?.secondFormGroup)'
      *ngIf='form?.controls?.secondFormGroup'
      [formGroup]='form?.controls?.secondFormGroup' novalidate>

  <div layout='row' layout-margin>
    <mat-radio-group [ngModelOptions]='{standalone: true}' flex layout='row'
                     name='formaPagamento' [(ngModel)]='assinatura.formaPagamento'>
      <mat-radio-button [value]="'BOLETO'" color='primary' flex name='formaPagamento'>
        <span class='tc-grey-800'>Boleto</span>
      </mat-radio-button>
      <mat-radio-button [value]="'CARTAO'" color='primary' flex name='formaPagamento'>
        <span class='tc-grey-800'>Cartão de crédito</span>
      </mat-radio-button>
    </mat-radio-group>
    <div flex hide-xs></div>
  </div>

  <!-- Cartão de crédito -->
  <cartao [@fadeInOut] [publicKey]='publicKey'
          *ngIf="assinatura.formaPagamento === 'CARTAO' && publicKey"
          [assinatura]='assinatura' [form]='form?.controls?.secondFormGroup'>
  </cartao>

  <div layout='column'>
    <div layout-gt-xs='row' layout-margin>
      <mat-form-field flex>
        <input matInput required somenteLetras
               maxlength='80' name='nomeTitular'
               [(ngModel)]='assinatura.nomeTitular'
               placeholder='Nome' formControlName='nomeTitular'>
        <mat-error *ngIf="form?.controls?.secondFormGroup?.controls['nomeTitular']?.hasError('exception')">
          {{form?.controls?.secondFormGroup?.controls['nomeTitular']?.errors?.exception}}
        </mat-error>
      </mat-form-field>
    </div>

    <div layout="row">
      <div flex layout='row'>
        <usuario-pessoa-juridica-form [form]='form' flex='20'
                                      *ngIf='assinatura.souEmpresa'
                                      [(documento)]='assinatura.documentoTitular'>
        </usuario-pessoa-juridica-form>

        <usuario-pessoa-fisica-form [form]='form' flex='20'
                                    *ngIf='!assinatura.souEmpresa'
                                    [(documento)]='assinatura.documentoTitular'>
        </usuario-pessoa-fisica-form>

        <ev-datepicker [(dataInput)]='assinatura.dataNascimentoTitular' style='margin-top: 13px'>
          <mat-form-field flex>
            <input id='dataNascimentoTitular' required
                   matInput name='dataNascimentoTitular'
                   placeholder='Data de nascimento' flex
                   formControlName='dataNascimentoTitular'
                   [textMask]='{mask: masks.date, guide: false}'
                   [(ngModel)]='assinatura.dataNascimentoTitular'/>
            <mat-error
                *ngIf="form?.controls?.secondFormGroup?.controls['dataNascimentoTitular']?.hasError('exception')">
              {{form?.controls?.secondFormGroup?.controls['dataNascimentoTitular']?.errors.exception}}
            </mat-error>
          </mat-form-field>
        </ev-datepicker>

        <mat-checkbox [(ngModel)]='assinatura.souEmpresa'
                      [ngModelOptions]='{standalone: true}'
                      style='margin-top: 35px; margin-right: 20px; margin-left:30px'>
          Sou empresa
        </mat-checkbox>

        <mat-checkbox [ngModelOptions]='{standalone: true}'
                      [(ngModel)]='assinatura.agruparFaturas'
                      style='margin-top: 35px; margin-right: 20px; margin-left:30px'>
          Agrupar faturas
        </mat-checkbox>
      </div>

    </div>
  </div>

  <!-- Boleto -->
  <div layout="row">
    <div layout-gt-xs="row" layout-margin>
      <mat-form-field flex>
        <input id='codigoArea' matInput maxlength='2' minlength='1'
               name='codigoArea' pattern='\d*' placeholder='DDD' required
               [(ngModel)]='assinatura.codigoArea' formControlName='codigoArea'>
        <mat-error *ngIf="form?.controls?.secondFormGroup?.controls['codigoArea']?.hasError('exception')">
          {{form?.controls?.secondFormGroup?.controls['codigoArea']?.errors.exception}}
        </mat-error>
      </mat-form-field>

      <mat-form-field flex>
        <input id='telefone' matInput maxlength='9' required
               [(ngModel)]='assinatura.telefone' formControlName='telefone'
               minlength='7' name='telefone' pattern="\d*" placeholder='Número do telefone'>
        <mat-error *ngIf="form?.controls?.secondFormGroup?.controls['telefone']?.hasError('exception')">
          {{form?.controls?.secondFormGroup?.controls['telefone']?.errors.exception}}
        </mat-error>
      </mat-form-field>

      <mat-form-field flex>
        <input matInput required type='number'
               formControlName='diaVencimentoFatura'
               [(ngModel)]='assinatura.diaVencimentoFatura'
               placeholder='Dia para o vencimento da fatura'
               id='diaVencimentoFatura' name='diaVencimentoFatura'>
        <mat-error *ngIf="form?.controls?.secondFormGroup?.controls['diaVencimentoFatura']?.hasError('exception')">
          {{form?.controls?.secondFormGroup?.controls['diaVencimentoFatura']?.errors.exception}}
        </mat-error>
      </mat-form-field>
    </div>
    <div flex hide-xs>
      <div layout='row' layout-align='start center' style='margin-top: 11px'>
        <div class='push-left' layout='row' layout-align='center center' layout-margin>
          <span style='margin-top: 20px'>Pagamento via</span>
        </div>
        <a href='http://wirecard.com.br' style='margin-top: 14px' target='_blank'>
          <img alt='Logo marca WIRECARD' class='size-height-32 logo-image'
               src='https://upload.wikimedia.org/wikipedia/commons/d/d7/Wirecard_Logo.svg'>
        </a>
      </div>
    </div>
  </div>

  <div layout="row" layout-margin>
    <b class="pagamento-title" flex>Endereço</b>
  </div>

  <maps-component [allRequired]='true'
                  [(endereco)]='assinatura.endereco'
                  [form]='form?.controls?.secondFormGroup'>
  </maps-component>

  <!--actions div-->
  <div flex layout-gt-xs='row' layout-margin>

    <span flex='70'></span>

    <button flex mat-button matStepperPrevious type='button'>Voltar</button>
    <button color='accent' flex mat-raised-button matStepperNext>Próximo</button>
  </div>

</form>
