<!-- Cartão de crédito -->
<form [formGroup]='form?.controls?.firstFormGroup' (ngSubmit)='save()' novalidate>
  <mat-grid-list cols='3' rowHeight='400px' *ngIf='planos?.length'>
    <mat-radio-group layout='row' flex name='plano'
                     [(ngModel)]='assinatura.plano.id'
                     [ngModelOptions]="{standalone: true}">

      <mat-grid-tile *ngFor='let plano of planos' style='margin-left: 60px'>
        <mat-radio-button name='plano' color='primary' [value]='plano.id'>
          <div layout='column' layout-margin layout-align='center center'
               style='border: 2px solid #60338e !important; box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12)'>
            <div flex>
              <b>
                {{plano.nome}}
              </b>
            </div>
            <div *ngIf='plano?.descricao' flex>
              {{plano.descricao}}
            </div>
            <div style='width: 100%; background-color: #dfe5e7; text-align: center; padding: 20px'>
              {{plano.valorMensal}}
            </div>
            <div flex>
              {{plano.quantidadeAvaliacoes}}  avaliações por mês
            </div>
            <div flex>
              {{plano.valorAvaliacoesExcedentes}}  por avaliação excedente
            </div>
            <div flex *ngIf='plano?.quantidadeLicencas'
                 style='width: 100%;background-color: aliceblue;text-align: center;padding: 20px;margin: 0; padding-bottom: 0'>
              {{plano.quantidadeLicencas}} (licenças) x {{plano.valorMensal}}
            </div>
            <div flex style='width: 100%;background-color: aliceblue;text-align: center;margin: 0'>
              =
            </div>
            <div flex style='width: 100%;background-color: aliceblue;text-align: center;padding: 20px;margin: 0; padding-top: 0'>
              {{(plano.quantidadeLicencas * plano.valorMensal) | currency}}
            </div>
          </div>
        </mat-radio-button>
      </mat-grid-tile>

    </mat-radio-group>
  </mat-grid-list>

  <!--actions div-->
  <div layout-gt-xs='row' flex layout-margin>

    <span flex='80'></span>

    <button flex mat-raised-button color='accent' matStepperNext>Próximo</button>
  </div>
</form>
