<!-- Cartão de crédito -->
<div [formGroup]='form.controls.cartao'>
  <div layout="row" layout-margin>
    <b class="pagamento-title" flex>Selecione um plano</b>
  </div>

  <div layout="row" layout-margin>
    <mat-radio-group [ngModelOptions]="{standalone: true}"
                     layout="row" flex name="formaPagamento"
                     [(ngModel)]="assinatura.formaPagamento">
      <mat-radio-button name="formaPagamento" color="primary" [value]="'BOLETO'" flex>
        <span class="tc-grey-800">Boleto</span>
      </mat-radio-button>
      <mat-radio-button name="formaPagamento" color="primary" [value]="'CARTAO'" flex>
        <span class="tc-grey-800">Cartão de crédito</span>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
