<div [formGroup]='form.controls.endereco'>

  <div layout-gt-xs='row' layout-margin>
    <mat-form-field *ngIf='endereco' flex>
      <input (blur)='getAdressByCep(endereco?.cep)'
             matInput name='cep' noSubmit placeholder='CEP'
             [textMask]='{mask: masks.cep, guide: false}' id='cep'
             [(ngModel)]='endereco.cep' [ngModelOptions]='{standalone: true}'>
    </mat-form-field>
    <mat-form-field *ngIf='endereco' flex>
      <input [(ngModel)]='endereco.logradouro'
             matInput maxlength='45' name='logradouro'
             formControlName='logradouro' id='logradouro'
             placeholder='Logradouro (rua, avenida, linha, etc ...)'>
      <mat-error *ngIf="form?.controls?.endereco?.controls['logradouro']?.hasError('exception')">
        {{form?.controls?.endereco?.controls['logradouro']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf='endereco' flex>
      <input [textMask]='{mask: masks.streetNumber, guide: false}'
             [(ngModel)]='endereco.numero' formControlName='numero'
             id='numero' matInput name='numero' placeholder='Número'>
      <mat-error *ngIf="form?.controls?.endereco?.controls['numero']?.hasError('exception')">
        {{form?.controls?.endereco?.controls['numero']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf='endereco' flex>
      <input formControlName='bairro'
             [(ngModel)]='endereco.bairro'
             name='bairro' placeholder='Bairro'
             id='bairro' matInput maxlength='45'>
      <mat-error *ngIf="form?.controls?.endereco?.controls['bairro']?.hasError('exception')">
        {{form?.controls?.endereco?.controls['bairro']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
  </div>

  <div layout-gt-xs='row' layout-margin>
    <mat-form-field *ngIf='endereco' flex>
      <input [(ngModel)]='endereco.complemento'
             [ngModelOptions]='{standalone: true}'
             id='complemento' matInput maxlength='45'
             name='complemento' placeholder='Complemento'>
      <mat-hint align='end'>{{endereco.complemento ? endereco.complemento.length : 0}} / 45</mat-hint>
    </mat-form-field>
  </div>

  <div layout-gt-xs='row' layout-margin *ngIf='endereco?.cidade'>
    <mat-form-field flex='80'>
      <input formControlName='cidade' id='cidade' matInput
             (blur)='findCidadeByNomeAndEstadoUf(endereco)'
             name='cidade' placeholder='Cidade' somenteLetras
             (ngModelChange)='validateEstado()' [(ngModel)]='endereco.cidade.nome'>
      <mat-error *ngIf="form?.controls?.endereco?.controls['cidade']?.hasError('exception')">
        {{form?.controls?.endereco?.controls['cidade']?.errors.exception}}
      </mat-error>
    </mat-form-field>
    <mat-form-field flex='20'>
      <input matInput name='estado' placeholder='Estado' somenteLetras
             (blur)='findCidadeByNomeAndEstadoUf(endereco)' id='estado'
             [(ngModel)]='endereco.cidade.estado.uf' formControlName='estado'>
      <mat-error *ngIf="form.controls.endereco.controls['estado'].hasError('exception')">
        {{form?.controls?.endereco?.controls['estado']?.errors.exception}}
      </mat-error>
    </mat-form-field>
  </div>
</div>
