<div layout="column" layout-align="center center" *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
  <mat-card style="width: 600px">
    <mat-card-title class="push">
      Selecione uma unidade
    </mat-card-title>
    <mat-card-content>
      <div layout-margin
           layout="column"
           (click)="consultarUnidades()">
        <mat-form-field flex='30'>
          <mat-select [(ngModel)]="model"
                      placeholder="Unidade de atendimento"
                      flex name="unidade" class="mat-select-mobile">
            <mat-option class="mat-option-mobile"
                        *ngFor="let unidade of unidades"
                        [value]="unidade.nome" (click)="selecionar(unidade)">
              {{ unidade.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
