<div layout='column' layout-align='center center'
     *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
  <mat-card style='width: 600px'>
    <mat-card-title class='push' layout-align='center center'>
      <div layout='column' layout-align='center center'>
        {{unidadeTipoAvaliacao?.tipoAvaliacao?.enunciado}}
      </div>
    </mat-card-title>
    <mat-card-content style='margin-bottom: 0'>
      <div layout-gt-xs='row' layout-xs='column' layout-margin>
        <button mat-button (click)='avaliar(1)'>
          <div layout='column' layout-align='center center'>
            <mat-icon style='fill: #c21c1f' svgIcon='assets:pessimo'></mat-icon>
            <span>{{configuracao?.um}}</span>
          </div>
        </button>
        <button mat-button (click)='avaliar(2)'>
          <div layout='column' layout-align='center center'>
            <mat-icon style='fill: #e96d01' svgIcon='assets:ruim'></mat-icon>
            <span>{{configuracao?.dois}}</span>
          </div>
        </button>
        <button mat-button (click)='avaliar(3)'>
          <div layout='column' layout-align='center center'>
            <mat-icon style='fill: #d4c40d' svgIcon='assets:regular'></mat-icon>
            <span>{{configuracao?.tres}}</span>
          </div>
        </button>
        <button mat-button (click)='avaliar(4)'>
          <div layout='column' layout-align='center center'>
            <mat-icon style='fill: #8fc82c' svgIcon='assets:bom'></mat-icon>
            <span>{{configuracao?.quatro}}</span>
          </div>
        </button>
        <button mat-button (click)='avaliar(5)'>
          <div layout='column' layout-align='center center'>
            <mat-icon style='fill: #5ee924' svgIcon='assets:otimo'></mat-icon>
            <span>{{configuracao?.cinco}}</span>
          </div>
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div layout='row' flex
           layout-align='center center'
           *ngIf='countTiposAvaliacoes > 1'>
        <div layout='column'
             layout-margin flex
             style='font-size: 25px'
             layout-align='end start'>
          {{activatedRoute?.snapshot?.params['ordem'] + '/' + countTiposAvaliacoes}}
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
