<main layout-align='center center' layout='column'
      class='background-avaliacao' *ngIf='backgroundImage'
      [style.background-image]="'url(' + backgroundImage + ')'">

    <router-outlet></router-outlet>

</main>

<button mat-icon-button color='primary' routerLink='{{mobileService.dispositivo.numeroLicenca}}/authenticate'
        style='z-index: 1000;
        margin-top: -80px;
        background: white;
        position: fixed;
        margin-left: 45%;
        border-radius: 50px 50px 0 0!important;
        height: 80px;
        width: 100px'>
    <mat-icon style='font-size: 60px;margin-top: 30px'>keyboard_arrow_up</mat-icon>
</button>

