@import '../../../application/theming/site-theme';

.bg-footer {
  background: url('../../../../assets/images/footer.svg');

  width: 100%;
  background-size: cover;
  height: 511px;
  background-position-x: right;

  * {
    color: #fff;
  }
}

footer {
  height: 400px;
}
