<footer class="cyan-border-top bg-footer">
  <div class='container' style='margin-top :100px'>

    <div style='height: 114px'>
      <img [src]="'../../../assets/images/logomarca-white-400x114.png'"
           hide-xs hide-sm alt='Logo MEAvalia' routerLink='' style='cursor: pointer'>
    </div>
    <div layout='column'>
      <h3>Fale conosco: </h3>
      <div layout='row'>
        <span class="iconify" data-icon="gridicons:mail" data-inline="false"></span>
        <span><b> contato@meavalia.online</b></span>
      </div>
      <div layout='row'>
        <span class="iconify" data-icon="zmdi:whatsapp" data-inline="false"></span>
        <span> +55 45 9 9826-1750</span>
      </div>
    </div>
    <div layout='column'>
      <h3>Rua Iapó, 942, Conjunto Libra, Foz do Iguaçu - PR</h3>
      <span style='margin-top: -20px; color: transparent'>
  Clama a mim, e responder-te-ei, e anunciar-te-ei coisas grandes e ocultas, que não sabes.
Jeremias 33:3
</span>
    </div>
  </div>
</footer>

<span style='margin-top: -20px; float: right; color: rebeccapurple'>
  Jesus is the King!
</span>
