<div class="container">
  <canvas #canvas *ngIf='fotoPath'></canvas>
  <div>
    <img id="image" #image
         src="{{fotoPath}}" alt="Picture">
  </div>
  <p>
    <button type="button" id="button" (click)='clicked()'>Crop</button>
  </p>
</div>

<div layout-align='center center' layout-gt-xs='row' layout-margin>
  <div layout='row' flex-gt-xs='80' layout-margin>
    <div flex layout-margin>
      <mat-card class='bgc-grey-50' layout-margin>
        <form [formGroup]='form' (ngSubmit)='saveAtendente(form)' novalidate
              *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
          <mat-card-content>
            <div layout-margin>

              <!--cabeçalho div-->
              <ng-content select="[header]"></ng-content>

              <!--dados e foto div-->
              <div layout-gt-sm='row' flex>
                <!--<div flex>-->
                <div layout='column' flex layout-align='center center'>
                  <div flex>
                    <avatar [usuario]="{'id': usuario.id , 'foto': fotoPath}"></avatar>
                  </div>
                  <div flex *ngIf='fotoPath'>
                    <button type='button' (click)='removeFile()' class='tc-grey-500' mat-button>
                      REMOVER FOTO
                    </button>
                  </div>
                  <div flex *ngIf='!fotoPath'>
                    <td-file-upload #singleFileUpload
                                    defaultColor='primary'
                                    (change)='fileChange($event)'
                                    name="file"
                                    accept='.png, .gif, .jpg, .jpeg'>
                      <span>{{ singleFileUpload?.files?.name }}</span>
                      <ng-template td-file-input-label>
                        <mat-icon>attach_file</mat-icon>
                        <span>Adicionar foto</span>
                      </ng-template>
                    </td-file-upload>
                  </div>
                </div>

                <!--dados div-->
                <div layout='column' flex-gt-sm='70'>
                  <div layout='row' layout-margin>
                    <mat-form-field flex>
                      <input placeholder='Nome'
                             formControlName='nome'
                             maxlength='200' required
                             [(ngModel)]='usuario.nome'
                             id='nome' name='nome' matInput>
                      <mat-error>
                        Esse campo é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div layout='row' layout-margin>
                    <mat-form-field flex>
                      <input [(ngModel)]='usuario.conta.email'
                             matInput name='email' id='email'
                             type='email' formControlName='email'
                             placeholder='E-mail' maxlength='144'
                             pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$'>
                      <mat-error *ngIf="form.controls['email'].hasError('pattern')">
                        E-mail inválido, utilize o formato 'email@email.com'
                      </mat-error>
                    </mat-form-field>
                    <div layout="column" layout-align="center center" *ngIf="usuarioLogado?.isAdministrador">
                      <mat-checkbox [(ngModel)]='usuario.conta.administrador' [ngModelOptions]="{standalone: true}">
                        Administrador
                      </mat-checkbox>
                    </div>
                  </div>
                  <password-form [conta]='usuario?.conta' [form]='form' *ngIf='showPassword'></password-form>
                </div>
              </div>

              <!--divider-->
              <ng-content select="[divider]"></ng-content>

              <!--unidade-->
              <ng-content select="[unidades]"></ng-content>

              <!-- actions -->
              <ng-content select="[actions]"></ng-content>

            </div>

          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>