<div layout-align="center center" layout-gt-xs="row" layout-margin>
  <div layout="row" flex-gt-xs="80" layout-margin>
    <div flex layout-margin>
      <mat-card class="bgc-grey-50" layout-margin style="max-width: 1200px">
        <form [formGroup]="form" (ngSubmit)="saveAtendente(form)" novalidate>
          <mat-card-content>
            <div layout-margin>

              <!--cabeçalho div-->
              <div layout="column" layout-margin flex>
                <div layout="row" layout-align="start center">
                  <ng-content></ng-content>
                </div>

                <div layout="row" layout-margin>
                  <h1 class="mat-subheading-2 ing-2 tc-grey-500" flex>INFORMAÇÕES GERAIS</h1>
                </div>
              </div>

              <!--dados e foto div-->
              <div layout-gt-xs="row" flex>
                <!--dados div-->
                <div layout="column" flex>
                  <div layout="row" layout-margin>
                    <mat-form-field flex>
                      <input placeholder="Nome"
                             formControlName="nome"
                             maxlength="200" required
                             [(ngModel)]="atendente.nome"
                             id="nome" name="nome" matInput>
                      <mat-error>
                        Esse campo é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div layout="row" layout-margin>
                    <mat-form-field flex>
                      <input [(ngModel)]="atendente.email"
                             matInput name="email" id="email"
                             type="email" formControlName="email"
                             placeholder="E-mail" maxlength="144"
                             pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
                      <mat-error *ngIf="form.controls['email'].hasError('pattern')">
                        E-mail inválido, utilize o formato "email@email.com"
                      </mat-error>
                      <mat-error>
                        Esse campo é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <!--<password-form *ngIf='!atendente || !atendente?.key'-->
                  <!--[usuario]='atendente' [form]='form'>-->
                  <!--</password-form>-->
                </div>
              </div>

              <div flex>

                <!--endereço div-->
                <div class='push-top'>
                  <div layout='column' flex class='push-top'>
                    <div layout='row' layout-margin>
                      <div flex>
                        <h1 class='mat-subheading-2 tc-grey-500'>UNIDADE</h1>
                      </div>
                    </div>
                  </div>

                  <div layout="row" layout-margin>
                    <td-chips [items]="unidadesList"
                              [(ngModel)]="unidadeSelected"
                              [ngModelOptions]='{standalone: true}'
                              placeholder="Unidades" flex name="unidades"
                              (add)="addUnidade($event)" (remove)="removeUnidade()"
                              requireMatch [chipAddition]="unidadeSelected.length < 1" style="margin-left: 0px;">
                      <ng-template td-chip let-chip="chip">
                        {{chip?.nome}} - {{chip?.endereco}}
                      </ng-template>
                      <ng-template td-autocomplete-option let-option="option">
                        {{option?.nome}} - {{option?.endereco}}
                      </ng-template>
                    </td-chips>

                  </div>
                </div>
              </div>

              <!--actions div-->
              <div flex layout-margin>

                <div layout-gt-xs='row' flex layout-margin>

                  <span flex='70'></span>

                  <button mat-raised-button
                          routerLink='../'
                          type='button'
                          flex>
                    Cancelar
                  </button>
                  <button mat-raised-button
                          color='accent'
                          flex>
                    Salvar
                  </button>

                </div>

              </div>
            </div>

          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>

