<mat-nav-list *ngIf='unidades?.length'>
  <div *ngFor="let unidade of unidades | filter:filter.unidade">
    <mat-list-item disableRipple layout='row' layout-margin>

      <h3 matLine>{{unidade?.nome}}</h3>
      <p matLine>
        {{unidade?.endereco?.logradouro ? unidade?.endereco?.logradouro + ', ' : ''}}
        {{unidade?.endereco?.numero ? unidade?.endereco?.numero + ', ' : ''}}
        {{unidade?.endereco?.bairro ? unidade?.endereco?.bairro + ', ' : ''}}
        {{unidade?.endereco?.cidade ? (unidade?.endereco?.cidade?.nome + ' - ' + unidade?.endereco?.cidade?.estado?.uf) : ''}}
      </p>

      <mat-slide-toggle (ngModelChange)='saveOperadorInner(unidade)' [(ngModel)]='unidade.operadorValue'
                        flex
                        layout-margin>
        Operador
      </mat-slide-toggle>
      <mat-slide-toggle (ngModelChange)='changeAvaliavel(unidade)' [(ngModel)]='unidade.avaliavelValue'
                        flex
                        layout-margin>
        Avaliável
      </mat-slide-toggle>

    </mat-list-item>
    <mat-accordion>
      <mat-expansion-panel
          [expanded]='unidade.avaliavelValue && ((unidade?.unidadesTiposAvaliacoes?.length > 1) || unidade?.unidadesTiposAvaliacoes[0]?.unidadesTiposAvaliacoesDispositivo?.length > 1)'>

        <div *ngIf='unidade?.unidadesTiposAvaliacoes?.length' flex
             layout='column' layout-align='center start' style='width: 100%'>
          <div *ngFor='let unidadeTipoAvaliacao of unidade.unidadesTiposAvaliacoes' layout='row'
               style='width: 100%'>

            <mat-list-item (click)='emit(clickUnidadeTipoAvaliacao(unidadeTipoAvaliacao)); verifyUnidade(unidade)' [ngStyle]="{'background-color': unidadeTipoAvaliacao.unidadeTipoAvaliacaoValue ? 'aliceblue' : '#fafafa' }" disableRipple
                           layout='column'
                           layout-margin>
              <h3 matLine style='margin-left: 25px!important'>
                {{unidadeTipoAvaliacao?.tipoAvaliacao?.nome}}
              </h3>
            </mat-list-item>
            <div *ngIf='unidadeTipoAvaliacao?.unidadesTiposAvaliacoesDispositivo?.length > 1' [ngStyle]="{'background-color': unidadeTipoAvaliacao.unidadeTipoAvaliacaoValue ? 'aliceblue' : '#fafafa' }"
                 flex
                 layout='row'>
              <mat-checkbox (change)='emit(changeUnidadeTipoAvaliacaoDispositivoUnidadeTipoAvaliacaoDispositivoValue(unidadeTipoAvaliacaoDispositivo, unidadeTipoAvaliacaoDispositivo.unidadeTipoAvaliacaoDispositivoValue)); verifyUnidadeTipoAvaliacao(unidadeTipoAvaliacao); verifyUnidade(unidade)' *ngFor='let unidadeTipoAvaliacaoDispositivo of unidadeTipoAvaliacao.unidadesTiposAvaliacoesDispositivo'
                            [(ngModel)]='unidadeTipoAvaliacaoDispositivo.unidadeTipoAvaliacaoDispositivoValue'
                            flex
                            layout-margin>
                {{unidadeTipoAvaliacaoDispositivo?.dispositivo?.nome}}
              </mat-checkbox>
            </div>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

</mat-nav-list>
