<!-- Cartão de crédito -->
<div [formGroup]='form.controls.cartao'>
  <div layout="row" layout-margin>
    <b class="pagamento-title" flex>Informações do cartão</b>
  </div>

  <div layout-gt-xs="row" layout-align="start center" layout-margin>
    <mat-form-field flex>
      <input matInput name="numeroCartao"
             formControlName='numeroCartao'
             [(ngModel)]="assinatura.numeroCartao"
             placeholder="Número do cartão" required
             [textMask]="{mask: masks.cardNumber, guide: false}">
      <mat-error *ngIf="form?.controls?.cartao?.controls['numeroCartao']?.hasError('exception')">
        {{form?.controls?.cartao?.controls['numeroCartao']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <div flex>
      <img *ngIf="imagemBandeiraCartao" [src]="imagemBandeiraCartao" alt="logo cartao">
    </div>
  </div>

  <div layout-gt-xs="row" layout-margin>
    <mat-form-field flex>
      <input formControlName='mesValidade'
             placeholder="Mês de validade"
             [(ngModel)]="assinatura.mesValidade"
             name="mesValidade" matInput required
             [textMask]="{mask: masks.month, guide: false}"
             (keyup)="form?.controls?.cartao?.get('numeroCartao')?.updateValueAndValidity()">
      <mat-error *ngIf="form?.controls?.cartao?.controls['mesValidade']?.hasError('exception')">
        {{form?.controls?.cartao?.controls['mesValidade']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <mat-form-field flex>
      <input placeholder="Ano de validade"
             formControlName='anoValidade'
             required matInput name="anoValidade"
             [(ngModel)]="assinatura.anoValidade"
             [textMask]="{mask: masks.year, guide: false}"
             (keyup)="form?.controls?.cartao?.get('numeroCartao')?.updateValueAndValidity()">
      <mat-error *ngIf="form?.controls?.cartao?.controls['anoValidade']?.hasError('exception')">
        {{form?.controls?.cartao?.controls['anoValidade']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
    <mat-form-field flex>
      <input name="codigoSeguranca"
             maxLength="10" required matInput
             formControlName='codigoSeguranca'
             placeholder="Código de segurança"
             [(ngModel)]="assinatura.codigoSeguranca">
      <mat-error *ngIf="form?.controls?.cartao?.controls['codigoSeguranca']?.hasError('exception')">
        {{form?.controls?.cartao?.controls['codigoSeguranca']?.errors?.exception}}
      </mat-error>
    </mat-form-field>
  </div>

  <div layout="row" layout-margin>
    <b class="pagamento-title" flex>Dados do titular do cartão</b>
  </div>

  <div layout="column">
    <div layout-gt-xs="row" layout-margin>
      <mat-form-field flex>
        <input name="nomeTitularCartao" matInput
               formControlName='nomeTitularCartao'
               maxlength="80" somenteLetras required
               placeholder="Nome (impresso no cartão)"
               [(ngModel)]="assinatura.nomeTitularCartao">
        <mat-error *ngIf="form?.controls?.cartao?.controls['nomeTitularCartao']?.hasError('exception')">
          {{form?.controls?.cartao?.controls['nomeTitularCartao']?.errors?.exception}}
        </mat-error>
      </mat-form-field>
    </div>

    <div layout="row">
      <div flex layout='row'>
        <usuario-pessoa-juridica-form [form]='form' flex='20'
                                      *ngIf='assinatura.souEmpresa'
                                      [(documento)]='assinatura.documentoTitularCartao'>
        </usuario-pessoa-juridica-form>

        <usuario-pessoa-fisica-form [form]='form' flex='20'
                                    *ngIf='!assinatura.souEmpresa'
                                    [(documento)]='assinatura.documentoTitularCartao'>
        </usuario-pessoa-fisica-form>

        <ev-datepicker [(dataInput)]='assinatura.dataNascimentoTitularCartao' style='margin-top: 12px'>
          <mat-form-field flex>
            <input [textMask]='{mask: masks.date, guide: false}'
                   flex matInput placeholder='Data de nascimento'
                   [(ngModel)]='assinatura.dataNascimentoTitularCartao'
                   formControlName='dataNascimentoTitularCartao' required
                   name='dataNascimentoTitularCartao' id='dataNascimentoTitularCartao'/>
            <mat-error *ngIf="form?.controls?.cartao?.controls['dataNascimentoTitularCartao']?.hasError('exception')">
              {{form?.controls?.cartao?.controls['dataNascimentoTitularCartao']?.errors.exception}}
            </mat-error>
          </mat-form-field>
        </ev-datepicker>

        <mat-checkbox style='margin-top: 33px; margin-right: 20px; margin-left:30px'
                      [(ngModel)]='assinatura.souEmpresa' [ngModelOptions]='{standalone: true}'>
          Sou empresa
        </mat-checkbox>
      </div>

    </div>
  </div>
</div>
