@import '../../theme';

visualizar-atendente, visualizar-minha-conta, visualizar-unidade {
  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  mat-list-item {
    margin: 0 !important;
  }
}

#date-filters {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: -24px;
  .mat-form-field-underline {
    height: 0 !important;
  }
}

.container {
  max-width: 640px;
  margin: 20px auto;
}

img {
  max-width: 100%;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

//ev-datepicker {
//  mat-form-field {
//    min-width: 206px;
//  }
//}

vincular-unidade {
  .mat-expansion-panel-body {
    padding: 0 24px 0 !important;
  }
}

inserir-unidade {
  mat-nav-list {
    margin-left: -24px !important;
    margin-right: -24px !important;
    margin-top: -8px !important;
    margin-bottom: -8px !important;
    mat-list-item {
      margin: 0 !important;
    }
  }
}