@import '../../theme';

visualizar-atendente, visualizar-minha-conta, visualizar-unidade {
  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  mat-list-item {
    margin: 0 !important;
  }
}

dashboard-view {
  .mat-drawer-inner-container {
    display: flex !important;
    flex-direction: column !important;
    overflow-x: hidden !important;
  }
}

#date-filters {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: -24px;

  .mat-form-field-underline {
    height: 0 !important;
  }
}

.container {
  max-width: 640px;
  margin: 20px auto;
}

img {
  max-width: 100%;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}


//ev-datepicker {
//  mat-form-field {
//    min-width: 206px;
//  }
//}

vincular-unidade, visualizar-minha-conta {
  .mat-expansion-panel-body {
    padding: 0 24px 0 !important;
  }
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

inserir-unidade {
  mat-nav-list {
    margin-left: -24px !important;
    margin-right: -24px !important;
    margin-top: -8px !important;
    margin-bottom: -8px !important;

    mat-list-item {
      margin: 0 !important;
    }
  }
}

ngx-tooltip-content {
  width: 50px;
  height: 50px;
}
