<mat-nav-list class="pad-none">
  <mat-list class="pad-none">
    <mat-list-item routerLink="/dashboard/minha-conta"
                   #rla="routerLinkActive" routerLinkActive
                   class="push-top push-bottom minha-conta"
                   [ngClass]="{'menu-active': rla.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>person</mat-icon>
        <h3 matLine style="color: white" flex="85"> Minha conta </h3>
      </div>
    </mat-list-item>
    <mat-divider class="bgc-blue-grey-300"></mat-divider>
    <mat-list-item disableRipple>
      <div layout="row" class="push-top push-bottom pad-left" flex>
        <span flex="10"></span>
        <span class="mat-caption tc-blue-grey-100"> ADMINISTRATIVO </span>
      </div>
    </mat-list-item>

    <mat-list-item class="push-bottom"
                   routerLink="/dashboard/atendentes"
                   routerLinkActive #rlaUsuarios="routerLinkActive"
                   [ngClass]="{'menu-active': rlaUsuarios.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>supervisor_account</mat-icon>
        <h3 matLine style="color: white" flex="85"> {{authenticatedUser?.isAdministrador ? 'Atendentes' : 'Meus
          atendentes'}} </h3>
      </div>
    </mat-list-item>

    <mat-list-item class="push-bottom" routerLink="/dashboard/unidades"
                   routerLinkActive #rlaFornecedores="routerLinkActive"
                   [ngClass]="{'menu-active': rlaFornecedores.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>store</mat-icon>
        <h3 matLine style="color: white" flex="85"> {{authenticatedUser?.isAdministrador ? 'Unidades' : 'Minhas
          unidades'}} </h3>
      </div>
    </mat-list-item>

    <mat-list-item class="push-bottom"
                   routerLink="/dashboard/avaliacoes"
                   routerLinkActive #rlaAvaliacoes="routerLinkActive"
                   [ngClass]="{'menu-active': rlaAvaliacoes.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>assessment</mat-icon>
        <h3 matLine style="color: white" flex="85"> Avaliações </h3>
      </div>
    </mat-list-item>

    <mat-list-item class="push-bottom"
                   routerLink="/dashboard/resultados"
                   routerLinkActive #rlaResultados="routerLinkActive"
                   [ngClass]="{'menu-active': rlaResultados.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>pie_chart</mat-icon>
        <h3 matLine style="color: white" flex="85"> Resultados </h3>
      </div>
    </mat-list-item>

    <mat-divider class="bgc-blue-grey-300 push-top push-bottom pad-left"></mat-divider>

    <mat-list-item class="push-bottom"
                   routerLink="/dashboard/configuracoes"
                   routerLinkActive #rlaSettings="routerLinkActive"
                   [ngClass]="{'menu-active': rlaSettings.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>settings</mat-icon>
        <h3 matLine style="color: white" flex="85"> Configurações </h3>
      </div>
    </mat-list-item>

    <!--<mat-list-item class="push-bottom"-->
    <!--routerLink="/dashboard/meus-melhores-atendentes"-->
    <!--routerLinkActive #rlaMelhorAtendente="routerLinkActive"-->
    <!--[ngClass]="{'menu-active': rlaMelhorAtendente.isActive}">-->
    <!--<div layout="row" flex class="pad-left">-->
    <!--<span flex="10"></span>-->
    <!--<mat-icon matListAvatar flex>card_giftcard</mat-icon>-->
    <!--<h3 matLine style="color: white" flex="85"> Meus melhores atendentes </h3>-->
    <!--</div>-->
    <!--</mat-list-item>-->

    <!--<mat-list-item class="push-bottom"-->
    <!--routerLink="/dashboard/minhas-melhores-unidades"-->
    <!--routerLinkActive #rlaMelhoresUnidades="routerLinkActive"-->
    <!--[ngClass]="{'menu-active': rlaMelhoresUnidades.isActive}">-->
    <!--<div layout="row" flex class="pad-left">-->
    <!--<span flex="10"></span>-->
    <!--<mat-icon matListAvatar flex>assessment</mat-icon>-->
    <!--<h3 matLine style="color: white" flex="85"> Minhas melhores unidades </h3>-->
    <!--</div>-->
    <!--</mat-list-item>-->

  </mat-list>
</mat-nav-list>
