<div layout-align="center center" layout-gt-xs="row" layout-margin>
  <div layout="row" flex-gt-xs="80" layout-margin>
    <div flex layout-margin>
      <mat-card class="bgc-grey-50" layout-margin style="max-width: 1200px">
        <form [formGroup]="form" (ngSubmit)="saveUnidade(form)" novalidate>
          <mat-card-content>
            <div layout-margin>
              <!--cabeçalho div-->
              <div layout="column" layout-margin flex>

                <div layout="row" layout-align="start center">
                  <ng-content></ng-content>
                </div>

              </div>

              <!--dados e foto div-->
              <div layout-gt-xs="row" flex>
                <!--dados div-->
                <div layout="column" flex>
                  <div layout="row" layout-margin>
                    <mat-form-field flex>
                      <input id="nome" name="nome" matInput
                             [(ngModel)]="unidade.nome"
                             placeholder="Nome" required
                             maxlength="200" formControlName="nome">
                      <mat-error>
                        Esse campo é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div flex>

                <!--endereço div-->
                <div flex class="push-top">
                  <div layout="column" flex class="push-top">
                    <div layout="row" layout-margin>
                      <div flex>
                        <h1 class="mat-subheading-2 tc-grey-500">ENDEREÇO</h1>
                      </div>
                    </div>
                  </div>

                  <div layout-gt-xs="row" flex>
                    <!--dados div-->
                    <div layout="column" flex>
                      <div layout="row" layout-margin>
                        <mat-form-field flex>
                          <input id="endereco" name="endereco" matInput
                                 [(ngModel)]="unidade.endereco"
                                 placeholder="Endereço" required
                                 maxlength="200" formControlName="endereco">
                          <mat-error>
                            Esse campo é obrigatório
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <!--<maps-component [showMap]="false" [endereco]="unidade?.endereco" [form]="form"></maps-component>-->
                </div>
              </div>

              <!--actions div-->
              <div flex layout-margin>

                <div layout-gt-xs="row" flex layout-margin>

                  <span flex="70"></span>
                  <button mat-raised-button
                          routerLink="../"
                          type="button" flex>
                    Cancelar
                  </button>
                  <button mat-raised-button
                          color="accent"
                          flex>
                    Salvar
                  </button>

                </div>

              </div>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>

