<mat-nav-list class="pad-none" *ngIf='authenticatedUser?.id'>
  <mat-list class="pad-none">
    <mat-list-item routerLink="/dashboard/minha-conta"
                   #rla="routerLinkActive" routerLinkActive
                   class="push-top push-bottom minha-conta"
                   [ngClass]="{'menu-active': rla.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>person</mat-icon>
        <h3 matLine style="color: white" flex="85"> Minha conta </h3>
      </div>
    </mat-list-item>
    <mat-divider class="bgc-blue-grey-300"></mat-divider>
    <mat-list-item disableRipple>
      <div layout="row" class="push-top push-bottom pad-left" flex>
        <span flex="10"></span>
        <span class="mat-caption tc-blue-grey-100"> ADMINISTRATIVO </span>
      </div>
    </mat-list-item>

    <mat-list-item class="push-bottom"
                   *ngIf='authenticatedUser?.root'
                   routerLink='/dashboard/clientes'
                   routerLinkActive #rlaClientes="routerLinkActive"
                   [ngClass]="{'menu-active': rlaClientes.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>person_outline</mat-icon>
        <h3 matLine style="color: white" flex="85">
          Clientes
        </h3>
      </div>
    </mat-list-item>

    <mat-list-item class='push-bottom'
                   *ngIf="esquema === 'public'"
                   [matTooltipPosition]="'left'"
                   routerLink='/dashboard/usuarios'
                   routerLinkActive #rlaUsuarios='routerLinkActive'
                   [ngClass]="{'menu-active': rlaUsuarios.isActive}">
      <div class='pad-left'
           flex layout='row'>
        <span flex="10"></span>
        <mat-icon matListAvatar flex>supervisor_account</mat-icon>
        <h3 matLine flex='85' style='color: white'>
          Usuários
        </h3>
      </div>
    </mat-list-item>

    <mat-list-item class="push-bottom"
                   *ngIf="esquema !== 'public'"
                   [matTooltipPosition]="'left'"
                   routerLink='/dashboard/avaliaveis'
                   routerLinkActive #rlaUsuarios='routerLinkActive'
                   [ngClass]="{'menu-active': rlaUsuarios.isActive}"
                   matTooltip='Atendentes, professores, quesitos, itens de buffet, etc ...'>
      <div class='pad-left'
           flex layout='row'>
        <span flex="10"></span>
        <mat-icon matListAvatar flex>supervisor_account</mat-icon>
        <h3 matLine style='color: white' flex='85'>
          {{authenticatedUser?.isAdministrador ? 'Itens avaliáveis' : 'Meus itens avaliáveis'}}
        </h3>
      </div>
    </mat-list-item>

    <div *ngIf="esquema !== 'public'">
      <mat-list-item class="push-bottom"
                     routerLink="/dashboard/unidades"
                     routerLinkActive #rlaFornecedores="routerLinkActive"
                     [ngClass]="{'menu-active': rlaFornecedores.isActive}">
        <div layout="row" flex class="pad-left">
          <span flex="10"></span>
          <mat-icon matListAvatar flex>store</mat-icon>
          <h3 matLine style="color: white" flex="85">
            {{authenticatedUser?.isAdministrador ? 'Unidades' : 'Minhas unidades'}}
          </h3>
        </div>
      </mat-list-item>

      <mat-list-item class="push-bottom"
                     routerLink="/dashboard/avaliacoes"
                     *ngIf='authenticatedUser?.isAdministrador'
                     routerLinkActive #rlaAvaliacoes="routerLinkActive"
                     [ngClass]="{'menu-active': rlaAvaliacoes.isActive}">
        <div layout="row" flex class="pad-left">
          <span flex="10"></span>
          <mat-icon matListAvatar flex>assessment</mat-icon>
          <h3 matLine style="color: white" flex="85"> Tipos de Avaliações </h3>
        </div>
      </mat-list-item>

      <mat-list-item class='push-bottom'
                     routerLink='/dashboard/licencas'
                     *ngIf='authenticatedUser?.isAdministrador'
                     routerLinkActive #rlaLicencas='routerLinkActive'
                     [ngClass]="{'menu-active': rlaLicencas.isActive}">
        <div layout='row' flex class='pad-left'>
          <span flex='10'></span>
          <mat-icon matListAvatar flex>devices</mat-icon>
          <h3 matLine style='color: white' flex='85'> Licenças </h3>
        </div>
      </mat-list-item>

      <mat-list-item class="push-bottom"
                     routerLink="/dashboard/resultados"
                     routerLinkActive #rlaResultados="routerLinkActive"
                     [ngClass]="{'menu-active': rlaResultados.isActive}">
        <div layout="row" flex class="pad-left">
          <span flex="10"></span>
          <mat-icon matListAvatar flex>pie_chart</mat-icon>
          <h3 matLine style="color: white"
              flex="85"> {{authenticatedUser?.isAdministrador ? 'Resultados' : 'Meus resultados'}} </h3>
        </div>
      </mat-list-item>
    </div>
    <mat-divider class="bgc-blue-grey-300 push-top push-bottom pad-left"></mat-divider>

    <mat-list-item class="push-bottom"
                   routerLink="/dashboard/configuracoes"
                   routerLinkActive #rlaSettings="routerLinkActive"
                   [ngClass]="{'menu-active': rlaSettings.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>settings</mat-icon>
        <h3 matLine style="color: white" flex="85"> Configurações </h3>
      </div>
    </mat-list-item>

    <mat-list-item routerLinkActive #rlaAssinatura='routerLinkActive'
                   [ngClass]="{'menu-active': rlaAssinatura.isActive}"
                   class='push-bottom' routerLink='/dashboard/assinatura'>
      <div layout='row' flex class='pad-left'>
        <span flex='10'></span>
        <mat-icon matListAvatar flex>shopping_cart</mat-icon>
        <h3 matLine style='color: white' flex='85'> Assinatura </h3>
      </div>
    </mat-list-item>

  </mat-list>
</mat-nav-list>
