<mat-nav-list class="pad-none" *ngIf='authenticatedUser?.id'>
  <mat-list class="pad-none">
    <mat-list-item routerLink="/authenticated/minha-conta"
                   #rla="routerLinkActive" routerLinkActive
                   class="push-top push-bottom minha-conta"
                   [ngClass]="{'menu-active': rla.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>person</mat-icon>
        <h3 matLine style="color: white" flex="85"> Minha conta </h3>
      </div>
    </mat-list-item>
    <mat-divider class="bgc-blue-grey-300"></mat-divider>
    <mat-list-item disableRipple>
      <div layout="row" class="push-top push-bottom pad-left" flex>
        <span flex="10"></span>
        <span class="mat-caption tc-blue-grey-100"> ADMINISTRATIVO </span>
      </div>
    </mat-list-item>

    <mat-list-item class='push-bottom'
                   [matTooltipPosition]="'left'"
                   routerLink="/authenticated/avaliaveis"
                   routerLinkActive #rlaUsuarios="routerLinkActive"
                   [ngClass]="{'menu-active': rlaUsuarios.isActive}"
                   matTooltip='Atendentes, professores, quesitos, itens de buffet, etc ...'>
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>supervisor_account</mat-icon>
        <h3 matLine style="color: white" flex="85">
          {{authenticatedUser?.isAdministrador ? 'Itens avaliáveis' : 'Meus itens avaliáveis'}}
        </h3>
      </div>
    </mat-list-item>

    <mat-list-item class="push-bottom"
                   routerLink="/authenticated/unidades"
                   routerLinkActive #rlaFornecedores="routerLinkActive"
                   [ngClass]="{'menu-active': rlaFornecedores.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>store</mat-icon>
        <h3 matLine style="color: white" flex="85">
          {{authenticatedUser?.isAdministrador ? 'Unidades' : 'Minhas unidades'}}
        </h3>
      </div>
    </mat-list-item>

    <mat-list-item class="push-bottom"
                   routerLink="/authenticated/avaliacoes"
                   *ngIf='authenticatedUser?.isAdministrador'
                   routerLinkActive #rlaAvaliacoes="routerLinkActive"
                   [ngClass]="{'menu-active': rlaAvaliacoes.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>assessment</mat-icon>
        <h3 matLine style="color: white" flex="85"> Tipos de Avaliações </h3>
      </div>
    </mat-list-item>

    <mat-list-item class='push-bottom'
                   routerLink='/authenticated/dispositivos'
                   *ngIf='authenticatedUser?.isAdministrador'
                   routerLinkActive #rlaDispositivos='routerLinkActive'
                   [ngClass]="{'menu-active': rlaDispositivos.isActive}">
      <div layout='row' flex class='pad-left'>
        <span flex='10'></span>
        <mat-icon matListAvatar flex>devices</mat-icon>
        <h3 matLine style='color: white' flex='85'> Dispositivos </h3>
      </div>
    </mat-list-item>

    <mat-list-item class="push-bottom"
                   routerLink="/authenticated/resultados"
                   routerLinkActive #rlaResultados="routerLinkActive"
                   [ngClass]="{'menu-active': rlaResultados.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>pie_chart</mat-icon>
        <h3 matLine style="color: white" flex="85"> {{authenticatedUser?.isAdministrador ? 'Resultados' : 'Meus resultados'}} </h3>
      </div>
    </mat-list-item>

    <mat-list-item class='push-bottom'
                   routerLink="/authenticated/configuracoes"
                   *ngIf='authenticatedUser?.isAdministrador'
                   routerLinkActive #rlaSettings="routerLinkActive"
                   [ngClass]="{'menu-active': rlaSettings.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>settings</mat-icon>
        <h3 matLine style="color: white" flex="85"> Configurações </h3>
      </div>
    </mat-list-item>

    <mat-divider class="bgc-blue-grey-300 push-top push-bottom pad-left" *ngIf='authenticatedUser?.isAdministrador'></mat-divider>

    <mat-list-item *ngIf='authenticatedUser?.isRoot'
                   routerLinkActive #rlaCupom='routerLinkActive'
                   [ngClass]="{'menu-active': rlaCupom.isActive}"
                   class='push-bottom' routerLink='/authenticated/cupons'>
      <div layout='row' flex class='pad-left'>
        <span flex='10'></span>
        <mat-icon matListAvatar flex>whatshot</mat-icon>
        <h3 matLine style='color: white' flex='85'> Cupons </h3>
      </div>
    </mat-list-item>

    <mat-list-item *ngIf='authenticatedUser?.isAdministrador'
                   routerLinkActive #rlaFatura='routerLinkActive'
                   [ngClass]="{'menu-active': rlaFatura.isActive}"
                   class='push-bottom' routerLink='/authenticated/faturas'>
      <div layout='row' flex class='pad-left'>
        <span flex='10'></span>
        <mat-icon matListAvatar flex>attach_money</mat-icon>
        <h3 matLine style='color: white' flex='85'> Minhas Faturas </h3>
      </div>
    </mat-list-item>

    <mat-list-item *ngIf='authenticatedUser?.isAdministrador'
                   routerLinkActive #rlaAssinatura='routerLinkActive'
                   [ngClass]="{'menu-active': rlaAssinatura.isActive}"
                   class='push-bottom' routerLink='/authenticated/assinatura'>
      <div layout='row' flex class='pad-left'>
        <span flex='10'></span>
        <mat-icon matListAvatar flex>shopping_cart</mat-icon>
        <h3 matLine style='color: white' flex='85'> Minha Assinatura </h3>
      </div>
    </mat-list-item>

  </mat-list>
</mat-nav-list>
