<mat-card>
  <div layout='column' layout-margin>
    <button (click)='reconfig()'
            class='push-left' color='primary'
            flex mat-raised-button type='button'>
      Limpar dados e reconfigurar
    </button>
    <button (click)='logout()'
            class='push-left' color='accent'
            flex mat-raised-button type='button'>
      Sair do aplicativo
    </button>
    <button class='push-left'
            (click)='cancelar()'
            flex mat-button type='button'>
      Cancelar
    </button>
  </div>
</mat-card>
