<cupom-form [cupom]='cupom' (save)='save($event)'>

  <!--cabeçalho div-->
  <div layout='column' layout-margin header>
    <div layout='row' layout-align='start center'>

      <button type='button' routerLink='../'
              color='primary' mat-icon-button
              class='mat-headline tc-grey-500'>
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div layout='row' layout-margin>
        <h1 class='mat-headline tc-grey-500' flex> Inserir Cupom</h1>
      </div>
    </div>
  </div>

  <!--actions div-->
  <div flex layout-margin actions>

    <div layout-gt-xs='row' flex layout-margin>

      <span flex='70'></span>

      <button routerLink='../'
              mat-raised-button
              flex type='button'>
        Cancelar
      </button>
      <button mat-raised-button
              flex color='accent'
              style='margin-right: 0'>
        Salvar
      </button>

    </div>
  </div>

</cupom-form>
