<mat-nav-list>
  <div *ngFor="let unidade of unidades">

    <mat-list-item layout="row" layout-margin (click)="select.open()">
      <h3 matLine> {{unidade?.nome}} </h3>
      <p matLine *ngIf="unidade?.endereco?.cidade?.nome">Número {{unidade?.endereco?.numero}},
        {{unidade?.endereco?.logradouro}}, {{unidade?.endereco?.bairro}} -
        {{unidade?.endereco?.cidade?.nome}} - {{unidade?.endereco?.cidade?.estado?.sigla}}
      </p>

      <mat-form-field flex="30">
        <mat-select placeholder='Tipo de vínculo' #select>
          <mat-option>
            Nenhum
          </mat-option>
          <mat-option [value]="'Atendente'">
            Atendente
          </mat-option>
          <mat-option [value]="'Supervisor'">
            Supervisor
          </mat-option>
          <mat-option [value]="'SupervisorAtendente'">
            Supervisor e Atendente
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>

  </div>
</mat-nav-list>