<mat-nav-list>
  <!--<div *ngFor="let unidade of unidades; i">-->
  <div *ngFor="let atendente of atendentes">
    <mat-list-item layout='row'
                   layout-margin
                   (click)='select.open()'>
      <h3 matLine>{{atendente.unidade?.nome}} </h3>
      <p matLine *ngIf="atendente.unidade?.endereco?.cidade?.nome">Número {{atendente.unidade?.endereco?.numero}},
        {{atendente.unidade?.endereco?.logradouro}}, {{atendente.unidade?.endereco?.bairro}} -
        {{atendente.unidade?.endereco?.cidade?.nome}} - {{atendente.unidade?.endereco?.cidade?.estado?.sigla}}
      </p>

      <mat-form-field flex='30'>
        <mat-select placeholder='Tipo de vínculo' #select
                    [(value)]="atendente.vinculo"
                    (selectionChange)='save(atendente)'>
          <mat-option>
            Nenhum
          </mat-option>
          <mat-option [value]="'Atendente'">
            Atendente
          </mat-option>
          <mat-option [value]="'Operador'">
            Operador
          </mat-option>
          <mat-option [value]="'OperadorAtendente'">
            Operador e Atendente
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
  </div>
</mat-nav-list>