<div layout='column' layout-align='center center'
     *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
  <mat-card style='width: 600px'>
    <mat-card-title class='push' style='margin-right: 0;padding-right: 0'>
      <div layout='row'>
        <div layout='column'>
          <label style='font-size: 23px'>Insira o número da licença</label>
        </div>
      </div>
    </mat-card-title>

    <mat-card-content style='height: 400px; padding: 0; margin-bottom: 0'>
      <div layout='row' layout-margin flex style='margin-top: 34px'>
        <mat-form-field flex>
          <input (ngModelChange)='changed($event)'
                 [ngModelOptions]='{standalone: true}'
                 placeholder='Insira o número da licença'
                 [(ngModel)]='mobileService.dispositivo.numeroLicenca'
                 matInput required name='numero' noWhiteSpace/>
        </mat-form-field>
      </div>
      {{mobileService.dispositivo | json}}
    </mat-card-content>

    <mat-card-actions>
      <div layout='row' layout-align='center center' flex>
        <div layout='column'
             layout-margin flex
             layout-align='center end'>
          <button mat-button layout-align='center end'
                  color='primary' (click)='proximo(unidades)'>
            Próximo
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
