<div layout='column' layout-align='center center'
     *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
  <mat-card style='width: 600px'>
    <mat-card-title class='push' style='margin-right: 0;padding-right: 0'>
      <div layout='row'>
        <div layout='column'>
          <label style='font-size: 23px'>Selecione as Unidades e os Tipos de Avaliações</label>
        </div>
        <div layout='column' layout-align='end end' style='margin-top: -5px'>
          <button (click)='consultarUnidades()' style="padding: 0; margin: 0"
                  mat-button>
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-title>
    <mat-card-content style='height: 400px; padding: 0; margin-bottom: 0'>

      <mat-accordion [multi]='true' style='height: 400px; width: 600px; position: fixed !important; overflow: auto'>
        <mat-expansion-panel [expanded]='unidade?.checked'
                             *ngFor='let unidade of unidades'
                             (afterExpand)='afterExpand(unidade)'
                             (afterCollapse)='afterCollapse(unidade)'
                             style='width: 100%; box-shadow: none; padding-left: 0'>
          <!--
          (opened)='changeAvaliavel(unidade)'
          (closed)='changeAvaliavel(unidade)'-->
          <mat-expansion-panel-header style='padding: 0 19px !important;'>
            <mat-panel-title flex layout='column'>
              <mat-checkbox [(ngModel)]='unidade.checked' style='padding: 12px'>
                {{unidade?.nome}}
                <!--<h2 flex class="mat-headline tc-blue-grey-800 no-margin">{{unidade?.nome}}</h2>-->
                <h3 style='margin-top: -8px' *ngIf='unidade?.endereco?.cidade?.nome'
                    flex class='mat-subheading-2 tc-blue-grey-500 no-margin text-truncate' [@fadeInOut]>
                  {{unidade?.endereco?.logradouro ? unidade?.endereco?.logradouro + ', ' : ''}}
                  {{unidade?.endereco?.numero ? unidade?.endereco?.numero + ', ' : ''}}
                  {{unidade?.endereco?.bairro ? unidade?.endereco?.bairro + ', ' : ''}}
                  {{unidade?.endereco?.cidade?.nome + ' - '}}{{unidade?.endereco?.cidade?.estado?.uf}}
                </h3>
              </mat-checkbox>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <section *ngIf='unidade?.unidadesTiposAvaliacoes?.length' layout='column' layout-align='start start'>
            <mat-checkbox [(ngModel)]='unidadeTipoAvaliacao.checked'
                          (ngModelChange)='changeUnidadeTipoAvaliacao(unidadeTipoAvaliacao)'
                          *ngFor="let unidadeTipoAvaliacao of unidade.unidadesTiposAvaliacoes | orderBy:'ordem'"
                          style='margin-left: 10px; padding: 5px; background-color: aliceblue'>
              {{unidadeTipoAvaliacao?.ordem ? unidadeTipoAvaliacao?.ordem + ' - ' : ''}}
              {{ unidadeTipoAvaliacao?.tipoAvaliacao?.nome + ': ' + unidadeTipoAvaliacao?.tipoAvaliacao?.enunciado }}
            </mat-checkbox>
          </section>

        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>

    <mat-card-actions>
      <div layout='row' layout-align='center center' flex>
        <div layout='column'
             layout-margin flex
             layout-align='center end'>
          <button mat-button
                  color='primary'
                  (click)='proximo(unidades)'
                  layout-align='center end'>
            Próximo
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
