<div layout="column" layout-align="center center">
  <mat-card style="width: 600px">
    <mat-card-title class="push">
      Sair do aplicativo
    </mat-card-title>
    <mat-card-content>

      <form #logoutForm="ngForm" (ngSubmit)='logout()' novalidate>
        <div layout="column" layout-margin class='push-left'>
      <span>
       Insira uma senha administrativa para sair do aplicativo.
      </span>

          <mat-form-field class="push-top">
            <input [(ngModel)]="password"
                   placeholder="Sua senha"
                   required name="password"
                   type="password" matInput/>
          </mat-form-field>


          <div layout-gt-xs='row' class="push-top">

            <span flex='70'></span>

            <button mat-raised-button
                    routerLink='../'
                    type='button'
                    flex>
              Cancelar
            </button>
            <button class="push-left" mat-raised-button
                    color='accent'
                    flex>
              Sair
            </button>

          </div>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>