<div [@fadeInOut] layout-align='center center' layout-gt-xs='row' layout-margin>
  <div layout='row' flex-gt-xs='80' layout-margin>
    <div flex layout-margin>

      <mat-card class='bgc-grey-50'>

        <mat-horizontal-stepper #stepper [class.mat-elevation-z2]='true' linear>

          <ng-template matStepperIcon='edit'>
            <mat-icon>done</mat-icon>
          </ng-template>

          <ng-template matStepperIcon='done'>
            <mat-icon>done_all</mat-icon>
          </ng-template>

          <mat-step>

            <ng-template matStepLabel>
              Plano
            </ng-template>

            <planos [form]='form' *ngIf='form' [(assinatura)]='assinatura'></planos>

          </mat-step>

          <mat-step [stepControl]='form'>

            <ng-template matStepLabel>
              Dados de Pagamento
            </ng-template>

            <dados-pagamento [form]='form' [assinatura]='assinatura' [publicKey]='publicKey'></dados-pagamento>

          </mat-step>

          <mat-step>

            <ng-template matStepLabel>
              Concluir
            </ng-template>
            <div layout='row' layout-align='center center'>
              <div class='visualizar-compra-container' flex>
                <div layout='column' layout-margin layout-align='center center'>
                  <img class='push-top' alt='Imagem grande check'
                       src='https://www.thefullclass.com/static/images/big-check.png'>
                  <h1 class='tc-light-green-800' style='font-size: 34px' flex>Parabéns</h1>
                  <span class='tc-light-green-800 text-center mat-title' style='line-height: 20px' flex>
                    Sua assinatura foi realizada com sucesso! :)
                  </span>
                  <span class='tc-light-green-800 text-center mat-subhead' flex
                        *ngIf="assinatura && assinatura.formaPagamento === 'BOLETO'">
                    Você receberá o boleto em seu e-mail
                  </span>
                  <span class='tc-grey-400 mat-subhead' style='line-height: 3em' flex>
                    INFORMAÇÕES DA ASSINATURA
                  </span>
                </div>
              </div>
            </div>

          </mat-step>

        </mat-horizontal-stepper>

      </mat-card>

    </div>
  </div>
</div>
