@media only screen and (max-width: 600px) {
  .selo-pagseguro {
    max-width: 100%;
  }
}

.pagamento-title {
  font-size: 18px;
  line-height: 2em;
}


.visualizar-compra-background {
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: -1;
}

.visualizar-compra-card {
  max-width: 800px;
  margin-top: 50px;
}

.visualizar-compra-container {
  max-width: 600px;
}

.area-conhecimento a {
  text-decoration: none;
  cursor: pointer;
}

.turma-preco-text {
  font-size: 27px;
  line-height: 50px;
}

.price-icon {
  font-size: 38px;
}

.matriculas-list {
  margin-top: 10px;
  border-left-style: solid;
  border-left-color: #00796b;
  background-color: white;
  border-radius: 2px;
}

.visualizar-compra-divider {
  margin: 20px -26px 20px -26px;
}