<div [@fadeInOut] layout-align='center center' layout-gt-xs='row' layout-margin>
  <div layout='row' flex-gt-xs='80' layout-margin>
    <div flex layout-margin>

      <mat-card class='bgc-grey-50'>
<!--        <div layout="row" layout-margin>-->
<!--          <mat-radio-group name="formaPagamento" [(ngModel)]="assinatura.formaPagamento" layout="row" flex-->
<!--                           [ngModelOptions]="{standalone: true}">-->
<!--            <mat-radio-button name="formaPagamento" color="primary" [value]="'BOLETO'" flex>-->
<!--              <span class="tc-grey-800">Boleto</span>-->
<!--            </mat-radio-button>-->
<!--            <mat-radio-button name="formaPagamento" color="primary" [value]="'CARTAO'" flex>-->
<!--              <span class="tc-grey-800">Cartão de crédito</span>-->
<!--            </mat-radio-button>-->
<!--          </mat-radio-group>-->
<!--          <div hide-xs flex></div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Cartão de crédito &ndash;&gt;-->
<!--        <cartao *ngIf="assinatura.formaPagamento === 'CARTAO'" [@fadeInOut]-->
<!--                [assinatura]='assinatura' [publicKey]='publicKey'></cartao>-->

        <mat-horizontal-stepper #stepper [class.mat-elevation-z2]='true' linear
                                *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">

          <ng-template matStepperIcon='edit'>
            <mat-icon>done</mat-icon>
          </ng-template>

          <ng-template matStepperIcon='done'>
            <mat-icon>done_all</mat-icon>
          </ng-template>

          <mat-step >
            <form [formGroup]="form" novalidate>
              <ng-template matStepLabel>Plano</ng-template>
              <!--              <mat-form-field>-->
              <!--                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
              <!--              </mat-form-field>-->
              <div>
                <button mat-button type='button' matStepperNext>Próximo</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]='form'>

            <ng-template matStepLabel>
              Dados de Pagamento
            </ng-template>

            <dados-pagamento [form]='form' [publicKey]='publicKey'></dados-pagamento>

          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Concluir</ng-template>
            You are now done.
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button type='button' matStepperNext>Concluir</button>
            </div>
          </mat-step>

        </mat-horizontal-stepper>

      </mat-card>

    </div>
  </div>
</div>
