<div [@fadeInOut] layout-align='center center' layout-gt-xs='row' layout-margin *ngIf='done'>
  <div layout='row' flex-gt-xs='80' layout-margin>
    <div flex layout-margin>

      <mat-card class='bgc-grey-50'>
        <form [formGroup]='form' (ngSubmit)='save(form)' novalidate>
          <mat-card-content>

            <!-- Cartão de crédito -->
            <div>
              <div layout="row" layout-margin>
                <b class="tc-grey-800 pagamento-title" flex>Informações do cartão</b>
              </div>

              <div layout-gt-xs="row" layout-align="start center" layout-margin>
                <mat-form-field flex>
                  <input matInput name="numeroCartao" [textMask]="{mask: masks.cardNumber, guide: false}"
                         [(ngModel)]="numeroCartao"
                         placeholder="Número do cartão" required>
                  <md-hint>
                  <span *ngIf="isInvalidBin" class="tc-red-600">
                    Número do cartão inválido!
                  </span>
                  </md-hint>
                </mat-form-field>
                <div flex>
                  <img *ngIf="imagemBandeiraCartao" [src]="imagemBandeiraCartao" alt="logo cartao">
                </div>
              </div>

              <div layout-gt-xs="row" layout-margin>
                <mat-form-field flex>
                  <input matInput name="mesValidade" placeholder="Mês de validade"
                         [(ngModel)]="mesValidade"
                         [textMask]="{mask: masks.month, guide: false}"
                         required>
                </mat-form-field>
                <mat-form-field flex>
                  <input matInput name="anoValidade" placeholder="Ano de validade"
                         [(ngModel)]="anoValidade"
                         [textMask]="{mask: masks.year, guide: false}"
                         required>
                </mat-form-field>
                <mat-form-field flex>
                  <input matInput name="codigoSeguranca" [(ngModel)]="codigoSeguranca" maxLength="10"
                         placeholder="Código de segurança" required>
                </mat-form-field>
              </div>

              <div layout="row" layout-margin>
                <b class="tc-grey-800 pagamento-title" flex>Dados do titular do cartão</b>
              </div>

              <div layout="row">
                <div>
                  <div layout-gt-xs="row" layout-margin>
                    <mat-form-field flex>
                      <input name="nomeTitularCartao" [(ngModel)]="nomeTitularCartao" maxlength="80"
                             placeholder="Nome (impresso no cartão)" somenteLetras matInput required>
                    </mat-form-field>
                  </div>
                  <div layout-gt-xs="row" layout-margin>
                    <mat-form-field flex="35" *ngIf="isEmpresa">
                      <input matInput name="documentoTitularCartao" [textMask]="{mask: masks.cnpj, guide: false}"
                             [(ngModel)]="compra.pagamento.documentoTitularCartao" matInput
                             placeholder="CNPJ" required>
                    </mat-form-field>

                    <mat-form-field flex="35" *ngIf="!isEmpresa">
                      <input matInput name="documentoTitularCartao" [textMask]="{mask: masks.cpf, guide: false}"
                             [(ngModel)]="documentoTitularCartao" matInput
                             placeholder="CPF" required>
                    </mat-form-field>

                    <mat-form-field flex>
                      <input [textMask]="{mask: masks.date, guide: false}" name="dataNascimentoTitularCartao"
                             [(ngModel)]="dataNascimentoTitularCartao"
                             matInput placeholder="Data de nascimento" required>
                    </mat-form-field>

                    <mat-checkbox class="push-left" style='margin-top: 26px'
                                  [ngModelOptions]="{standalone: true}" flex
                                  [(ngModel)]="isEmpresa" name="is-empresa">Sou empresa
                    </mat-checkbox>
                  </div>
                </div>
                <div hide-xs flex></div>
              </div>
            </div>


            <!--actions div-->
            <div flex layout-margin actions>
              <div layout-gt-xs='row' flex layout-margin>

                <span flex='70'></span>

                <button flex color='accent' mat-raised-button>
                  Salvar
                </button>
              </div>
            </div>

          </mat-card-content>
        </form>
      </mat-card>

    </div>
  </div>
</div>
