<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>Oops!</h1>
      <h2>Alguma coisa deu errado!"</h2>
    </div>
    <a flex (click)='tryAgain()'>
      Tentar novamente
    </a>
    <a flex (click)='logout()'>
      Sair da aplicação
    </a>
    <div layout='row'>
      <span>Se o problema persistir entre em contato conosco: contato@meavalia.com.br</span>
    </div>
  </div>
</div>

<!--<div layout-align='center center' layout='column'>-->
<!--  <div layout='column' layout-align='center center'>-->
<!--    <mat-card>-->
<!--      <mat-card-title class='push'>-->
<!--        Ops, aconteceu alguma coisa!-->
<!--      </mat-card-title>-->
<!--      <mat-card-subtitle class='push'>-->
<!--        Parece que houve um problema ao buscar o usuário logado ou a conexão da internet não está ok!-->
<!--      </mat-card-subtitle>-->

<!--      <mat-card-content>-->
<!--        <div>-->
<!--        <button class='push-left'-->
<!--                mat-raised-button-->
<!--                flex color='accent'-->
<!--                (click)='tryAgain()'>-->
<!--          Tentar novamente-->
<!--        </button>-->
<!--        <span flex class='push-left'>ou</span>-->
<!--        <button mat-raised-button-->
<!--                class='push-left' flex-->
<!--                (click)='logout()'>-->
<!--          Sair da aplicação-->
<!--        </button>-->
<!--        </div>-->
<!--        <div layout="row">-->
<!--          <span class='push' >Se o problema persistir entre em contato conosco: contato@meavalia.com.br</span>-->
<!--        </div>-->
<!--      </mat-card-content>-->

<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->
