<div layout-gt-xs='row'>
  <div flex-gt-xs='100'>
    <div layout='row' layout-align='center start'>
      <div layout='column' flex='90'>

        <div class='tc-grey-500 size-height-50' layout='row' layout-align='start center'>
          <div flex></div>
          <span> {{loading ? 'Carregando estatísticas' : avaliacoes1+avaliacoes2+avaliacoes3+avaliacoes4+avaliacoes5}} avaliações </span>
        </div>

        <mat-card class='push-none bgc-grey-50' *ngIf="loading || avaliacoes?.length">
          <div style='height:500px;'>
            <ngx-charts-bar-vertical-2d
                [scheme]='colorScheme'
                [results]='multi'
                [gradient]='false'
                [xAxis]='true'
                [yAxis]='true'
                [legend]='showLegend'
                [showXAxisLabel]='false'
                [showYAxisLabel]='false'
                [yAxisLabel]='yAxisLabel'
                [yAxisTickFormatting]='axisDigits'
                [barPadding]='2'
                [groupPadding]='8'>
            </ngx-charts-bar-vertical-2d>
          </div>
        </mat-card>

        <div *ngIf="!loading && !avaliacoes?.length">
          Sem estatísticas por aqui =(
        </div>


      </div>
    </div>
  </div>
</div>