<div layout-align="center center" layout-gt-xs="row" layout-margin>
  <div layout="row" flex-gt-xs="80" layout-margin>
    <div flex layout-margin>

      <mat-card class="bgc-grey-50" layout-margin>
        <mat-card-content style="margin-left: 35px">

          <div layout='row'>

            <div layout-gt-xs="row" layout-align="start center" flex>

              <div flex
                   layout="row"
                   layout-margin
                   layout-align="center center">
                <button *ngIf='rankeavel?.posicao'
                        style='height: 45px;
                                border-radius: 50%;
                                min-width: fit-content;
                                margin-top: 145px;
                                margin-left: 8px;
                                margin-right: -56px;
                                max-width: 10px;
                                z-index: 1;'
                        mat-raised-button
                        color="accent" flex>
                  <b>{{rankeavel?.posicao}}º</b>
                </button>

                <div class='push-top push-right push-bottom' *ngIf='hasFile'>
                  <avatar [usuario]="{'key': rankeavel?.key , 'foto': rankeavel?.urlFile}"></avatar>
                </div>
              </div>

              <!--div foto e informações-->
              <div flex
                   layout="row"
                   layout-margin
                   layout-align="start center">
                <div layout="column">
                  <h1 flex *ngIf="rankeavel?.media" class="mat-headline no-margin">
                    Média: <span class="tc-purple-500"> {{rankeavel?.media| number:'.1-3' : 'en-US'}}</span>
                  </h1>
                  <h1 flex class="mat-headline tc-blue-grey-800 no-margin">{{rankeavel?.nome}}</h1>
                  <h1 flex class="mat-headline tc-blue-grey-800 no-margin" *ngIf='rankeavel?.cnpj'>CNPJ:
                    {{rankeavel?.cnpj | documento}}</h1>
                  <h2 flex class="mat-subheading-2 tc-blue-grey-500 no-margin">{{rankeavel?.email}}</h2>
                </div>
              </div>
            </div>

            <span flex></span>

            <!--div opções-->
            <div layout="row" flex="40">
              <div flex
                   layout="row"
                   layout-margin
                   layout-align="end start">
                <button mat-button class='tc-blue-grey-900' routerLink='estatisticas/{{rankeavel?.key}}'>
                  <mat-icon>show_chart</mat-icon>
                  <span hide-sm hide-xs>Estatísticas</span>
                </button>
              </div>
            </div>

          </div>

        </mat-card-content>
      </mat-card>

      <ng-content></ng-content>

    </div>
  </div>
</div>