<div [formGroup]='form.controls.password' layout='column'>
  <div layout="row" layout-margin>
    <mat-form-field flex>
      <input matInput name="password" id="password"
             [(ngModel)]="atendente.password" minlength="6"
             type="password" formControlName="password"
             placeholder="Senha do usuário" required>
      <mat-error *ngIf="form.controls.password.controls['password'].hasError('required')">
        Este campo é obrigatório
      </mat-error>
      <mat-hint *ngIf="!atendente?.password && !form.controls.password.controls['password'].dirty">
        A senha deve conter no mínimo 6 caracteres
      </mat-hint>
      <mat-error *ngIf="form.controls.password.controls['password'].hasError('exception')">
        {{form.controls.password?.controls['password']?.errors.exception}}
      </mat-error>
    </mat-form-field>

    <mat-form-field flex>
      <input matInput name="confirmacaoPassword" id="confirmacaoPassword"
             [(ngModel)]="atendente.confirmacaoPassword"
             type="password" formControlName="confirmacaoPassword"
             matTooltip="Confirmação de senha do usuário"
             placeholder="Confirmação de senha do usuário" required>
      <mat-error *ngIf="form.controls.password.controls['confirmacaoPassword'].hasError('required')">
        Este campo é obrigatório
      </mat-error>
      <mat-error *ngIf="form.controls.password.controls['confirmacaoPassword'].hasError('exception')">
        {{form.controls.password?.controls['confirmacaoPassword']?.errors.exception}}
      </mat-error>
    </mat-form-field>
  </div>
</div>
