.login {
  height: 100%;
  background-size: cover;
  background-color: #0c3e6f;
  .logo {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 28px;
    content: url('https://firebasestorage.googleapis.com/v0/b/cinecataratas-online.appspot.com/o/bm-1.png?alt=media&token=98ad9ad0-18c7-4d8f-b284-1cfa27bdc88f');
  }
}
