<mat-nav-list *ngIf='done' [@fadeInOut]>
  <div *ngFor="let unidadeTipoAvaliacao of unidadesTiposAvaliacoes | filter:filter"
       [ngStyle]="{'background-color': unidadeTipoAvaliacao?.ativo ? 'aliceblue' : '#fafafa' }"
       (click)='unidadeTipoAvaliacao.ativo = !unidadeTipoAvaliacao.ativo; saveUnidadeTipoAvaliacao(unidadeTipoAvaliacao)'>
    <mat-list-item layout='row' layout-margin>

      <h3 matLine>{{unidadeTipoAvaliacao?.tipoAvaliacao?.nome}} </h3>
      <p matLine>{{unidadeTipoAvaliacao?.tipoAvaliacao?.enunciado}}</p>

      <mat-slide-toggle style='opacity: 1 !important;'
                        [(ngModel)]='unidadeTipoAvaliacao.ativo' [disabled]='true'
                        (ngModelChange)='saveUnidadeTipoAvaliacao(unidadeTipoAvaliacao)'>
        <!--{{unidadeTipoAvaliacao?.ativo ? 'Vincular' : 'Desvincular'}}-->
      </mat-slide-toggle>

    </mat-list-item>
  </div>
</mat-nav-list>