<!--<div cdkDropList class="example-list"-->
<!--(cdkDropListDropped)="drop($event)">-->
<!--<div class="example-box" cdkDrag-->
<!--*ngFor="let unidadeTipoAvaliacao of unidadesTiposAvaliacoes | filter:filter; let i = index">-->
<!--<div>-->
<!--{{unidadeTipoAvaliacao?.tipoAvaliacao?.nome + ' - ' + unidadeTipoAvaliacao?.tipoAvaliacao?.enunciado}}-->
<!--</div>-->
<!--<div>{{'Ordem: ' + (i + 1)}}</div>-->
<!--</div>-->
<!--</div>-->

<mat-nav-list *ngIf='done'  [@fadeInOut]>
  <div *ngFor="let unidadeTipoAvaliacao of unidadesTiposAvaliacoes | filter:filter"
       [ngStyle]="{'background-color': unidadeTipoAvaliacao?.ativo ? 'aliceblue' : '#fafafa' }"
       (click)='unidadeTipoAvaliacao.ativo = !unidadeTipoAvaliacao.ativo; saveUnidadeTipoAvaliacao(unidadeTipoAvaliacao)'>
    <mat-list-item layout='row' layout-margin>
      <h3 matLine>{{unidadeTipoAvaliacao?.tipoAvaliacao?.nome}} </h3>
      <p matLine>{{unidadeTipoAvaliacao?.tipoAvaliacao?.enunciado}}</p>
      <mat-slide-toggle [(ngModel)]='unidadeTipoAvaliacao.ativo'>
        <!--{{unidadeTipoAvaliacao?.ativo ? 'Vincular' : 'Desvincular'}}-->
      </mat-slide-toggle>
    </mat-list-item>
  </div>
</mat-nav-list>