<div layout='column' layout-align='center center'
     *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
  <mat-card style='width: 600px'>
    <!--    <mat-card-title class='push' *ngIf='unidades?.length'>-->
    <!--      <div layout='column' layout-align='center center'>-->
    <!--&lt;!&ndash;        {{unidadeTipoAvaliacao?.tipoAvaliacao?.selecao}}&ndash;&gt;-->
    <!--      </div>-->
    <!--    </mat-card-title>-->
    <mat-card-content class='no-margin' style='margin-bottom: 6px;margin-right: 7px' *ngIf='unidades?.length'>

      <mat-grid-list rowHeight='100px' *ngIf='unidades?.length'
                     cols='{{unidades.length > 6 ? 4 : (unidades.length === 2 ? 2 : 3)}}'>
        <mat-grid-tile style='border: 3px solid aliceblue; border-radius: 5px;'
                       (click)='unidade.selected = !unidade.selected; proximo(unidade);'
                       [ngStyle]="{'background-color': (unidade.selected ? 'lightblue' : '')}"
                       *ngFor="let unidade of unidades | orderBy: 'nome'" mat-ripple [colspan]='1' [rowspan]='2'>
          <div layout='column' layout-align='center center'>
            <div style='text-align: center; text-align: -webkit-center; padding: 10px; font-size: x-large'
                 [ngClass]="{'broken-line': configuracao?.quebrarLinhaNaSelecaoDeItenAvaliavel === true, 'text-truncate': configuracao?.quebrarLinhaNaSelecaoDeItenAvaliavel === false}">
              {{unidade?.nome}}
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card-content>
  </mat-card>
</div>
