<mat-checkbox matTooltip='O tablet não sai do aplicativo' flex='20' [@fadeInOut] *ngIf='dispositivo'
              (change)="dispositivo.modoQuiosque ? dispositivo.modoInsonia = true : ''"
              [(ngModel)]='dispositivo.modoQuiosque' [ngModelOptions]='{standalone: true}'>
  Modo Quiosque
</mat-checkbox>

<mat-checkbox matTooltip='Enquanto estiver no aplicativo, a tela não adormece' flex='10' flex-sm='30'
              (change)="!dispositivo.modoInsonia ? dispositivo.modoQuiosque = false : ''" [@fadeInOut] *ngIf='dispositivo'
              [(ngModel)]='dispositivo.modoInsonia' [ngModelOptions]='{standalone: true}'>
  Modo Insônia
</mat-checkbox>
