<div layout-align="center center" layout="column">
  <div layout="column" layout-align="center center">
    <mat-card>
      <mat-card-title class="push">
        A internet não está funcionando, verifique sua conexão.
      </mat-card-title>
      <mat-card-content>
        <button class='push-left'
                mat-raised-button
                flex color='accent'
                (click)='clickHandler()'>
          Tentar novamente
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>