<div layout-align="center center" layout-gt-xs="row" layout-margin>
  <div layout="row" flex-gt-xs="80" layout-margin>
    <div flex layout-margin>
      <mat-card class="bgc-grey-50" layout-margin>
        <mat-card-content style="margin-left: 35px">

            <visualizar-dados-usuario [usuario]='usuario' *ngIf='usuario?.key'>

              <!--options-->
              <div layout="column" layout-align="start end" flex *ngIf="usuario">
                <div layout="row">
                  <button mat-button hide-sm hide-xs class='tc-blue-grey-900' routerLink='minhas-estatisticas'>
                    <mat-icon>show_chart</mat-icon>
                    <span>Minhas estatísticas</span>
                  </button>

                  <button mat-icon-button routerLink="alterar" class="tc-blue-grey-900">
                    <mat-icon>mode_edit</mat-icon>
                  </button>
                  <button mat-icon-button [matMenuTriggerFor]="menu" class="tc-blue-grey-900">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item color="primary" (click)="alterarMinhaSenha()">
                      <mat-icon>vpn_key</mat-icon>
                      <span>Alterar minha senha</span>
                    </button>
                  </mat-menu>
                </div>
              </div>

            </visualizar-dados-usuario>

        </mat-card-content>
      </mat-card>

      <mat-accordion>
        <mat-expansion-panel class='bgc-grey-50' [expanded]='true'>
          <visualizar-vinculo-unidade [usuario]='usuario' *ngIf='usuario?.key'></visualizar-vinculo-unidade>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>
</div>

