<mat-nav-list class="pad-none">
  <mat-list class="pad-none">
    <mat-list-item class="push-top push-bottom minha-conta"
                   routerLink="/dashboard/minha-conta" style="height: 53px"
                   #rla="routerLinkActive" routerLinkActive
                   [ngClass]="{'menu-active': rla.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>person</mat-icon>
        <h3 matLine style="color: white" flex="85"> Minha conta </h3>
      </div>
    </mat-list-item>
    <mat-divider class="bgc-blue-grey-300"></mat-divider>

    <mat-list-item disableRipple>
      <div layout="row" class="push-top push-bottom pad-left" flex>
        <span flex="10"></span>
        <span class="mat-caption tc-blue-grey-100"> ADMINISTRATIVO </span>
      </div>
    </mat-list-item>

    <mat-list-item class="push-bottom" routerLink="/dashboard/atendentes"
                   routerLinkActive #rlaUsuarios="routerLinkActive"
                   [ngClass]="{'menu-active': rlaUsuarios.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>supervisor_account</mat-icon>
        <h3 matLine style="color: white" flex="85"> {{authenticatedUser?.isAdministrador ? 'Atendentes' : 'Meus atendentes'}} </h3>
      </div>
    </mat-list-item>

    <mat-list-item *ngIf="authenticatedUser?.isAdministrador" class="push-bottom" routerLink="/dashboard/unidades"
                   routerLinkActive #rlaFornecedores="routerLinkActive"
                   [ngClass]="{'menu-active': rlaFornecedores.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>shopping_cart</mat-icon>
        <h3 matLine style="color: white" flex="85"> Unidades </h3>
      </div>
    </mat-list-item>

    <mat-list-item *ngIf="authenticatedUser?.isAdministrador" class="push-bottom" routerLink="/dashboard/ranking"
                   routerLinkActive #rlaRanking="routerLinkActive"
                   [ngClass]="{'menu-active': rlaRanking.isActive}">
      <div layout="row" flex class="pad-left">
        <span flex="10"></span>
        <mat-icon matListAvatar flex>assessment</mat-icon>
        <h3 matLine style="color: white" flex="85"> Ranking </h3>
      </div>
      ,
    </mat-list-item>

  </mat-list>
</mat-nav-list>
