.login {
  height: 100%;
  background-size: cover;
  background-color: #0c3e6f;
  .logo {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 28px;
    content: url('https://firebasestorage.googleapis.com/v0/b/sodupe-online.appspot.com/o/bm-1.png?alt=media&token=2e6dd070-ad55-4d38-9d56-2a5121fa3714');
  }
}
