.login {
  height: 100%;
  background-size: cover;
  background-image: url('../../../../assets/images/authentication-background.jpg');
  .logo {
    content: url('https://firebasestorage.googleapis.com/v0/b/cinecataratas-online.appspot.com/o/bm-1.png?alt=media&token=98ad9ad0-18c7-4d8f-b284-1cfa27bdc88f');
    height: 100px;
  }
}
