.login {
  height: 100%;
  background-size: cover;
  background-color: #0c3e6f;
  .logo {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 28px;
    content: url('https://firebasestorage.googleapis.com/v0/b/sodupe-online.appspot.com/o/bm-1.png?alt=media&token=4519abb0-5ea1-49d7-9b3c-5bf91b8204cf');
  }
}
