<div [formGroup]='form.controls.password' layout='column'>
  <div layout="row" layout-margin>
    <mat-form-field flex>
      <input (keyup)="form.controls['password'].get('confirmacaoPassword')?.updateValueAndValidity()"
             [(ngModel)]="conta.password"
             formControlName="password" id="password" matInput
             name="password" placeholder="Senha da conta"
             type="password">
      <mat-error *ngIf="form.controls.password.controls['password'].hasError('exception')">
        {{form.controls.password?.controls['password']?.errors.exception}}
      </mat-error>
    </mat-form-field>

    <mat-form-field flex>
      <input [(ngModel)]="confirmacaoPassword"
             formControlName="confirmacaoPassword"
             id="confirmacaoPassword"
             matInput matTooltip="Confirmação de senha da conta"
             name="confirmacaoPassword" placeholder="Confirmação de senha da conta" type="password">
      <mat-error *ngIf="form.controls.password.controls['confirmacaoPassword'].hasError('exception')">
        {{form.controls.password?.controls['confirmacaoPassword']?.errors.exception}}
      </mat-error>
    </mat-form-field>
  </div>
</div>
