<search-bar>
  <div layout='column' style='min-width: 17px' class='push-right'>
    <button class='mat-headline tc-grey-500' type='button'
            routerLink='../' color='primary' mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div layout='row'
       class='tc-grey-600 push-left'>
    {{ rankeavel?.nome }}
  </div>

  <div layout='row' layout-margin style='margin-left: 41px; margin-top: -6px'>
    <ev-datepicker layout='row'
                   [(dataInput)]='dataInicio'
                   style='margin-bottom: -14px; padding-top: 0; margin-left: -8px' flex>
      <mat-form-field style='width: 210px;'>
        <input [(ngModel)]='dataInicio'
               placeholder='Data da avaliação - Início'
               matInput name='dataInicio' id='dataInicio'
               [textMask]='{mask: masks.date, guide: false}'>
      </mat-form-field>
    </ev-datepicker>

    <ev-datepicker layout='row'
                   [(dataInput)]='dataFim'
                   style='margin-bottom: -14px;padding-top: 0' flex>
      <mat-form-field style='width: 210px;'>
        <input [(ngModel)]='dataFim'
               placeholder='Data da avaliação - Fim'
               matInput name='dataFim' id='dataFim'
               [textMask]='{mask: masks.date, guide: false}'>
      </mat-form-field>
    </ev-datepicker>
  </div>

  <div flex-gt-md></div>

  <button mat-raised-button class='push-right'
          (click)='dataInicio = null; dataFim = null; listEstatisticasByDates(dataInicio, dataFim)'>
    Limpar filtros
  </button>

  <button color='accent' mat-raised-button
          (click)='listEstatisticasByDates(dataInicio, dataFim)'>
    Pesquisar
  </button>
</search-bar>

<div layout-gt-xs='row'>
  <div flex-gt-xs='100'>
    <div layout='row' layout-align='center start'>
      <div layout='column' flex='90'>

        <div class='tc-grey-500 size-height-50' layout='row' layout-align='start center'>
          <div flex></div>
          <span>{{avaliacoes1+avaliacoes2+avaliacoes3+avaliacoes4+avaliacoes5}} avaliações</span>
        </div>

        <mat-card class='push-none bgc-grey-50' *ngIf="loading || avaliacoes?.length">
          <div style='height:500px;'>
            <ngx-charts-bar-vertical-2d
                [scheme]='colorScheme'
                [results]='multi'
                [gradient]='false'
                [xAxis]='true'
                [yAxis]='true'
                [legend]='showLegend'
                [showXAxisLabel]='false'
                [showYAxisLabel]='false'
                [yAxisLabel]='yAxisLabel'
                [yAxisTickFormatting]='axisDigits'
                [barPadding]='2'
                [groupPadding]='8'>
            </ngx-charts-bar-vertical-2d>
          </div>
        </mat-card>

      </div>
    </div>
  </div>
</div>