<estatisticas [rankeavel]='atendente'
              [avaliacoes]='avaliacoes'
              *ngIf='avaliacoes?.length'></estatisticas>

<div *ngIf='!avaliacoes?.length' layout-gt-xs='row' class="push-top">
  <div flex-gt-xs='100' class="push-top">
    <div layout='row' layout-align='center center' class="push-top">
      <div layout='column' flex class="push-top">
        <div class='tc-grey-500 size-height-50' layout='row' layout-align='center center'>
          <span> {{loaded ? 'Ops, sem estatísticas por aqui =(' : 'Carregando estatísticas ...' }} </span>
        </div>
      </div>
    </div>
  </div>
</div>
