<search-bar>

  <td-chips style='margin-left:0; margin-top: 9px;'
            [(ngModel)]='pageRequest.defaultFilter'
            placeholder='Pesquisar pelo nome ou enunciado'
            (add)='onChangeFilters()' (remove)='onChangeFilters()'
            flex-sm='30' flex-md="40" flex-gt-md="45" flex-gt-lg="50">
  </td-chips>


  <td-chips requireMatch
            [items]="filteredAsync"
            [(ngModel)]='asyncModel'
            (inputChange)="filterAsync($event)"
            placeholder="Pesquisar por unidades"
            [debounce]="500" flex="50" style="margin-top: 0px;"
            (add)="onChangeFilters()" (remove)="onChangeFilters()">
    <ng-template td-chip let-chip="chip">
      {{chip?.nome}} ({{chip?.endereco?.cidade?.nome }} - {{chip?.endereco?.cidade?.estado?.uf}})
    </ng-template>
    <ng-template td-autocomplete-option let-option="option">
      <div layout="row" layout-align="start center">
        {{option?.nome}} ({{option?.endereco?.cidade?.nome }} - {{option?.endereco?.cidade?.estado?.uf}})
      </div>
    </ng-template>
  </td-chips>

  <div flex-gt-md></div>

  <add-button routerLink="inserir"
              [matTooltipPosition]="'below'"
              matTooltip="Inserir novo atendente">
  </add-button>

</search-bar>

<!--Listagem-->
<div layout='row'
     layout-align='center start'>
  <div layout='column' flex='90'>

    <div class='tc-grey-500 size-height-50'
         layout='row' layout-align='start center'>
      <span> Resultado da pesquisa </span>
      <div flex></div>
      <span> {{ page?.totalElements}} resultados </span>
    </div>

    <div class='mat-elevation-z4'>

      <mat-table matSortDisableClear
                 matSortActive='data'
                 matSortDirection='asc'
                 [dataSource]='dataSource'
                 #table matSort class='bgc-grey-50'>

        <ng-container matColumnDef='nome'>
          <mat-header-cell layout-align="start center"
                           *matHeaderCellDef mat-sort-header
                           flex-xl='20' flex-gt-md='20' flex-md='20' flex-sm='20'>
            <div layout-margin layout='column'>
              Nome
            </div>
          </mat-header-cell>
          <mat-cell layout-align="start center"
                    *matCellDef='let tipoAvaliacao'
                    flex-xl='20' flex-gt-md='20' flex-md='20' flex-sm='20'>
            <div layout-margin layout='column'>
              {{tipoAvaliacao?.nome}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='enunciado'>
          <mat-header-cell layout-align="start center"
                           *matHeaderCellDef mat-sort-header
                           flex-xl='30' flex-gt-md='30' flex-md='30' flex-sm='30'>
            <div layout-margin layout='column'>
              Enunciado
            </div>
          </mat-header-cell>
          <mat-cell layout-align="start center"
                    *matCellDef='let tipoAvaliacao'
                    flex-xl='30' flex-gt-md='30' flex-md='30' flex-sm='30'>
            <div layout-margin layout='column'>
              {{tipoAvaliacao?.enunciado}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='um'>
          <mat-header-cell layout-align='center center'
                           *matHeaderCellDef mat-sort-header>
            <div layout='column' layout-align='center center'>
              <mat-icon style='fill: #c21c1f' svgIcon='assets:pessimo'></mat-icon>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let tipoAvaliacao'
                    layout-align='center center'>
            <div layout='column'
                 class='push-right'
                 layout-align='center center'>
              {{tipoAvaliacao?.um}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='dois'>
          <mat-header-cell layout-align='center center'
                           *matHeaderCellDef mat-sort-header>
            <div layout='column' layout-align='center center'>
              <mat-icon style='fill: #e96d01' svgIcon='assets:ruim'></mat-icon>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let tipoAvaliacao'
                    layout-align='center center'>
            <div layout='column'
                 class='push-right'
                 layout-align='center center'>
              {{tipoAvaliacao?.dois}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='tres'>
          <mat-header-cell layout-align='center center'
                           *matHeaderCellDef mat-sort-header>
            <div layout='column' layout-align='center center'>
              <mat-icon style='fill: #d4c40d' svgIcon='assets:regular'></mat-icon>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let tipoAvaliacao'
                    layout-align='center center'>
            <div layout='column'
                 class='push-right'
                 layout-align='center center'>
              {{tipoAvaliacao?.tres}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='quatro'>
          <mat-header-cell layout-align='center center'
                           *matHeaderCellDef mat-sort-header>
            <div layout='column' layout-align='center center'>
              <mat-icon style='fill: #8fc82c' svgIcon='assets:bom'></mat-icon>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let tipoAvaliacao'
                    layout-align='center center'>
            <div layout='column'
                 class='push-right'
                 layout-align='center center'>
              {{tipoAvaliacao?.quantro}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='cinco'>
          <mat-header-cell layout-align='center center'
                           *matHeaderCellDef mat-sort-header>
            <div layout='column' layout-align='center center'>
              <mat-icon style="fill: #5ee924" svgIcon="assets:otimo"></mat-icon>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let tipoAvaliacao'
                    layout-align='center center'>
            <div layout='column'
                 class='push-right'
                 layout-align='center center'>
              {{tipoAvaliacao?.cinco}}
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns">
        </mat-header-row>

        <mat-row *matRowDef="let tipoAvaliacao; columns: displayedColumns"
                 routerLink="{{tipoAvaliacao.id}}" style="cursor: pointer">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 20, 50, 100]"
                     [length]="page.totalElements" style="border-radius: 2px"
                     (page)="listAvaliacoesByFilters(pageRequest)" class="bgc-grey-50">
      </mat-paginator>
    </div>
  </div>
</div>