<search-bar>

  <td-chips style='margin-left:0; margin-top: 9px;'
            [(ngModel)]='pageRequest.defaultFilter'
            placeholder='Pesquisar pelo nome ou enunciado'
            (add)='onChangeFilters()' (remove)='onChangeFilters()'
            flex-sm='90' flex-md="90" flex-gt-md="90" flex-gt-lg="90">
  </td-chips>

  <div flex-gt-md></div>

  <add-button routerLink="inserir"
              [matTooltipPosition]="'below'"
              matTooltip="Inserir novo atendente">
  </add-button>

</search-bar>

<!--Listagem-->
<div layout='row'
     layout-align='center start'>
  <div layout='column' flex='90'>

    <div class='tc-grey-500 size-height-50'
         layout='row' layout-align='start center'>
      <span> Resultado da pesquisa </span>
      <div flex></div>
      <span> {{ page?.totalElements}} resultados </span>
    </div>

    <div class='mat-elevation-z4'>

      <mat-table matSortDisableClear
                 matSortActive='data'
                 matSortDirection='asc'
                 [dataSource]='dataSource'
                 #table matSort class='bgc-grey-50'>

        <ng-container matColumnDef='nome'>
          <mat-header-cell layout-align="start center"
                           *matHeaderCellDef mat-sort-header
                           flex-xl='30' flex-gt-md='30' flex-md='20' flex-sm='30'>
            <div layout-margin layout='column'>
              Nome
            </div>
          </mat-header-cell>
          <mat-cell layout-align="start center"
                    *matCellDef='let tipoAvaliacao'
                    flex-xl='30' flex-gt-md='30' flex-md='30' flex-sm='30'>
            <div layout-margin layout='column'>
              {{tipoAvaliacao?.nome}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='enunciado'>
          <mat-header-cell layout-align="start center"
                           *matHeaderCellDef mat-sort-header
                           flex-xl='70' flex-gt-md='70' flex-md='70' flex-sm='70'>
            <div layout-margin layout='column'>
              Enunciado
            </div>
          </mat-header-cell>
          <mat-cell layout-align="start center"
                    *matCellDef='let tipoAvaliacao'
                    flex-xl='70' flex-gt-md='70' flex-md='70' flex-sm='70'>
            <div layout-margin layout='column'>
              {{tipoAvaliacao?.enunciado}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='selecao'>
          <mat-header-cell layout-align="start center"
                           *matHeaderCellDef mat-sort-header
                           flex-xl='70' flex-gt-md='70' flex-md='70' flex-sm='70'>
            <div layout-margin layout='column'>
              Frase de seleção
            </div>
          </mat-header-cell>
          <mat-cell layout-align="start center"
                    *matCellDef='let tipoAvaliacao'
                    flex-xl='70' flex-gt-md='70' flex-md='70' flex-sm='70'>
            <div layout-margin layout='column'>
              {{tipoAvaliacao?.selecao}}
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns">
        </mat-header-row>

        <mat-row *matRowDef="let tipoAvaliacao; columns: displayedColumns"
                 routerLink="{{tipoAvaliacao.id}}" style="cursor: pointer">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 20, 50, 100]"
                     [length]="page.totalElements" style="border-radius: 2px"
                     (page)="listAvaliacoesByFilters(pageRequest)" class="bgc-grey-50">
      </mat-paginator>
    </div>
  </div>
</div>