<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.ubest" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>UBest</name>
    <description>
        Sistema de Monitoramento de Avaliações
    </description>
    <author email="emanuel.info@gmail.com" href="https://www.ubest.com.br">
        Emanuel Victor
    </author>
    <content src="index.html" />
    <access origin="*" subdomains="true" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="16" />
        <preference name="android-targetSdkVersion" value="22" />
        <icon density="mdpi" src="www/assets/images/res/drawable-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="www/assets/images/res/drawable-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="www/assets/images/res/drawable-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="www/assets/images/res/drawable-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="www/assets/images/res/drawable-xxxhdpi/ic_launcher.png" />
        <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
        <preference name="fullscreen" value="true" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="android-windowSoftInputMode" value="stateHidden" />
    <preference name="loadUrlTimeoutValue" value="60000" />
    <preference name="CRIInjectFirstFiles" value="www/assets/scripts/init.js" />
    <plugin name="cordova-plugin-remote-injection" spec="^0.5.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-insomnia" spec="https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git" />
    <plugin name="cordova-plugin-cookieemperor" spec="https://github.com/rtk/cordova-cookie-emperor.git" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-x-toast" spec="^2.7.2" />
    <feature name="Toast">
        <param name="android-package" value="nl.xservices.plugins.Toast" />
    </feature>
    <plugin name="cordova-plugin-ionic-keyboard" spec="2.1.3" />
    <engine name="android" spec="^6.4.0" />
</widget>
