<nav [ngClass]="{'scrolled': printMenu, 'not-scrolled': !printMenu}"
     style="position: fixed; /*background-color: transparent; */">
  <div class="nav-wrapper container">
    <a routerLink="/" class="brand-logo">
      <img src="https://firebasestorage.googleapis.com/v0/b/ad-redencao.appspot.com/o/images%2Fredencao.png?alt=media&token=3f238398-ca04-4899-81d3-9f21689c4139" style="margin-top: 5px;width: 141px;height: 50px;margin-left: -16px">
    </a>

    <!--<a *ngIf="wedding" href="#" class="page-title black-text">{{wedding.name | uppercase}}</a>-->

    <a materialize="sideNav" [materializeParams]="sidenavParams" [materializeActions]="sidenavActions"
       data-activates="nav-mobile" class="button-collapse hide-on-large-only">
      <i class="material-icons white-text">menu</i>
    </a>

    <ul class="right hide-on-med-and-down">

      <li routerLinkActive='active' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="black-text" style="color:white!important" routerLink="/">Início</a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" style="color:white!important" href="https://www.youtube.com/channel/UCo7-pMI2Sk_tQGLp7ROM4uA" target="_blank">Ao vivo</a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" style="color:white!important" routerLink="testemunhos">Testemunhos</a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" style="color:white!important" routerLink="ministerios">Ministérios</a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" style="color:white!important" routerLink="contato">Contato</a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" style="color:white!important" routerLink="localizacao">Localização</a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" style="color:white!important" routerLink="pastores/valdir-maia">Pr. Valdir Maia</a>
      </li>

      <li routerLinkActive="active">
        <a class="black-text" style="color:white!important" (click)="toSystem()">Acesso</a>
      </li>

    </ul>

    <ul id="nav-mobile" class="side-nav">

      <li>
        <a><i class="material-icons" (click)="close()" >close</i></a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" routerLink="" (click)="close()">Início</a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" href="https://www.youtube.com/channel/UCo7-pMI2Sk_tQGLp7ROM4uA" target="_blank" (click)="close()">Ao vivo</a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" routerLink="testemunhos" (click)="close()">Testemunhos</a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" routerLink="ministerios" (click)="close()">Ministérios</a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" routerLink="contato" (click)="close()">Contato</a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" routerLink="localizacao" (click)="close()">Localização</a>
      </li>
      <li routerLinkActive="active">
        <a class="black-text" routerLink="pastores/valdir-maia" (click)="close()">Pr. Valdir Maia</a>
      </li>

      <li routerLinkActive="active">
        <a class="black-text" (click)="toSystem(); close()">Acesso</a>
      </li>
    </ul>
  </div>
</nav>
