<div class='container push-top-and-bottom-25' style='margin-top: 0 !important;'>

  <in-progress></in-progress>

</div>

<div class='container push-top-and-bottom-25'>

  <div class='mat-tab-label-content' style='text-align: center;margin-bottom: 10px'>Nossos clientes</div>

  <sistema-closed-positions></sistema-closed-positions>

</div>

<div class='container push-top-and-bottom-25'>

  <div class='mat-tab-label-content' style='text-align: center;margin-bottom: 10px'>Nossos planos</div>

  <mat-tab-group>
    <mat-tab *ngFor='let plano of planos' label='{{plano?.nome}}'>
      <ng-template matTabContent>
        <sistema-open-positions [plano]='plano'></sistema-open-positions>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>
