<search-bar>

  <mat-form-field style='margin-left:0; margin-right: 0' flex
                  [ngStyle]="{'margin-top': (pageRequest?.defaultFilter?.length ? '14px' : '28px')}">
    <mat-chip-list #defaultFilterChipList aria-label='Pesquisar por e-mail'>

      <mat-chip *ngFor='let defaultFilter of pageRequest.defaultFilter'
                (removed)='removeDefaultFilter(defaultFilter)' style='max-width: 100%'>
        {{defaultFilter}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

      <input [matChipInputFor]='defaultFilterChipList'
             (ngModelChange)='defaultFilterChanged($event)'
             (matChipInputTokenEnd)='addDefaultFilter($event)'
             [(ngModel)]='defaultFilter' [ngModelOptions]='{standalone: true}'
             placeholder='Pesquisar por e-mail' [matChipInputAddOnBlur]='true'>

    </mat-chip-list>
  </mat-form-field>

</search-bar>

<!--Listagem-->
<div layout='row' layout-align='center start'>
  <div layout='column' flex='90'>

    <div class='tc-grey-500 size-height-50'
         layout='row' layout-align='start center'>
      <span> Resultado da pesquisa </span>
      <div flex></div>
      <span> {{ page?.totalElements}} resultados </span>
    </div>

    <div class='mat-elevation-z4' id='default-table'>

      <mat-table matSortDisableClear
                 matSortActive='nome'
                 matSortDirection='asc'
                 [dataSource]='dataSource'
                 #table matSort class='bgc-grey-50'>

        <ng-container matColumnDef='email'>
          <mat-header-cell *matHeaderCellDef
                           [matTooltipPosition]='"left"'
                           matTooltip='Ordernar pelo nome' mat-sort-header
                           flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            Cliente
          </mat-header-cell>
          <mat-cell *matCellDef='let conta'
                    flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            <avatar style='margin-left: 0;margin-bottom: 3px;'
                    layout-margin class='image-cover' [size]='0.2'
                    [usuario]="{'id': conta?.id , 'foto': conta?.usuario?.thumbnailPath}">
            </avatar>
            <div layout-margin layout='column'>
              <span>{{conta?.usuario?.nome}}</span>
              <span *ngIf='conta?.usuario?.documento' [@fadeInOut]
                    style='color: #607d8b'>CPF: {{conta?.usuario?.documento | documento}}</span>
              <span style='color: gray'>{{conta?.email}}</span>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef='displayedColumns'>
        </mat-header-row>

        <mat-row *matRowDef='let conta; columns: displayedColumns'
                 (click)='assumirEsquema(conta?.esquema)' style='cursor: pointer'
                 matTooltip='Selecione o cliente e começe a visualizar seus dados'>
        </mat-row>
      </mat-table>
      <no-records-found [dataSource]='dataSource?.data'></no-records-found>
      <mat-paginator [pageSizeOptions]='[5, 20, 50, 100]'
                     [length]='page.totalElements' style='border-radius: 2px'
                     (page)='listClientesByFilters(pageRequest)' class='bgc-grey-50'>
      </mat-paginator>
    </div>
  </div>
</div>
