<div layout-align="center center" layout-gt-xs="row" layout-margin>
  <div layout="row" flex-gt-xs="80" layout-margin>
    <div flex layout-margin layout='column' layout-align='center center'>

      <div *ngIf='message'
           layout-align='center center'
           flex layout-margin layout='row'>
        <div layout='row'>

          <h1 flex class='mat-headline tc-blue-grey-800 no-margin'>{{message}}</h1>

          <button class='push-left' mat-raised-button (click)='assumirEsquemaPublico()'>
            <span>Voltar ao acesso administrativo</span>
          </button>

        </div>
      </div>

      <mat-card class="bgc-grey-50" layout-margin style="width: calc(100% - 15px)" *ngIf='usuario?.id'>
        <mat-card-content style="margin-left: 35px">

          <visualizar-dados-usuario [usuario]='usuario' *ngIf='usuario?.id'>

            <!--options-->
            <div layout="column" layout-align="start end" flex>
              <div layout="row">
                <button mat-button hide-sm hide-xs *ngIf='!usuario?.conta?.root'
                        class='tc-blue-grey-900' routerLink='minhas-estatisticas'>
                  <mat-icon>show_chart</mat-icon>
                  <span>Minhas estatísticas</span>
                </button>

                <button mat-icon-button routerLink="alterar" class="tc-blue-grey-900">
                  <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="tc-blue-grey-900">
                  <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                  <button mat-menu-item color='primary'
                          routerLink='minhas-estatisticas'
                          hide-gt-sm *ngIf='!usuario?.conta?.root'>
                    <mat-icon>show_chart</mat-icon>
                    <span>Minhas estatísticas</span>
                  </button>

                  <button mat-menu-item color="primary" (click)="alterarMinhaSenha()">
                    <mat-icon>vpn_key</mat-icon>
                    <span>Alterar minha senha</span>
                  </button>
                </mat-menu>
              </div>
            </div>

          </visualizar-dados-usuario>

        </mat-card-content>
      </mat-card>

      <mat-card class='bgc-grey-50'
                style="width: 100%"
                *ngIf='unidades?.length'>
        <visualizar-vinculo-unidade
            [usuario]='usuario'
            [(unidades)]='unidades'
            [(operadores)]='operadores'
            [(avaliaveis)]='avaliaveis'>
        </visualizar-vinculo-unidade>
      </mat-card>
    </div>
  </div>
</div>

