<mat-card [@fadeInOut]
          *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
  <div layout='column' layout-margin>

    <label flex>
      Insira a senha do dispositivo para sair do aplicativo
    </label>

    <div flex layout='row'>
      <mat-form-field flex>
        <input [(ngModel)]='password' matInput
               [ngModelOptions]='{standalone: true}'
               (ngModelChange)='modelChanged.next($event)'
               placeholder='Insira a senha do dispositivo'/>
        <mat-error>
          Insira a senha
        </mat-error>
      </mat-form-field>

      <button flex='20' mat-button class='push-left'
              type='button' (click)='cancelar()'
              style='height: 40px;margin-top: 6px'>
        Cancelar
      </button>
    </div>

  </div>
</mat-card>
