<div layout='column' layout-align='center center' [@fadeInOut]>
  <mat-card style='width: 600px'>
    <mat-card-title class='push' *ngIf='avaliaveis?.length'>
      <div layout='column' layout-align='center center'>
        {{unidadeTipoAvaliacaoDispositivo?.unidadeTipoAvaliacao?.tipoAvaliacao?.selecao}}
      </div>
    </mat-card-title>
    <mat-card-content class='no-margin' style='margin-bottom: 0' *ngIf='avaliaveis?.length'>

      <mat-grid-list cols='{{avaliaveis.length > 6 ? 4 : 3}}' rowHeight='100px' *ngIf='avaliaveis?.length'>
        <mat-grid-tile (click)='avaliavel.selected = !avaliavel.selected; restartTimeout()'
                       [ngStyle]="{'background-color': (avaliavel.selected ? 'lightblue' : '')}"
                       *ngFor='let avaliavel of avaliaveis' mat-ripple [colspan]='1' [rowspan]='2'>
          <div layout='column' layout-align='center center'>
            <div mat-list-avatar style='width: 120px; height: 120px'>
              <avatar class='image-cover' [size]='0.6' [tenant]='mobileService?.dispositivo?.tenant'
                      [usuario]="{'id': avaliavel?.usuario?.id , 'foto': avaliavel?.usuario?.avatarPath}">
              </avatar>
            </div>
            <div
                [ngClass]="{'broken-line': configuracao?.quebrarLinhaNaSelecaoDeItenAvaliavel === true, 'text-truncate': configuracao?.quebrarLinhaNaSelecaoDeItenAvaliavel === false}">
              {{avaliavel?.usuario?.nome}}
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card-content>

    <mat-card-actions>
      <div layout='row' layout-align='center center' flex>

        <div *ngIf='countTiposAvaliacoes > 1' layout='column' layout-margin flex layout-align='end start'>
          {{activatedRoute?.parent?.snapshot?.params?.ordem + '/' + countTiposAvaliacoes}}
        </div>

        <div layout='column' layout-margin flex layout-align='center end'>
          <button mat-button color='primary' (click)='proximo()' layout-align='center end'>
            Próximo
          </button>
        </div>

      </div>
    </mat-card-actions>
  </mat-card>
</div>
