<search-bar>

  <mat-form-field flex style="margin-left:0">
    <input id="filter" name="filter" autofocus
           placeholder="Filtre por nome" matInput
           [(ngModel)]="filter.nome" maxlength="200">
  </mat-form-field>

  <mat-form-field flex>
    <input id="unidadeFilter" name="unidadeFilter"
           placeholder="Selecione a unidade" matInput
           [(ngModel)]="filter.unidades" maxlength="200">
  </mat-form-field>

  <div flex-gt-md></div>

</search-bar>

<!--Listagem-->
<div layout="row" layout-align="center start">

  <div layout="column" flex="90">

    <div class="tc-grey-500 size-height-50" layout="row" layout-align="start center">
      <span *ngIf="atendentes?.length && !unidade?.nome"> Melhores atendentes da rede </span>
      <span *ngIf="atendentes?.length && unidade?.nome"> Meus melhores atendentes em: {{unidade?.nome}} </span>
      <span *ngIf="!atendentes?.length"> Você não possui atendentes vinculados á essa unidade</span>
      <div flex></div>
      <span *ngIf="atendentes?.length"> Total: {{ atendentes?.length}}</span>
    </div>

    <ranking [rankeavel]="cliente" style='margin-top: -30px'
             *ngFor="let atendente of atendentes | filter:filter :'case-insensitive' | orderBy:'posicao'">


      <div flex
           layout="row"
           layout-margin avatar
           layout-align="center center">
        <button *ngIf='atendente?.media && atendente?.posicao'
                style='height: 45px;
                                border-radius: 50%;
                                min-width: fit-content;
                                margin-top: 145px;
                                margin-left: 8px;
                                margin-right: -56px;
                                max-width: 10px;
                                z-index: 1;'
                mat-raised-button
                color="accent" flex>
          <b>{{atendente?.posicao}}º</b>
        </button>

        <div class='push-top push-right push-bottom'>
          <avatar [usuario]="{'key': atendente?.key , 'foto': atendente?.fotoPath}"></avatar>
        </div>
      </div>

      <mat-accordion vinculos>
        <mat-expansion-panel class='bgc-grey-50' [expanded]='true'>
          <visualizar-vinculo-unidade [usuario]='atendente' *ngIf='atendente?.key'></visualizar-vinculo-unidade>
        </mat-expansion-panel>
      </mat-accordion>

    </ranking>

  </div>

</div>