@import '../../theme';

visualizar-atendente, visualizar-minha-conta {
  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  mat-list-item {
    margin: 0 !important;
  }
}

#date-filters {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: -24px;
  margin-bottom: -3px;
  .mat-form-field-underline {
    height: 0 !important;
  }
}