<header-component>
  <mat-sidenav-container [@routerAnimation]="o.isActivated ? o.activatedRoute : ''">

    <!--    <mat-sidenav [style.background-image]='getBackground(backgroundPath)'-->
    <!--                 *ngIf='conta?.usuario?.isOperador || conta?.isAdministrador'-->
    <!--                 [opened]='isSmallScreen' class='mat-elevation-z5' mode='side'>-->

    <mat-sidenav *ngIf='conta?.isOperador || conta?.isAdministrador'
                 [opened]='isSmallScreen' class='mat-elevation-z5' mode='side'>

      <logged-menu *ngIf='!conta?.root'></logged-menu>

      <logged-root-menu *ngIf='conta?.root'></logged-root-menu>

    </mat-sidenav>

    <router-outlet #o="outlet"></router-outlet>

  </mat-sidenav-container>
</header-component>
