/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import '~nprogress/nprogress.css';
@import '~@covalent/highlight/highlight-theme';
@import '~@covalent/markdown/markdown-theme';

@include covalent-highlight-theme();

@include mat-core();

$roxoclaro: rgb(96, 51, 142);
$roxoforte: rgb(74, 33, 116);
$verde: rgb(100, 147, 46);

$mat-roxo: (
        50: #f3e5f5,
        100: #e1bee7,
        200: #ce93d8,
        300: #ba68c8,
        400: #ab47bc,
        500: #9c27b0,
        600: #8e24aa,
        700: #7b1fa2,
        800: #6a1b9a,
        850: $roxoclaro,
        900: $roxoforte,
        A100: #ea80fc,
        A200: #e040fb,
        A400: #d500f9,
        A700: #aa00ff,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: white,
                400: white,
                500: $white-87-opacity,
                600: $white-87-opacity,
                700: $white-87-opacity,
                800: $white-87-opacity,
                900: $white-87-opacity,
                A100: $black-87-opacity,
                A200: white,
                A400: white,
                A700: white,
        )
);

$mat-verde: (
        50: #eceff1,
        100: #d4dcd9,
        200: #b3c5b8,
        300: $verde,
        400: #679c6c,
        500: #4caf50,
        600: #6eff72,
        700: #47a64a,
        800: #2c662e,
        900: #214d22,
        1000: #102611,
        B100: #6eff72,
        B65: #47a64a,
        B40: #2c662e,
        B30: #214d22,
        B15: #102611,
        contrast: (
                500: white,
                B100: white,
                B65: white,
                B40: white,
                B30: white,
                B15: white,
        )
);

$primary: mat-palette($mat-verde);
$accent: mat-palette($mat-roxo, 900);
$warn: mat-palette($mat-red, 300);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

.avatar {
  img {
    border-radius: 50%;
  }
}

.size-155 {
  height: 155px;
  width: 155px;
}

.size-200 {
  height: 200px;
  width: 200px;
}

.size-40 {
  height: 40px;
  width: 40px;
}

mat-toolbar {
  min-height: 64px;
}

.no-margin {
  margin: 0
}

@media screen and (max-width: 800px) {
  .assessment-content-dialog {
    width: inherit;
  }
}

.image-cover {
  object-fit: cover;
  object-position: 50%;
}

//Override
.md2-datepicker-placeholder {
  font-size: 16px;
}

//Override
.md2-datepicker-input-focused {
  color: $roxoforte !important;
  border-color: $roxoforte !important;
}

.app-container {
  min-height: calc(100% - 80px); //100% menos a altura do footer
}

.hide {
  display: none;
}

//Exibe enter e espaços extras
.text-area {
  white-space: pre-wrap;
}

.button-activate {
  color: $roxoforte !important;
  min-height: 80px;
}

// Referente ao autocomplete - Aumenta o tamanho do options exibido
.mat-autocomplete-panel {
  width: 800px !important;
}

.mat-slide-toggle-bar {
  width: 40px !important;
  height: 25px !important;
  border-radius: 77px !important;
}

.mat-slide-toggle-thumb-container {
  top: 2px !important;
  left: 2px !important;
}

/**
Remove a transparência padrão do mat-icon
Obs:. Remove somente da side-nav
Seta cor padrão ao gaveta lateral
 */
mat-sidenav {
  background-color: $roxoclaro !important;

  mat-icon {
    background-color: $roxoclaro !important;
  }
}

/**
Menu da gaveta lateral
 */
.menu-active {
  background-color: $roxoforte !important;

  div {
    mat-icon {
      margin-left: -4px;
      background-color: #ffffff !important;
      color: $roxoforte !important;
    }
  }

  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #ffffff;
}

//Override
.list-without-link .mat-list-item-content {
  cursor: default !important;
}

//Overrride
.list-pad-none .mat-list-item-content {
  padding: 0 !important;
}

//Override
@media only screen and (max-width: 600px) { //xs
  .responsive-list .mat-list-item-content {
    flex-direction: column !important;
  }
}

.cke_screen_reader_only {
  width: 0 !important;
  height: 0 !important;
}

.filters-card {
  padding-top: 12px !important;
  min-height: 83px;
}

.mat-list, .mat-nav-list {
  padding-top: 0 ! important;
}

//Override
.mat-form-field {
  width: auto;
}

.status-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-top: 25px;
}

.hide-tab-header .mat-tab-label-container {
  display: none !important;
}

.bgc-white {
  background-color: white !important;
}

/**
Alterar a cor do paginator
 */
.mat-paginator-container {
  background-color: #fafafa;
}

/**
Altera o tamanho da linha da tabela
 */
mat-row {
  height: 56px;
}

/**
Sobrescreve .css que define o input com tamanho padrão de 180px
Isso é um BUG do material 5
 */
.mat-form-field-infix {
  width: auto !important;
}

/**
Pinta as fontes dos botões "accent's" (verdes) de branco, no lugar de preto.
 */
button[color='accent'] {
  color: white !important;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: $roxoforte;
}

// Alterar a cor do botão da snackbar
simple-snack-bar {
  .mat-button-wrapper {
    color: $verde !important;
  }
}


mat-table {
  border-radius: 0 !important;
}

mat-card {
  border-radius: 0 !important;
}

mat-paginator {
  border-radius: 0 !important;
}

button {
  border-radius: 0 !important;
}

// ------------------
// Edita o scroll
// ------------------
//::-webkit-scrollbar {
//  width: 7px;
//}
//
///* Track */
//::-webkit-scrollbar-track {
//  box-shadow: inset 0 0 5px gray;
//  border-radius: 0;
//}
//
///* Handle */
//::-webkit-scrollbar-thumb {
//  background: gray;
//  border-radius: 0;
//}
//
///* Handle on hover */
//::-webkit-scrollbar-thumb:hover {
//  background: $roxoclaro;
//}

// Coloca os labels na cor verde
//.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
//  color: $verde !important;
//}

// Alteração da font do chip
mat-chip {
  font-size: 13px;
  .mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
    margin: 1px !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }
}

// FORMULARIO
mat-card {
  border-top: 3px solid $roxoclaro !important;
}
