<mat-card-title class='push'>
  <div layout='column'
       layout-align='center center'>
    Selecione um ou mais atendentes
  </div>
</mat-card-title>
<mat-card-content style='margin-bottom: 0' class="material-ripple">

  <!--<mat-grid-list cols="4" rowHeight="100px" class="material-ripple" data-ripple-color="#3498db">-->
    <!--<mat-grid-tile-->
        <!--[colspan]="tile.cols"-->
        <!--[rowspan]="tile.rows"-->
        <!--*ngFor="let tile of tiles"-->
        <!--[style.background]="tile.color">-->
      <!--{{tile.text}}-->
    <!--</mat-grid-tile>-->
  <!--</mat-grid-list>-->


  <mat-nav-list class='pad-none'>
    <!--todo fazer a altura calculada, dinâmica-->
    <mat-list style="overflow: auto; flex-grow: 1; max-height: 400px">
      <mat-list-item layout='row' layout-align='center center' *ngFor='let atendente of atendentes'
                     style='height: 140px'
                     (click)='atendente.selected = !atendente.selected'
                     [ngStyle]="{'background-color': (atendente.selected ? '#c9e5fd' : '')}">
        <div mat-list-avatar style='width: 120px; height: 120px'>
          <avatar class='image-cover' [size]='0.6'
                  [usuario]="{'key': atendente?.usuario?.key , 'foto': atendente?.usuario?.urlFile}"></avatar>
        </div>
        <div class='push-left' style='margin-top: 7px'> {{atendente?.usuario?.nome}}</div>
      </mat-list-item>
    </mat-list>
  </mat-nav-list>
</mat-card-content>
<mat-card-actions>
  <div layout-align='center end'
       layout='column'
       layout-margin>
    <button layout-align='center end'
            mat-button
            color='primary'
            (click)='concluir()'>
      Concluir
    </button>
  </div>
</mat-card-actions>