mat-card-content {
  margin-bottom: 0;
  padding: 0;
}

div {
  font-size: 25px;
}

mat-checkbox {
  div {
    height: 40px;
    margin-top: 17px;
  }
}

button {
  height: 50px;
  width: 125px;
  font-size: 25px
}

mat-grid-tile {
  background: lightblue;
}