<div [formGroup]='form.controls.pessoaJuridica' layout='column'>
  <div layout='row' layout-margin>
    <mat-form-field flex>
      <input matInput name='cnpj' id='cnpj'
             [(ngModel)]='cliente.documento' required
             placeholder='CNPJ' formControlName='cnpj'
             [textMask]='{mask: masks.cnpj, guide: false}'>
      <mat-error *ngIf="form?.controls?.pessoaJuridica?.controls['cnpj']?.hasError('exception')">
        {{form?.controls?.pessoaJuridica?.controls['cnpj']?.errors?.exception}}
      </mat-error>
      <mat-error *ngIf="form?.controls?.pessoaJuridica?.controls['cnpj']?.hasError('required')">
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>
  </div>
</div>
