<div layout='column'>
  <form [formGroup]='form' (ngSubmit)='logout(form)' novalidate>
    <div layout='column' layout-margin>

      <label flex>
        Insira uma senha administrativa para sair do aplicativo
      </label>

      <div flex layout='row'>
        <mat-form-field flex='75'>
          <input id='password' name='password' matInput type='password'
                 [(ngModel)]='password' placeholder='Sua senha' formControlName='password'/>
          <mat-error>
            Insira a senha
          </mat-error>
        </mat-form-field>

        <button flex class='push-left' color='accent'
                style='height: 40px' mat-raised-button>
          Enviar
        </button>
      </div>

    </div>
  </form>
</div>
