<form *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'"
      [formGroup]='form' (ngSubmit)='sendFeedback(feedback)' novalidate layout='column' layout-align='center center'>
  <mat-card style="width: 600px">
    <!--<mat-card-title class="push">-->
    <!--{{configuracao?.feedbackEnunciado}}-->
    <!--</mat-card-title>-->
    <mat-card-content>
      <div layout="column" layout-margin>
        <mat-form-field flex>
          <textarea style='min-height: 100px' required
                    (ngModelChange)='clearTimeout()' matInput
                    maxlength='250' formControlName='feedback'
                    placeholder='{{configuracao?.feedbackEnunciado}}'
                    id='feedback' name='feedback' [(ngModel)]='feedback'>
          </textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</form>
