<mat-card class='push-none bgc-grey-50 filters-card'>
  <div layout='row' layout-align='center center'>
    <div layout-gt-sm='row' layout-sm='column' flex='90' layout-align-gt-sm='start center' layout-margin>

      <div layout='row' flex-gt-sm layout-margin>
        <td-chips name='fornecedor' id='fornecedor'
                  placeholder='Fornecedor' flex='100'
                  (inputChange)='findFornecedores($event)'
                  [items]='fornecedoresList' [(ngModel)]='filtro.fornecedores'
                  [ngModelOptions]='{standalone: true}' style='margin-left: -6px !important'
                  (add)='onChangeFilters(filtro)' (remove)='onChangeFilters(filtro)'
                  [disabled]="authenticatedUser?.perfil == 'FORNECEDOR'" requireMatch>
          <ng-template td-chip let-chip='chip'>
            {{chip?.nome}} - {{chip?.documento | documento}}
          </ng-template>
          <ng-template td-autocomplete-option let-option='option'>
            {{option?.nome}} - {{option?.documento | documento}}
          </ng-template>
        </td-chips>
      </div>

      <div layout-gt-xs='row' layout-xs='column' layout-margin class='push-top'>
        <mat-checkbox name='vidro' id='vidro' flex
                      (change)='onChangeFilters(filtro)'
                      [(ngModel)]='filtro.areasAtuacao[0].checked'>
          Vidro
        </mat-checkbox>
        <mat-checkbox name='papel' id='papel' flex
                      (change)='onChangeFilters(filtro)'
                      [(ngModel)]='filtro.areasAtuacao[1].checked'>
          Papel
        </mat-checkbox>
        <mat-checkbox name='metal' id='metal' flex
                      (change)='onChangeFilters(filtro)'
                      [(ngModel)]='filtro.areasAtuacao[2].checked'>
          Metal
        </mat-checkbox>
        <mat-checkbox name='plastico' id='plastico' flex
                      (change)='onChangeFilters(filtro)'
                      [(ngModel)]='filtro.areasAtuacao[3].checked'>
          Plástico
        </mat-checkbox>
        <mat-checkbox name='organico' id='organico' flex
                      (change)='onChangeFilters(filtro)'
                      [(ngModel)]='filtro.areasAtuacao[4].checked'>
          Orgânico
        </mat-checkbox>
        <button mat-raised-button
                hide-md hide-lg hide-xl
                class='bgc-blue-grey-50 push-right'
                (click)='toggleShowPesquisaAvancada()'>
          Pesquisa avançada
        </button>

        <add-button hide-md hide-lg hide-xl routerLink='inserir'></add-button>
      </div>

      <div hide-sm hide-xs flex='12'></div>

      <button hide-sm hide-xs
              mat-raised-button
              class='bgc-blue-grey-50 push-right'
              (click)='toggleShowPesquisaAvancada()'>
        Pesquisa avançada
      </button>

      <add-button hide-sm hide-xs routerLink='inserir'></add-button>

    </div>
  </div>
</mat-card>


<!--Pesquisa avançada-->
<mat-card class='push-none bgc-grey-50 filters-card-avanced' *ngIf='showPesquisaAvancada'>
  <div layout='row' layout-align='center center'>
    <div layout-gt-sm='row' layout-sm='column' flex='90' layout-align-gt-sm='start center' layout-margin>

      <div layout='row' flex-gt-sm layout-margin>
        <td-chips placeholder='Ponto de coleta' flex
                  name='pontosColeta' id='pontosColeta'
                  (inputChange)='findPontosColeta($event)'
                  [items]='pontosColetaList' [(ngModel)]='filtro.pontosColeta'
                  (add)='onChangeFilters(filtro)' (remove)='onChangeFilters(filtro)'
                  [ngModelOptions]='{standalone: true}' style='margin-left: -6px !important' requireMatch>
          <ng-template td-chip let-chip='chip'>
            {{chip?.nome}} - {{chip?.endereco?.numero}}, {{chip?.endereco?.logradouro}}, {{chip?.endereco?.bairro}},
            {{chip?.endereco?.cidade?.nome}}/{{chip?.endereco?.cidade?.estado?.uf}}
          </ng-template>
          <ng-template td-autocomplete-option let-option='option'>
            {{option?.nome}} - {{option?.endereco?.numero}}, {{option?.endereco?.logradouro}},
            {{option?.endereco?.bairro}}, {{option?.endereco?.cidade?.nome}}/{{option?.endereco?.cidade?.estado?.uf}}
          </ng-template>
        </td-chips>
      </div>

      <div layout='row' layout-margin>
        <mat-form-field flex style='margin-bottom: -14px;padding-top: 0px;'>
          <input matInput min='1'
                 placeholder='Peso mínimo'
                 [(ngModel)]='filtro.pesoMinimo'
                 layout-margin flex-sm='25' flex
                 id='pesoMinimo' name='pesoMinimo' type='number'>
          <span matSuffix>kg</span>
        </mat-form-field>
        <mat-form-field flex style='margin-bottom: -14px;padding-top: 0px;'>
          <input matInput min='1'
                 placeholder='Peso máximo'
                 [(ngModel)]='filtro.pesoMaximo'
                 layout-margin flex-sm='25' flex
                 id='pesoMaximo' name='pesoMaximo' type='number'>
          <span matSuffix>kg</span>
        </mat-form-field>
        <div class="push-top" layout-margin="">
          <mat-checkbox id='contaminado' flex
                        [(ngModel)]='filtro.contaminado'
                        (change)='onChangeFilters(filtro)'>
            Contaminado
          </mat-checkbox>
          <mat-checkbox id='naoContaminado' flex
                        (change)='onChangeFilters(filtro)'
                        [(ngModel)]='filtro.naoContaminado'>
            Não contaminado
          </mat-checkbox>
        </div>
        <button color='accent'
                mat-raised-button
                class='push-right'
                hide-md hide-lg hide-xl
                (click)='onChangeFilters(filtro)'>
          Pesquisar
        </button>

        <close-button hide-md hide-lg hide-xl (click)='hidePesquisaAvancada()'></close-button>
      </div>

      <div hide-sm hide-xs flex='12'></div>

      <button color='accent'
              hide-sm hide-xs
              mat-raised-button
              class='push-right'
              (click)='onChangeFilters()'>
        Pesquisar
      </button>

      <close-button hide-sm hide-xs (click)='hidePesquisaAvancada()'></close-button>

    </div>
  </div>
</mat-card>

<div layout='row' layout-align='center start'>
  <div layout='column' flex='90'>

    <div class='tc-grey-500 size-height-50' layout='row' layout-align='start center'>
      <span> Resultado da pesquisa </span>
      <div flex></div>
      <span> {{ page?.totalElements}} resultados </span>
    </div>

    <div class='mat-elevation-z4'>

      <mat-table matSortDisableClear
                 matSortActive='nome'
                 matSortDirection='asc'
                 #table matSort class='bgc-grey-50'
                 [dataSource]='dataSource' style='border-radius: 2px;'>

        <ng-container matColumnDef='ficha.areaAtuacao.tipoResiduo'>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
          <mat-cell *matCellDef='let entrada'>
            {{
            entrada.ficha.areaAtuacao.tipoResiduo === 'VIDRO' ? 'Vidro' : entrada.ficha.areaAtuacao.tipoResiduo ===
            'PAPEL' ? 'Papel' :
            entrada.ficha.areaAtuacao.tipoResiduo === 'METAL' ? 'Metal': entrada.ficha.areaAtuacao.tipoResiduo ===
            'PLASTICO' ? 'Plástico' :
            entrada.ficha.areaAtuacao.tipoResiduo === 'ORGANICO' ? 'Orgânico' : 'Orgânico'
            }}
          </mat-cell>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef='ficha.areaAtuacao.fornecedor.documento'>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Fornecedor</mat-header-cell>
          <mat-cell *matCellDef='let entrada'>{{ entrada.ficha.areaAtuacao.fornecedor.documento | documento}}</mat-cell>
        </ng-container>

        <!-- documento Column -->
        <ng-container matColumnDef='nivelContaminacao'>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Contaminação</mat-header-cell>
          <mat-cell *matCellDef='let entrada'>{{ entrada.nivelContaminacao ? 'Sim' : 'Não'}}</mat-cell>
        </ng-container>

        <!-- responsavel Column -->
        <ng-container matColumnDef='pontoColeta.nome'>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Ponto de coleta</mat-header-cell>
          <mat-cell *matCellDef='let entrada'>{{ entrada.pontoColeta.nome }}</mat-cell>
        </ng-container>

        <!-- contatoTelefonico Column -->
        <ng-container matColumnDef='peso'>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Peso</mat-header-cell>
          <mat-cell *matCellDef='let entrada'>{{ entrada.peso }} kg</mat-cell>
        </ng-container>

        <mat-header-row
            *matHeaderRowDef="['ficha.areaAtuacao.tipoResiduo', 'ficha.areaAtuacao.fornecedor.documento', 'nivelContaminacao', 'pontoColeta.nome', 'peso']">
        </mat-header-row>

        <mat-row *matRowDef='let entrada; columns: displayedColumns'
                 routerLink='{{entrada.id}}' style='cursor: pointer'>
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]='[10, 20, 50, 100]'
                     (page)='listEntradas()' class='bgc-grey-50'
                     [length]='page.totalElements' style='border-radius: 2px'>
      </mat-paginator>
    </div>
  </div>
</div>