<div layout-align='center center' layout-gt-xs='row' layout-margin>
  <div layout='row' flex-gt-xs='80' layout-margin>
    <div flex layout-margin>
      <mat-card class='bgc-grey-50' layout-margin>
        <form [formGroup]='form' (ngSubmit)='saveCliente(form)' novalidate
              *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
          <mat-card-content>
            <div layout-margin>

              <!--cabeçalho div-->
              <ng-content select="[header]"></ng-content>

              <!--dados e foto div-->
              <div layout-gt-sm='row' flex>
                <!--<div flex>-->
                <div layout='column' flex layout-align='center center'>
                  <div flex>
                    <avatar [usuario]="{'id': cliente.id , 'foto': fotoPath}"></avatar>
                  </div>
                  <div flex *ngIf='fotoPath'>
                    <button type='button' (click)='removeFile()' class='tc-grey-500' mat-button>
                      REMOVER FOTO
                    </button>
                  </div>
                  <div flex *ngIf='!fotoPath'>
                    <td-file-upload defaultColor='primary'
                                    #singleFileUpload name='file'
                                    (change)='fileChange($event)'
                                    accept='.png, .gif, .jpg, .jpeg'>
                      <span>{{ singleFileUpload?.files?.name }}</span>
                      <ng-template td-file-input-label>
                        <mat-icon>attach_file</mat-icon>
                        <span>Adicionar foto</span>
                      </ng-template>
                    </td-file-upload>
                  </div>
                </div>

                <!--dados div-->
                <div layout='column' flex-gt-sm='70'>
                  <div layout='row' layout-margin>
                    <mat-form-field flex>
                      <input placeholder='Nome'
                             formControlName='nome'
                             maxlength='200' required
                             [(ngModel)]='cliente.nome'
                             id='nome' name='nome' matInput>
                      <mat-error>
                        Nome é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div layout='row' layout-margin>
                    <mat-form-field flex>
                      <input [(ngModel)]='cliente.conta.email'
                             placeholder='E-mail' maxlength='144'
                             type='email' formControlName='email'
                             matInput name='email' id='email' required
                             pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$'>
                      <mat-error *ngIf="form.controls['email'].hasError('pattern')">
                        E-mail inválido, utilize o formato 'email@email.com'
                      </mat-error>
                      <mat-error *ngIf="form.controls['email'].hasError('required')">
                        E-mail é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div layout="row">
                    <div flex>
                      <usuario-pessoa-juridica-form [form]='form'
                                                    [cliente]='cliente' flex
                                                    *ngIf='cliente.souEmpresa'>
                      </usuario-pessoa-juridica-form>

                      <usuario-pessoa-fisica-form [form]='form'
                                                  [cliente]='cliente' flex
                                                  *ngIf='!cliente.souEmpresa'>
                      </usuario-pessoa-fisica-form>
                    </div>

                    <div layout='column'>
                      <mat-checkbox name='isEmpresa' flex
                                    [(ngModel)]='cliente.souEmpresa'
                                    [ngModelOptions]='{standalone: true}'
                                    style='margin-top: 35px; margin-right: 20px;'>
                        Sou empresa
                      </mat-checkbox>
                    </div>
                  </div>
                  <div layout="row" layout-margin>
                    <mat-form-field flex>
                      <input [(ngModel)]="cliente.conta.password"
                             placeholder="Senha da conta" required
                             matInput name="password" id="password"
                             type="password" formControlName="password">
                      <mat-error *ngIf="form?.controls['password'].hasError('exception')">
                        {{form?.controls['password']?.errors.exception}}
                      </mat-error>
                      <mat-error *ngIf="form.controls['password'].hasError('required')">
                        A senha é obrigatória
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field flex>
                      <input matTooltip="Confirmação de senha da conta"
                             placeholder="Confirmação de senha da conta"
                             name="confirmacaoPassword" id="confirmacaoPassword"
                             [(ngModel)]="confirmacaoPassword" required matInput
                             type="password" formControlName="confirmacaoPassword">
                      <mat-error *ngIf="form?.controls['confirmacaoPassword'].hasError('exception')">
                        {{form?.controls['confirmacaoPassword']?.errors.exception}}
                      </mat-error>
                      <mat-error *ngIf="form.controls['confirmacaoPassword'].hasError('required')">
                        A confirmação de senha é obrigatória
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div layout='row' flex layout-margin layout-align='end center'>
                    <re-captcha siteKey='{{cliente?.siteKey}}' id='recaptchaReactive'
                                (resolved)='resolved($event)' layout-align='end center'
                                required #reCaptcha style='margin-right: 6px; margin-top: -12px'>
                    </re-captcha>
                  </div>
                </div>
              </div>

              <!-- actions -->
              <ng-content select="[actions]"></ng-content>

            </div>

          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>
