<div layout-align='center center' layout-gt-xs='row' layout-margin>
  <div layout='row' flex-gt-xs='80' layout-margin>
    <div flex layout-margin>
      <mat-card class='bgc-grey-50' layout-margin>
        <form [formGroup]='form' (ngSubmit)='saveCliente(form)' novalidate
              *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
          <mat-card-content>
            <div layout-margin>

              <!--cabeçalho div-->
              <ng-content select="[header]"></ng-content>

              <!--dados e foto div-->
              <div layout-gt-sm='row' flex>
                <!--<div flex>-->
                <div layout='column' flex layout-align='center center'>
                  <div flex>
                    <avatar [usuario]="{'id': cliente.id , 'foto': fotoPath}"></avatar>
                  </div>
                  <div flex *ngIf='fotoPath'>
                    <button type='button' (click)='removeFile()' class='tc-grey-500' mat-button>
                      REMOVER FOTO
                    </button>
                  </div>
                  <div flex *ngIf='!fotoPath'>
                    <td-file-upload #singleFileUpload
                                    defaultColor='primary'
                                    (change)='fileChange($event)'
                                    name="file"
                                    accept='.png, .gif, .jpg, .jpeg'>
                      <span>{{ singleFileUpload?.files?.name }}</span>
                      <ng-template td-file-input-label>
                        <mat-icon>attach_file</mat-icon>
                        <span>Adicionar foto</span>
                      </ng-template>
                    </td-file-upload>
                  </div>
                </div>

                <!--dados div-->
                <div layout='column' flex-gt-sm='70'>
                  <div layout='row' layout-margin>
                    <mat-form-field flex>
                      <input placeholder='Nome'
                             formControlName='nome'
                             maxlength='200' required
                             [(ngModel)]='cliente.nome'
                             id='nome' name='nome' matInput>
                      <mat-error>
                        Nome é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div layout='row' layout-margin>
                    <mat-form-field flex>
                      <input [(ngModel)]='cliente.conta.email'
                             matInput name='email' id='email'
                             type='email' formControlName='email'
                             placeholder='E-mail' maxlength='144' required
                             pattern='[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$'>
                      <mat-error *ngIf="form.controls['email'].hasError('pattern')">
                        E-mail inválido, utilize o formato 'email@email.com'
                      </mat-error>
                      <mat-error *ngIf="form.controls['email'].hasError('required')">
                        E-mail é obrigatório
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div layout="row" layout-margin>
                    <mat-form-field flex>
                      <input matInput name="password" id="password"
                             [(ngModel)]="cliente.conta.password"
                             type="password" formControlName="password"
                             placeholder="Senha da conta" required>
                      <mat-error *ngIf="form?.controls['password'].hasError('exception')">
                        {{form?.controls['password']?.errors.exception}}
                      </mat-error>
                      <mat-error *ngIf="form.controls['password'].hasError('required')">
                        A senha é obrigatória
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field flex>
                      <input matInput name="confirmacaoPassword" id="confirmacaoPassword"
                             [(ngModel)]="confirmacaoPassword" required
                             type="password" formControlName="confirmacaoPassword"
                             matTooltip="Confirmação de senha da conta"
                             placeholder="Confirmação de senha da conta">
                      <mat-error *ngIf="form?.controls['confirmacaoPassword'].hasError('exception')">
                        {{form?.controls['confirmacaoPassword']?.errors.exception}}
                      </mat-error>
                      <mat-error *ngIf="form.controls['confirmacaoPassword'].hasError('required')">
                        A confirmação de senha é obrigatória
                      </mat-error>
                    </mat-form-field>
                  </div>

                </div>
              </div>

              <!-- actions -->
              <ng-content select="[actions]"></ng-content>

            </div>

          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>