<!--<mat-card layout-margin-->
          <!--style='padding: 0 0 0 0; margin: 5px; border-radius: 2px; cursor: pointer;-->
                  <!--box-shadow: 0 3px 1px -2px rgba(187, 185, 185, 0.2), 0 2px 2px 0 rgba(191, 191, 191, 0.14), 0 1px 5px 0 rgba(208, 208, 208, 0.12);'>-->

  <!--<div id="background" class="responsive-img" [ngStyle]="{'background-image': 'url(' + object?.image + ')'}">-->

  <!--</div>-->
  <div class="gallery-curve-wrapper">
    <a class="gallery-cover gray">
      <img src="{{object?.image}}"
           class="responsive-img"
           *ngIf='object?.image' alt="placeholder">
    </a>
    <div class="gallery-header">
      <span>{{object?.nome}}</span>
    </div>
  </div>

  <!--<div class="gallery-header" style="border-radius: 2px">-->
    <!--<span>{{object?.nome}}</span>-->
  <!--</div>-->

<!--</mat-card>-->


