<div layout-align="center center" layout-gt-xs="row" layout-margin *ngIf='licenca'>
  <div layout="row" flex-gt-xs="80" layout-margin>
    <div flex layout-margin>

      <mat-card class="bgc-grey-50">
        <form [formGroup]='form' (ngSubmit)='saveForm(form)' novalidate>
          <mat-card-content>

            <div layout='column' layout-margin style='/*margin-top: 20px; padding-bottom: 25px*/'>

              <!--cabeçalho div-->
              <ng-content select="[header]"></ng-content>

              <div layout='row' layout-align='start center'>
                <div layout='row' flex class='push-left'>

                  <mat-form-field flex layout-margin>
                    <input [(ngModel)]='licenca.nome'
                           matInput name='nome' id='nome'
                           placeholder='Nome do licença'
                           formControlName='nome' maxlength='144'>
                    <mat-error>
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>

              <div layout='row' layout-align='start center'>
                <div layout='row' flex class='push-left'>
                  <mat-form-field flex='30' layout-margin>
                    <input matInput type='number' name='time' id='time'
                           formControlName='time' [(ngModel)]='licenca.time'
                           placeholder='Tempo de espera entre as avaliações (Em segundos)'>
                    <mat-error *ngIf="form.controls['time']?.hasError('exception')">
                      {{form?.controls['time']?.errors.exception}}
                    </mat-error>
                    <mat-error *ngIf="form?.controls['time']?.hasError('required')">
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>

                  <mat-checkbox style='padding: 20px' flex
                                [ngModelOptions]='{standalone: true}'
                                [(ngModel)]='licenca.quebrarLinhaNaSelecaoDeItemAvaliavel'>
                    Quebrar linha durante a seleção de itens avaliáveis
                  </mat-checkbox>
                </div>
              </div>

              <div layout='row' layout-align='start center'>
                <div layout='row' flex class='push-left' layout-margin>

                  <mat-slide-toggle [ngModelOptions]='{standalone: true}' [(ngModel)]='licenca.interna' layout-margin>
                    <span
                            class='tc-grey-600'>{{licenca.interna ? 'Interna: De uso exclusivo para o aplicativo móvel' : 'De uso externo (sites, homepages, etc ...)'  }}</span>
                  </mat-slide-toggle>

                  <opcoes-mobile *ngIf='licenca.interna' [licenca]='licenca' layout-margin></opcoes-mobile>

                  <opcoes-site *ngIf='!licenca.interna' [licenca]='licenca' layout-margin></opcoes-site>

                </div>
              </div>

              <!--divider-->
              <ng-content select="[divider]"></ng-content>

              <ng-content select="[configurarUnidadesTiposAvaliacoes]"></ng-content>

              <ng-content select="[divider2]"></ng-content>

              <div layout='column' layout-margin>
                <div layout='row' layout-align='start center'>

                  <div layout='row' layout-margin>
                    <h1 class='mat-headline tc-grey-500' flex> Dados de pagamento</h1>
                  </div>
                </div>
              </div>

            </div>

            <!-- actions -->
            <ng-content select="[actions]"></ng-content>

          </mat-card-content>
        </form>
      </mat-card>

    </div>
  </div>
</div>
