<div layout-align="center center" layout-gt-xs="row" layout-margin>
  <div layout="row" flex-gt-xs="80" layout-margin>
    <div flex layout-margin>

      <mat-card class="bgc-grey-50">
        <form [formGroup]='form' (ngSubmit)='saveForm(form)' novalidate>
          <mat-card-content>

            <div layout='column' layout-margin style='/*margin-top: 20px; padding-bottom: 25px*/'>

              <!--cabeçalho div-->
              <ng-content select="[header]"></ng-content>

              <div layout='row' layout-align='start center'>
                <div layout='row' flex class='push-left'>

                  <mat-form-field flex layout-margin>
                    <input [(ngModel)]='licenca.nome'
                           matInput name='nome' id='nome'
                           placeholder='Nome do licenca'
                           formControlName='nome' maxlength='144'>
                    <mat-error>
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>

              <div layout='row' layout-align='start center'>
                <div layout='row' flex class='push-left'>
                  <mat-form-field flex='30' layout-margin>
                    <input matInput type='number' name='time' id='time'
                           formControlName='time' [(ngModel)]='licenca.time'
                           placeholder='Tempo de espera entre as avaliações (Em segundos)'>
                    <mat-error *ngIf="form.controls['time']?.hasError('exception')">
                      {{form?.controls['time']?.errors.exception}}
                    </mat-error>
                    <mat-error *ngIf="form?.controls['time']?.hasError('required')">
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>

                  <mat-checkbox style='padding: 20px' flex
                                [ngModelOptions]='{standalone: true}'
                                [(ngModel)]='licenca.quebrarLinhaNaSelecaoDeItemAvaliavel'>
                    Quebrar linha durante a seleção de ítens avaliáveis (no aplicativo móvel)
                  </mat-checkbox>
                </div>
              </div>

              <div layout='row' layout-align='start center'>
                <div layout='row' flex class='push-left' layout-margin>

                  <mat-checkbox matTooltip='O tablet não sai do aplicativo' flex='20'
                                (change)="licenca.modoQuiosque ? licenca.modoInsonia = true : ''"
                                [(ngModel)]='licenca.modoQuiosque' [ngModelOptions]='{standalone: true}'>
                    Modo Quiosque
                  </mat-checkbox>

                  <mat-checkbox matTooltip='Enquanto estiver no aplicativo, a tela não adormece' flex='10' flex-sm='30'
                                (change)="!licenca.modoInsonia ? licenca.modoQuiosque = false : ''"
                                [(ngModel)]='licenca.modoInsonia' [ngModelOptions]='{standalone: true}'>
                    Modo Insônia
                  </mat-checkbox>
                </div>
              </div>

              <!--divider-->
              <ng-content select="[divider]"></ng-content>

              <ng-content select="[configurarUnidadesTiposAvaliacoes]"></ng-content>

              <ng-content select="[divider2]"></ng-content>

            </div>

            <!-- actions -->
            <ng-content select="[actions]"></ng-content>

          </mat-card-content>
        </form>
      </mat-card>

    </div>
  </div>
</div>
