<!--<button (click)="logout()">sair</button>-->
<mat-card-title class="push" layout-align="center center">
  <div layout="column" layout-align="center center">
    Como você avalia nosso atendimento?
  </div>
</mat-card-title>
<mat-card-content>
  <div layout-gt-xs="row" layout-xs="column" layout-margin>
    <button mat-button (click)="avaliar(1)">
      <div layout="column" layout-align="center center">
        <mat-icon style="fill: #c21c1f" svgIcon="assets:pessimo"></mat-icon>
        <span>Péssimo</span>
      </div>
    </button>
    <button mat-button (click)="avaliar(2)">
      <div layout="column" layout-align="center center">
        <mat-icon style="fill: #e96d01" svgIcon="assets:ruim"></mat-icon>
        <span>Ruim</span>
      </div>
    </button>
    <button mat-button (click)="avaliar(3)">
      <div layout="column" layout-align="center center">
        <mat-icon style="fill: #d4c40d" svgIcon="assets:regular"></mat-icon>
        <span>Regular</span>
      </div>
    </button>
    <button mat-button (click)="avaliar(4)">
      <div layout="column" layout-align="center center">
        <mat-icon style="fill: #8fc82c" svgIcon="assets:bom"></mat-icon>
        <span>Bom</span>
      </div>
    </button>
    <button mat-button (click)="avaliar(5)">
      <div layout="column" layout-align="center center">
        <mat-icon style="fill: #5ee924" svgIcon="assets:otimo"></mat-icon>
        <span style="margin-left: -7px;">Ótimo</span>
      </div>
    </button>
  </div>
</mat-card-content>
