<search-bar>

  <td-chips style='margin-left:0; margin-top: 9px'
            [(ngModel)]='pageRequest.defaultFilter'
            placeholder="Pesquisar por nome ou e-mail"
            (add)="onChangeFilters()" (remove)="onChangeFilters()"
            flex-sm='30' flex-md="40" flex-gt-md="45" flex-gt-lg="50">
  </td-chips>

  <td-chips [items]="filteredAsync"
            [(ngModel)]='asyncModel'
            requireMatch style='margin-top: 0'
            (inputChange)="filterAsync($event)"
            placeholder="Pesquisar por unidades"
            [debounce]="500" flex="30" flex-sm='30'
            (add)="onChangeFilters()" (remove)="onChangeFilters()">
    <ng-template td-chip let-chip="chip">
      {{chip?.nome}} ({{chip?.endereco?.cidade?.nome }} - {{chip?.endereco?.cidade?.estado?.uf}})
    </ng-template>
    <ng-template td-autocomplete-option let-option="option">
      <div layout="row" layout-align="start center">
        {{option?.nome}} ({{option?.endereco?.cidade?.nome }} - {{option?.endereco?.cidade?.estado?.uf}})
      </div>
    </ng-template>
  </td-chips>

  <div flex-gt-md></div>

  <button hide-sm mat-raised-button
          class="bgc-blue-grey-50 push-right"
          (click)="toggleShowPesquisaAvancada()">
    Filtros avançados
  </button>

  <button hide-gt-sm
          color="accent"
          mat-icon-button flex
          [matTooltipPosition]="'below'"
          matTooltip="Filtros avançados"
          style='color: #0c3e6f !important;'
          (click)="toggleShowPesquisaAvancada()">
    <mat-icon>filter_list</mat-icon>
  </button>

  <add-button routerLink="inserir"
              [matTooltipPosition]="'below'"
              matTooltip="Inserir novo ítem avaliável">
  </add-button>

</search-bar>

<!--Pesquisa avançada-->
<mat-card style='height: 95px'
          *ngIf='showPesquisaAvancada' [@fadeInOut]
          class='push-none bgc-grey-50 filters-card-avanced'>
  <div layout='row'
       layout-align='center center'>
    <div layout-align-gt-sm='start center'
         layout-gt-sm='row' layout-sm='column' flex='90'>

      <div layout='row' flex layout-margin style='margin-top: 15px'>

        <ev-datepicker #dataInicio layout='row'
                       flex style='margin-left: -2px'
                       (dataInputChange)='listUsuariosByDates()'
                       [(dataInput)]='pageRequest.dataInicioFilter'>
          <mat-form-field>
            <input placeholder='Data da avaliação - Início'
                   [(ngModel)]='pageRequest.dataInicioFilter'
                   matInput name='dataInicio' id='dataInicio'
                   [textMask]='{mask: masks.date, guide: false}'>
          </mat-form-field>
        </ev-datepicker>

        <ev-datepicker #dataTermino layout='row' flex
                       (dataInputChange)='listUsuariosByDates()'
                       [(dataInput)]='pageRequest.dataTerminoFilter'>
          <mat-form-field>
            <input style='width: 225px'
                   placeholder='Data da avaliação - Término'
                   [(ngModel)]='pageRequest.dataTerminoFilter'
                   matInput name='dataTermino' id='dataTermino'
                   [textMask]='{mask: masks.date, guide: false}'>
          </mat-form-field>
        </ev-datepicker>

      </div>
      <!--<div hide-sm hide-xs flex='12'></div>-->

      <td-chips [debounce]='500' flex='30'
                requireMatch style='margin-top: -16px'
                [items]='filteredTiposAvaliacoesAsync'
                [(ngModel)]='asyncTiposAvaliacoesModel'
                placeholder='Pesquisar por Tipos de Avaliações'
                (inputChange)='filterTiposAvaliacoesAsync($event)'
                (add)="onChangeFilters()" (remove)="onChangeFilters()">
        <ng-template td-chip let-chip="chip">
          {{chip?.nome}}
        </ng-template>
        <ng-template td-autocomplete-option let-option="option">
          <div layout="row" layout-align="start center">
            {{option?.nome}} ({{option?.enunciado }} - {{option?.selecao}})
          </div>
        </ng-template>
      </td-chips>

      <close-button (click)='hidePesquisaAvancada()' hide-sm hide-xs></close-button>
    </div>
  </div>
</mat-card>

<!--Listagem-->
<div layout='row'
     layout-align='center start'>
  <div layout='column' flex='90'>

    <div class='tc-grey-500 size-height-50'
         layout='row' layout-align='start center'>
      <span> Resultado da pesquisa </span>
      <div flex></div>
      <span> {{ page?.totalElements}} resultados </span>
    </div>

    <div class='mat-elevation-z4'>

      <mat-table matSortDisableClear
                 matSortActive='nome'
                 matSortDirection='asc'
                 [dataSource]='dataSource'
                 #table matSort class='bgc-grey-50'>

        <ng-container matColumnDef='nome'>
          <mat-header-cell *matHeaderCellDef
                           [matTooltipPosition]='"left"'
                           matTooltip='Ordernar pelo nome' mat-sort-header
                           flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            Ítem avaliável
          </mat-header-cell>
          <mat-cell *matCellDef='let usuario'
                    flex-xl='40' flex-gt-md='40' flex-md='40' flex-sm='40'>
            <avatar style='margin-left: 0;margin-bottom: 3px;'
                    layout-margin class='image-cover' [size]='0.2'
                    [usuario]="{'id': usuario?.id , 'foto': usuario?.thumbnailPath}">
            </avatar>
            <div layout-margin layout='column'>
              <span>{{usuario?.nome}}</span>
              <span *ngIf='usuario?.documento' [@fadeInOut]
                    style='color: #607d8b'>{{usuario?.documento | documento}}</span>
              <span style='color: gray'>{{usuario?.conta?.email}}</span>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='avaliacoes1'>
          <mat-header-cell layout-align='center center'
                           *matHeaderCellDef mat-sort-header>
            <div layout='column' layout-align='center center'>
              <mat-icon style='fill: #c21c1f' svgIcon='assets:pessimo'></mat-icon>
              <span>{{configuracao?.um}}</span>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let usuario'
                    layout-align='center center'>
            <div layout='column'
                 class='push-right'
                 layout-align='center center'>
              {{usuario?.avaliacoes1}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='avaliacoes2'>
          <mat-header-cell layout-align='center center'
                           *matHeaderCellDef mat-sort-header>
            <div layout='column' layout-align='center center'>
              <mat-icon style='fill: #e96d01' svgIcon='assets:ruim'></mat-icon>
              <span>{{configuracao?.dois}}</span>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let usuario'
                    layout-align='center center'>
            <div layout='column'
                 class='push-right'
                 layout-align='center center'>
              {{usuario?.avaliacoes2}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='avaliacoes3'>
          <mat-header-cell layout-align='center center'
                           *matHeaderCellDef mat-sort-header>
            <div layout='column' layout-align='center center'>
              <mat-icon style='fill: #d4c40d' svgIcon='assets:regular'></mat-icon>
              <span>{{configuracao?.tres}}</span>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let usuario'
                    layout-align='center center'>
            <div layout='column'
                 class='push-right'
                 layout-align='center center'>
              {{usuario?.avaliacoes3}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='avaliacoes4'>
          <mat-header-cell layout-align='center center'
                           *matHeaderCellDef mat-sort-header>
            <div layout='column' layout-align='center center'>
              <mat-icon style='fill: #8fc82c' svgIcon='assets:bom'></mat-icon>
              <span>{{configuracao?.quatro}}</span>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let usuario'
                    layout-align='center center'>
            <div layout='column'
                 class='push-right'
                 layout-align='center center'>
              {{usuario?.avaliacoes4}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='avaliacoes5'>
          <mat-header-cell layout-align='center center'
                           *matHeaderCellDef mat-sort-header>
            <div layout="column" layout-align="center center">
              <mat-icon style="fill: #5ee924" svgIcon="assets:otimo"></mat-icon>
              <span>{{configuracao?.cinco}}</span>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let usuario'
                    layout-align='center center'>
            <div layout='column'
                 class='push-right'
                 layout-align='center center'>
              {{usuario?.avaliacoes5}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='quantidadeAvaliacoes'>
          <mat-header-cell layout-align='center center'
                           *matHeaderCellDef mat-sort-header>
            <div layout="column" layout-align="center center">
              <span>Quantidade de avaliações</span>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let usuario'
                    layout-align='center center'>
            <div layout='column'
                 class='push-right'
                 layout-align='center center'>
              {{usuario?.quantidadeAvaliacoes}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="media">
          <mat-header-cell layout-align='center center'
                           *matHeaderCellDef mat-sort-header>
            <div layout="column" layout-align="center center">
              <mat-icon style="fill: #000000" svgIcon="assets:media"></mat-icon>
              <span>Média</span>
            </div>
          </mat-header-cell>
          <mat-cell *matCellDef='let usuario'
                    layout-align='center center'>
            <div layout='column'
                 class='push-right'
                 layout-align='center center'>
              {{usuario?.media > 0 ? (usuario?.media | number:'1.0-2' :'pt-BR').replace(',', '.') : 0}}
            </div>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns">
        </mat-header-row>

        <mat-row *matRowDef="let usuario; columns: displayedColumns"
                 routerLink="{{usuario.id}}" style="cursor: pointer">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 20, 50, 100]"
                     [length]="page.totalElements" style="border-radius: 2px"
                     (page)="listUsuariosByFilters(pageRequest)" class="bgc-grey-50">
      </mat-paginator>
    </div>
  </div>
</div>
